<!-- Component: pricing-masco-01 -->
<!-- Tags: imported -->
<section id="pricing" class="py-24 px-6" style="background: var(--color-bg)" data-animate="fade-up">
  <div class="max-w-7xl mx-auto">
<style>
h1,
h2,
h3,
h4,
h5,
h6 { font-size: inherit;
  font-weight: inherit; }
a { color: inherit;
  text-decoration: inherit; }
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre { margin: 0; }
ol,
ul,
menu { list-style: none;
  margin: 0;
  padding: 0; }
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object { display: block;

  vertical-align: middle; }
img,
video { max-width: 100%;
  height: auto; }
h1,
  h2,
  h3,
  h4,
  h5,
  h6 { font-family: var(--font-heading);
  font-weight: 800;
  line-height: 1.05;
  letter-spacing: -2px;
  --tw-text-opacity: 1;
  color: rgb(10 16 47 / var(--tw-text-opacity)); }
h1 { font-size: 46px; }
a,
  button { transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
.absolute { position: absolute; }
.bottom-0 { bottom: 0px; }
.left-0 { left: 0px; }
.right-0 { right: 0px; }
.top-0 { top: 0px; }
.container-default { margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  padding-left: 1rem;
  padding-right: 1rem; }
.breadcrumb-wrapper { position: relative;
  z-index: 10;
  --tw-bg-opacity: 1;
  background-color: rgb(250 249 245 / var(--tw-bg-opacity));
  padding-bottom: 50px;
  padding-top: 105px; }
.breadcrumb-block { display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
.breadcrumb-title { margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  max-width: 500px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -1px; }
.breadcrumb-nav { display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 2.75rem;
       column-gap: 2.75rem; }
.breadcrumb-nav li { position: relative;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity)); }
.breadcrumb-nav li::after { position: absolute;
  right: -2rem;
  top: 50%;
  height: 1.25rem;
  width: 1.25rem;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-image: url(../img/icons/icon-black-chevron-right-solid.svg);
  content: var(--tw-content);
  background-size: cover; }
.breadcrumb-nav li:last-child { font-weight: 600;
  --tw-text-opacity: 1;
  color: rgb(49 71 255 / var(--tw-text-opacity)); }
.breadcrumb-nav li:last-child::after { content: var(--tw-content);
  background-image: none; }
.breadcrumb-nav a { font-weight: 600;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms; }
.breadcrumb-nav a:hover { --tw-text-opacity: 1;
  color: rgb(49 71 255 / var(--tw-text-opacity)); }
.process-tab img:first-child { opacity: 1; }
.process-tab img:last-child { opacity: 0; }
.process-tab.active img:first-child { opacity: 0; }
.process-tab.active img:last-child { opacity: 1; }
h1,h2,h3,h4,h5,h6 { font-size:inherit;font-weight:inherit }
a { color:inherit;text-decoration:inherit }
blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre { margin:0 }
menu,ol,ul { list-style:none;margin:0;padding:0 }
audio,canvas,embed,iframe,img,object,svg,video { display:block;vertical-align:middle }
img,video { max-width:100%;height:auto }
.absolute { position:absolute }
.bottom-0 { bottom:0 }
.left-0 { left:0 }
.right-0 { right:0 }
.top-0 { top:0 }
@media (min-width: 768px) {
  h1 { font-size: 3rem;
    line-height: 1; }
  .container-default { padding-left: 2.5rem;
    padding-right: 2.5rem; }
  .breadcrumb-title { font-size: 3.75rem;
    line-height: 1; }
}
@media (min-width: 992px) {
  h1 { font-size: 68px; }
  .container-default { padding-left: 2rem;
    padding-right: 2rem; }
  .breadcrumb-wrapper { padding-bottom: 70px;
    padding-top: 135px; }
  .breadcrumb-title { margin-bottom: 2.5rem;
    max-width: 768px; }
}
@media (min-width: 1200px) {
  h1 { font-size: 80px; }
  .container-default { padding-left: 2.5rem;
    padding-right: 2.5rem; }
  .breadcrumb-wrapper { padding-bottom: 120px;
    padding-top: 165px; }
  .breadcrumb-title { max-width: 1076px;
    font-size: 70px; }
}
@media (min-width: 1400px) {
  h1 { font-size: 100px; }
  .container-default { padding-left: 50px;
    padding-right: 50px; }
}
@media (min-width: 576px) {
  .container-default { padding-left: 2rem;
    padding-right: 2rem; }
  .breadcrumb-title { font-size: 3rem;
    line-height: 1; }
}
</style>
<section class="section-breadcrumb">
                <!-- Breadcrumb Section Spacer -->
                <div class="breadcrumb-wrapper">
                    <!-- Section Container -->
                    <div class="container-default">
                        <div class="breadcrumb-block">
                            <h1 data-animate="text-split" data-split-type="words" class="breadcrumb-title">{{PRICING_TITLE}}</h1>
                            <ul class="breadcrumb-nav">
                                <li><a href="index.html">Home</a></li>
                                <li>Pricing</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Section Container -->

                    <!-- Breadcrumb Shape - 1 -->
                    <div class="absolute left-0 top-0 -z-10">
                        <img data-animate="scale-in" data-delay="0.3" src="{{PRICING_IMAGE_URL}}" alt="{{PRICING_IMAGE_ALT}}" width="291" height="380" />
                    </div>

                    <!-- Breadcrumb Shape - 2 -->
                    <div class="absolute bottom-0 right-0 -z-[1]">
                        <img data-animate="scale-in" data-delay="0.3" src="{{PRICING_IMAGE_URL_2}}" alt="{{PRICING_IMAGE_ALT_2}}" width="291" height="380" />
                    </div>
                </div>
                <!-- Breadcrumb Section Spacer -->
            </section>
  </div>
</section>
