<!-- Component: cta-foxden-01 -->
<!-- Tags: imported -->
<section id="cta" class="py-24 px-6" style="background: var(--color-bg)" data-animate="fade-up">
  <div class="max-w-7xl mx-auto">
<style>
.fadeInUp { -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }
article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section { display:block }
h1,h2,h3,h4,h5,h6 { margin-top:0;margin-bottom:.5rem }
a { color:var(--color-primary);text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects }
a:hover { color:var(--color-accent, var(--color-secondary));text-decoration:underline }
a:not([href]):not([tabindex]) { color:inherit;text-decoration:none }
a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover { color:inherit;text-decoration:none }
a:not([href]):not([tabindex]):focus { outline:0 }
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 { margin-bottom:.5rem;font-family:inherit;font-weight:500;line-height:1.2;color:inherit }
.h2,h2 { font-size:2rem }
a>code { color:inherit }
.container { width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto }
.row { display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px }
.col,.col-1,.col-10,.col-11,.col-12,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-auto,.col-lg,.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-auto,.col-md,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-auto,.col-sm,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-auto,.col-xl,.col-xl-1,.col-xl-10,.col-xl-11,.col-xl-12,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-auto { position:relative;width:100%;min-height:1px;padding-right:15px;padding-left:15px }
a.btn.disabled,fieldset:disabled a.btn { pointer-events:none }
.navbar>.container,.navbar>.container-fluid { display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between }
.navbar-expand>.container,.navbar-expand>.container-fluid { padding-right:0;padding-left:0 }
.navbar-expand>.container,.navbar-expand>.container-fluid { -ms-flex-wrap:nowrap;flex-wrap:nowrap }
.navbar-light .navbar-text a { color:var(--color-text) }
.navbar-light .navbar-text a:focus,.navbar-light .navbar-text a:hover { color:var(--color-text) }
.navbar-dark .navbar-text a { color:var(--color-bg) }
.navbar-dark .navbar-text a:focus,.navbar-dark .navbar-text a:hover { color:var(--color-bg) }
a.bg-primary:focus,a.bg-primary:hover,button.bg-primary:focus,button.bg-primary:hover { background-color:var(--color-accent, var(--color-secondary))!important }
a.bg-secondary:focus,a.bg-secondary:hover,button.bg-secondary:focus,button.bg-secondary:hover { background-color:var(--color-text-muted)!important }
a.bg-success:focus,a.bg-success:hover,button.bg-success:focus,button.bg-success:hover { background-color:var(--color-accent, var(--color-secondary))!important }
a.bg-info:focus,a.bg-info:hover,button.bg-info:focus,button.bg-info:hover { background-color:var(--color-accent, var(--color-secondary))!important }
a.bg-warning:focus,a.bg-warning:hover,button.bg-warning:focus,button.bg-warning:hover { background-color:var(--color-accent, var(--color-secondary))!important }
a.bg-danger:focus,a.bg-danger:hover,button.bg-danger:focus,button.bg-danger:hover { background-color:var(--color-accent, var(--color-secondary))!important }
a.bg-light:focus,a.bg-light:hover,button.bg-light:focus,button.bg-light:hover { background-color:var(--color-border)!important }
a.bg-dark:focus,a.bg-dark:hover,button.bg-dark:focus,button.bg-dark:hover { background-color:var(--color-accent, var(--color-secondary))!important }
.align-items-center { -webkit-box-align:center!important;-ms-flex-align:center!important;align-items:center!important }
.text-right { text-align:right!important }
a.text-primary:focus,a.text-primary:hover { color:var(--color-accent, var(--color-secondary))!important }
a.text-secondary:focus,a.text-secondary:hover { color:var(--color-text-muted)!important }
a.text-success:focus,a.text-success:hover { color:var(--color-accent, var(--color-secondary))!important }
a.text-info:focus,a.text-info:hover { color:var(--color-accent, var(--color-secondary))!important }
a.text-warning:focus,a.text-warning:hover { color:var(--color-accent, var(--color-secondary))!important }
a.text-danger:focus,a.text-danger:hover { color:var(--color-accent, var(--color-secondary))!important }
a.text-light:focus,a.text-light:hover { color:var(--color-border)!important }
a.text-dark:focus,a.text-dark:hover { color:var(--color-accent, var(--color-secondary))!important }
.glyph div { padding-bottom: 10px; }
h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Unna', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--color-text); }
h2 { font-size: 42px;
    color: var(--color-text);
    margin: 0 0 10px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.5px; }
a,
a:hover { text-decoration: none; }
a:focus { outline: 0;
    text-decoration: none; }
.btn_group a { margin: 5px; }
.btn_group_left a { margin-right: 15px;
    margin-bottom: 15px; }
.default-btn { font-family: var(--font-heading);
    background-color: var(--color-text);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-bg);
    padding: 12px 30px;
    letter-spacing: 1px;
    display: inline-block; }
.default-btn:hover { background-color: var(--color-accent, var(--color-secondary));
    color: var(--color-bg); }
a,
a:hover,
.overlay,
img,
.form-control,
.form-control:hover,
button { -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
ul.nav > li > a { color: var(--color-border);
    font-family: var(--font-body);
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 70px;
    z-index: 1;
    text-transform: uppercase;
    letter-spacing: 2px; }
ul.nav > li > a:hover,
ul.nav > li > a:focus,
ul.nav > li > a.active { background: none;
    color: var(--color-bg);
    opacity: 1; }
.navbar-fixed-top ul.nav > li > a { color: var(--color-text-muted); }
.navbar-fixed-top ul.nav > li > a:hover,
.navbar-fixed-top ul.nav > li > a:focus,
.navbar-fixed-top ul.nav > li.active > a { color: var(--color-text); }
.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row,
.slicknav_nav a,
.slicknav_nav a:hover { -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
.slicknav_nav .slicknav_row,
.slicknav_nav a { padding: 10px 15px;
    margin: 0;
    color: var(--color-text-muted); }
.slicknav_nav a .caret { display: none; }
.slicknav_nav ul li a { padding-left: 30px;
    font-size: 12px; }
.slicknav_nav .slicknav_row:hover,
.slicknav_nav a:hover { background-color: transparent;
    color: var(--color-text); }
.nivo-caption a { display: inline-block !important; }
.nivo-directionNav a { font-size: 25px;
    color: var(--color-bg) !important;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    top: 50%;
    transform: translateY(-50%); }
.nivo-directionNav a:hover { opacity: 1 !important; }
.nivo-controlNav a { background-color: transparent;
    display: inline-block;
    font-size: 0;
    cursor: pointer;
    margin: 0 5px;
    transition: all 0.3s linear;
    line-height: 12px; }
.about-content h2 { font-size: 32px; }
.portfolio-item .media-control li a { display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid var(--color-bg);
    color: var(--color-bg);
    font-size: 12px;
    margin: 5px; }
.portfolio-item .media-control li a:hover { background-color: var(--color-bg); }
.portfolio-item:hover .media-control li a { transform: scale(1.05);
    transition-delay: all 1s ease-in-out; }
.load-more a { font-family: var(--font-body);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--color-text);
    border: 2px solid var(--color-text);
    padding: 10px 20px;
    letter-spacing: 2px; }
.load-more a:hover { background-color: var(--color-text);
    color: var(--color-bg); }
.testimonial-section h2 { margin-bottom: 20px; }
.owl-nav div { display: inline-block;
    margin-right: 20px; }
.pricing-box .pricing-head h2 { position: absolute;
    width: auto;
    height: auto;
    left: 50%;
    top: 50%;
    font-weight: bold;
    color: var(--color-bg);
    transform: translateX(-50%) translateY(-50%);
    margin-bottom: 0; }
.price h2 { font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    margin-bottom: 0; }
.pricing-footer .default-btn { display: block; }
.cta-section { position: relative;
    z-index: 2; }
.cta-section .row { border: 1px solid var(--color-bg-alt);
    padding: 50px 30px; }
.instafeed a { overflow: hidden;
    border-radius: 5px; }
.instafeed a img { width: 100%;
    height: 100px;
    max-width: 100%;
    object-fit: cover;
    object-position: center center; }
.instafeed a:hover img { transform: scale(1.05);
    transition: all 0.2s ease-in-out; }
.widget-link li a { color: var(--color-text); }
.widget-link li a:hover { color: var(--color-text);
    text-decoration: underline; }
.widget-social li a { display: inline-block;
    background-color: var(--color-bg-alt);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--color-text);
    font-size: 18px;
    margin-right: 5px; }
.widget-social li a:hover { background-color: var(--color-text);
    color: var(--color-bg); }
.nivoSlider a.nivo-imageLink { position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white;
	filter:alpha(opacity=0);
	opacity:0; }
.nivo-caption a { display:inline !important; }
.nivo-directionNav a { position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer; }
.nivo-controlNav a { cursor:pointer; }
.nivo-controlNav a.active { font-weight:bold; }
.slicknav_nav .slicknav_item a { display:inline }
.slicknav_nav .slicknav_row,.slicknav_nav a { display:block }
.slicknav_nav .slicknav_parent-link a { display:inline }
.slicknav_nav .slicknav_row,.slicknav_nav a { padding:5px 10px;margin:2px 5px }
.slicknav_nav a { text-decoration:none;color:var(--color-bg) }
.slicknav_nav a:hover { -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:var(--color-border);color:var(--color-text) }
.slicknav_nav .slicknav_item a,.slicknav_nav .slicknav_parent-link a { padding:0;margin:0 }
@media (min-width:576px) {
  .container { max-width:540px }
  .navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid { -ms-flex-wrap:nowrap;flex-wrap:nowrap }
}
@media (min-width:768px) {
  .container { max-width:720px }
  .navbar-expand-md>.container,.navbar-expand-md>.container-fluid { -ms-flex-wrap:nowrap;flex-wrap:nowrap }
}
@media (min-width:992px) {
  .container { max-width:960px }
  .col-lg-4 { -webkit-box-flex:0;-ms-flex:0 0 33.333333%;flex:0 0 33.333333%;max-width:33.333333% }
  .col-lg-8 { -webkit-box-flex:0;-ms-flex:0 0 66.666667%;flex:0 0 66.666667%;max-width:66.666667% }
  .navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid { -ms-flex-wrap:nowrap;flex-wrap:nowrap }
}
@media (min-width:1200px) {
  .container { max-width:1140px }
  .navbar-expand-xl>.container,.navbar-expand-xl>.container-fluid { -ms-flex-wrap:nowrap;flex-wrap:nowrap }
}
@media (max-width:575.98px) {
  .navbar-expand-sm>.container,.navbar-expand-sm>.container-fluid { padding-right:0;padding-left:0 }
}
@media (max-width:767.98px) {
  .navbar-expand-md>.container,.navbar-expand-md>.container-fluid { padding-right:0;padding-left:0 }
}
@media (max-width:991.98px) {
  .navbar-expand-lg>.container,.navbar-expand-lg>.container-fluid { padding-right:0;padding-left:0 }
}
@media (max-width:1199.98px) {
  .navbar-expand-xl>.container,.navbar-expand-xl>.container-fluid { padding-right:0;padding-left:0 }
}
@media print {
  a:not(.btn) { text-decoration:underline }
  h2,h3,p { orphans:3;widows:3 }
  h2,h3 { page-break-after:avoid }
  .container { min-width:992px!important }
}
@media (max-width: 992px) {
  .sm-padding { padding: 15px; }
  .cta-section,
    .cta-section .text-right { text-align: center !important; }
}
@media all and (max-width: 767px) {
  h2 { font-size: 28px;
        line-height: 36px; }
}
@media all and (max-width: 576px) {
  .cta-section .row { padding: 30px; }
  .about-content h2 { font-size: 24px;
        line-height: 30px; }
}
</style>
<section class="cta-section wow fadeInUp">
        <div class="container">
            <div data-animate="stagger" class="row align-items-center">
                <div class="col-lg-8 sm-padding">
                    <h2 data-animate="text-split" data-split-type="words">{{CTA_TITLE}}</h2>
                </div>
                <div class="col-lg-4 sm-padding text-right">
                    <a data-animate="magnetic" href="{{CTA_BUTTON_URL}}" class="default-btn">{{CTA_BUTTON_TEXT}}</a>
                </div>
            </div>
        </div>
    </section>
  </div>
</section>
