<!-- Component: cta-oxence-01 -->
<!-- Tags: imported -->
<section id="cta" class="py-24 px-6" style="background: var(--color-bg)" data-animate="fade-up">
  <div class="max-w-7xl mx-auto">
<style>
.fadeInLeft { -webkit-animation-name:fadeInLeft;animation-name:fadeInLeft }
.fadeInRight { -webkit-animation-name:fadeInRight;animation-name:fadeInRight }
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 { margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2 }
.h4,h4 { font-size:calc(1.275rem + .3vw) }
a { color:var(--color-primary);text-decoration:underline }
a:hover { color:var(--color-accent, var(--color-secondary)) }
a:not([href]):not([class]),a:not([href]):not([class]):hover { color:inherit;text-decoration:none }
a>code { color:inherit }
.row { --bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5) }
.row>* { flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y) }
.navbar-light .navbar-text a,.navbar-light .navbar-text a:focus,.navbar-light .navbar-text a:hover { color:var(--color-text) }
.navbar-dark .navbar-text a,.navbar-dark .navbar-text a:focus,.navbar-dark .navbar-text a:hover { color:var(--color-bg) }
i[class*=" flaticon-"]:before,i[class^=flaticon-]:before { font-family:flaticon!important;font-style:normal;font-weight:400!important;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale }
.flaticon-target:before { content:"\f114" }
.fa,.fab,.fad,.fal,.far,.fas { -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1 }
.fa.fa-pull-left,.fab.fa-pull-left,.fal.fa-pull-left,.far.fa-pull-left,.fas.fa-pull-left { margin-right:.3em }
.fa.fa-pull-right,.fab.fa-pull-right,.fal.fa-pull-right,.far.fa-pull-right,.fas.fa-pull-right { margin-left:.3em }
.fa-arrow-right:before { content:"\f061" }
.fad.fa-arrow-right:after { content:"\10f061" }
.fal,.far { font-family:"Font Awesome 5 Pro" }
.far { font-weight:400 }
.cd-headline.type i { position: absolute;
    visibility: hidden; }
.cd-headline.type i.in { position: relative;
    visibility: visible; }
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em { display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.cd-headline.rotate-2 i { -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0; }
.is-visible .cd-headline.rotate-2 i { opacity: 1; }
.cd-headline.rotate-2 i.in { -webkit-animation: cd-rotate-2-in 0.4s forwards;
    -moz-animation: cd-rotate-2-in 0.4s forwards;
    animation: cd-rotate-2-in 0.4s forwards; }
.cd-headline.rotate-2 i.out { -webkit-animation: cd-rotate-2-out 0.4s forwards;
    -moz-animation: cd-rotate-2-out 0.4s forwards;
    animation: cd-rotate-2-out 0.4s forwards; }
.no-csstransitions .cd-headline.rotate-2 i { -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0; }
.no-csstransitions .cd-headline.rotate-2 i em { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
.no-csstransitions .cd-headline.rotate-2 .is-visible i { opacity: 1; }
.cd-headline.rotate-3 i { display: inline-block;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.is-visible .cd-headline.rotate-3 i { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
.cd-headline.rotate-3 i.in { -webkit-animation: cd-rotate-3-in 0.6s forwards;
    -moz-animation: cd-rotate-3-in 0.6s forwards;
    animation: cd-rotate-3-in 0.6s forwards; }
.cd-headline.rotate-3 i.out { -webkit-animation: cd-rotate-3-out 0.6s forwards;
    -moz-animation: cd-rotate-3-out 0.6s forwards;
    animation: cd-rotate-3-out 0.6s forwards; }
.no-csstransitions .cd-headline.rotate-3 i { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0; }
.no-csstransitions .cd-headline.rotate-3 .is-visible i { opacity: 1; }
.cd-headline.scale i { display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
.is-visible .cd-headline.scale i { opacity: 1; }
.cd-headline.scale i.in { -webkit-animation: scale-up 0.6s forwards;
    -moz-animation: scale-up 0.6s forwards;
    animation: scale-up 0.6s forwards; }
.cd-headline.scale i.out { -webkit-animation: scale-down 0.6s forwards;
    -moz-animation: scale-down 0.6s forwards;
    animation: scale-down 0.6s forwards; }
.no-csstransitions .cd-headline.scale i { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
.no-csstransitions .cd-headline.scale .is-visible i { opacity: 1; }
.mfp-preloader a { color:var(--color-border) }
.mfp-preloader a:hover { color:var(--color-bg) }
.theme-btn i, a.theme-btn i { margin-left: 0;
    margin-right: 10px; }
.theme-btn:hover i, a.theme-btn:hover i { margin-left: -3px;
    margin-right: 13px; }
.contact-info-item .icon { margin-right: 0;
    margin-left: 20px; }
.blog-item .content .date i { margin-right: 0px;
    margin-left: 8px; }
.cta-item .details-btn { margin-left: 0;
    margin-right: auto; }
.header-top .top-right > ul > li > i { margin-right: 0px;
    margin-left: 5px; }
.video-play-text i { margin-right: 0;
    margin-left: 15px; }
.feature-item-three > i { margin-right: 0;
    margin-left: 25px; }
.read-more i { margin-left: 0;
    margin-right: 7px; }
.read-more:hover i { margin-left: 0px;
    margin-right: 10px; }
.feature-item-four h4 i { margin-right: 0;
    margin-left: 20px; }
.blog-meta li i { margin-right: 0px;
    margin-left: 6px; }
.widget-category ul li a { margin-left: auto;
    margin-right: 0; }
a { color: var(--color-text-muted);
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none; }
a:hover, a:focus, a:visited { text-decoration: none;
    outline: none; }
a:hover { color: var(--color-primary); }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: var(--color-accent, var(--color-secondary)); }
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white h1 a,
.text-white h2 a,
.text-white h3 a,
.text-white h4 a,
.text-white h5 a,
.text-white h6 a { color: white; }
.no-gap > div { padding-left: 0;
    padding-right: 0; }
.small-gap > div { padding-left: 5px;
    padding-right: 5px; }
.row { --bs-gutter-x: 30px; }
.theme-btn,
a.theme-btn { z-index: 1;
  color: white;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  padding: 12px 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
  background: var(--color-primary); }
.theme-btn i,
  a.theme-btn i { font-size: 13px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 10px; }
.theme-btn:after,
  a.theme-btn:after { content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    position: absolute;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    background: var(--color-accent, var(--color-secondary)); }
.theme-btn:hover:after,
  a.theme-btn:hover:after { -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
.theme-btn:hover i,
  a.theme-btn:hover i { margin-left: 13px;
    margin-right: -3px; }
.theme-btn.style-two,
  a.theme-btn.style-two { background: var(--color-accent, var(--color-secondary)); }
.theme-btn.style-two:after,
    a.theme-btn.style-two:after { background: var(--color-primary); }
.theme-btn.style-three,
  a.theme-btn.style-three { color: var(--color-accent, var(--color-secondary));
    background: transparent;
    border: 1px solid rgba(var(--color-primary-rgb), 0.2); }
.theme-btn.style-three:after,
    a.theme-btn.style-three:after { background: var(--color-primary); }
.theme-btn.style-three:hover,
    a.theme-btn.style-three:hover { color: white;
      border-color: var(--color-primary); }
.theme-btn.style-three.white-btn,
    a.theme-btn.style-three.white-btn { color: white;
      border-color: white; }
.details-btn { font-size: 22px;
  width: 70px;
  height: 70px;
  background: white;
  line-height: 70px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  color: var(--color-primary); }
.read-more i { float: right;
    font-weight: 400;
    margin-left: 7px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.read-more:hover i { margin-left: 10px; }
.social-style-one a { width: 40px;
    height: 40px;
    background: white;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgba(var(--color-primary-rgb), 0.1);
    margin-left: 5px;
    margin-right: 5px; }
.social-style-one a:hover { color: white;
      background: var(--color-primary);
      border-color: var(--color-primary); }
.social-style-two a { margin: 10px 5px 0;
    width: 45px;
    height: 45px;
    background: white;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    color: var(--color-primary);
    -webkit-box-shadow: 10px 0 30px rgba(175, 175, 175, 0.3);
    box-shadow: 10px 0 30px rgba(175, 175, 175, 0.3); }
.social-style-two a:hover { color: white;
      background: var(--color-primary); }
.social-style-three a { margin-left: 7.5px;
    margin-right: 7.5px; }
.pagination li a,
    .pagination li .page-link { padding: 0;
      width: 45px;
      height: 45px;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-weight: 600;
      line-height: 43px;
      text-align: center;
      border-radius: 50%;
      color: var(--color-accent, var(--color-secondary));
      border: 2px solid rgba(var(--color-primary-rgb), 0.1); }
.ratting i { margin: 3px;
    color: var(--color-accent, var(--color-secondary));
    font-size: 14px; }
.text-white *, .text-white a,
.text-white .count-text,
.text-white .footer-newsletter-content .sub-title { color: white; }
.text-white .copyright-area a { opacity: 0.5; }
.text-white .copyright-area a:hover { opacity: 1; }
.video-play-text i { color: white;
    font-size: 14px;
    margin-right: 15px;
    width: 55px;
    height: 55px;
    background: var(--color-accent, var(--color-secondary));
    line-height: 55px;
    border-radius: 50%;
    text-align: center; }
.bgs-cover { background-size: cover;
  background-position: center; }
.home-one .count-text,
  .home-one .price-and-btn .price,
  .home-one .blog-item .content h4,
  .home-one h1, .home-one h2, .home-one h3, .home-one h4, .home-one h5, .home-one h6,
  .home-one .blog-item .content .date,
  .home-one .h1, .home-one .h2, .home-one .h3, .home-one .h4, .home-one .h5, .home-one .h6,
  .home-one .blog-item .content .post-by a,
  .home-one .work-process-item .number { font-family: 'Kumbh Sans', sans-serif; }
.home-one a:hover,
  .home-one .details-btn,
  .home-one .slick-arrow,
  .home-one .counter-item > i,
  .home-one .section-title h2 span,
  .home-one .blog-item .content .date,
  .home-one .style-two .counter-title,
  .home-one .section-title .sub-title,
  .home-one .list-style-two li a:hover,
  .home-one .social-style-two a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.home-one .theme-btn,
  .home-one .scroll-top,
  .home-one .details-btn:hover,
  .home-one .slick-arrow:hover,
  .home-one .slick-arrow:focus,
  .home-one .list-style-two li:before,
  .home-one .list-style-one li:before,
  .home-one .social-style-two a:hover,
  .home-one .work-process-item .icon i,
  .home-one .slick-dots li.slick-active,
  .home-one .theme-btn.style-three:after,
  .home-one .list-style-two li:hover:before,
  .home-one .work-process-item:hover .icon i,
  .home-one .hidden-bar .social-style-one a:hover,
  .home-one .widget_nav_menu .list-style-two li:hover:before { background: var(--color-accent, var(--color-secondary)); }
.home-one .slick-dots li,
  .home-one .theme-btn.style-three:hover,
  .home-one .work-process-item .icon:before,
  .home-one .hidden-bar .social-style-one a:hover { border-color: var(--color-accent, var(--color-secondary)); }
.home-one .slick-arrow:focus,
  .home-one .slick-arrow:hover,
  .home-one .details-btn:hover,
  .home-one .theme-btn.style-three,
  .home-one .social-style-two a:hover,
  .home-one .hidden-bar .social-style-one a:hover { color: white; }
.home-four .count-text,
.home-four .price-and-btn .price,
.home-four .blog-item .content h4,
.home-four h1, .home-four h2, .home-four h3, .home-four h4, .home-four h5, .home-four h6,
.home-four .blog-item .content .date,
.home-four .h1, .home-four .h2, .home-four .h3, .home-four .h4, .home-four .h5, .home-four .h6,
.home-four .blog-item .content .post-by a,
.home-four .work-process-item .number { color: var(--color-text); }
.home-four a:hover,
.home-four .details-btn,
.home-four .slick-arrow,
.home-four .counter-item > i,
.home-four .section-title h2 span,
.home-four .blog-item .content .date,
.home-four .style-two .counter-title,
.home-four .section-title .sub-title,
.home-four .list-style-two li a:hover,
.home-four .social-style-two a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.home-four .theme-btn,
.home-four .scroll-top,
.home-four .details-btn:hover,
.home-four .slick-arrow:hover,
.home-four .slick-arrow:focus,
.home-four .list-style-two li:before,
.home-four .list-style-one li:before,
.home-four .social-style-two a:hover,
.home-four .work-process-item .icon i,
.home-four .slick-dots li.slick-active,
.home-four .theme-btn.style-three:after,
.home-four .list-style-two li:hover:before,
.home-four .work-process-item:hover .icon i,
.home-four .hidden-bar .social-style-one a:hover,
.home-four .widget_nav_menu .list-style-two li:hover:before { background: var(--color-accent, var(--color-secondary)); }
.home-four .slick-dots li,
.home-four .theme-btn.style-three:hover,
.home-four .work-process-item .icon:before,
.home-four .hidden-bar .social-style-one a:hover { border-color: var(--color-accent, var(--color-secondary)); }
.home-four .slick-arrow:focus,
.home-four .slick-arrow:hover,
.home-four .details-btn:hover,
.home-four .theme-btn.style-three,
.home-four .social-style-two a:hover,
.home-four .hidden-bar .social-style-one a:hover { color: white; }
.home-four .text-white .sub-title,
.home-four .text-white h1, .home-four .text-white h2, .home-four .text-white h3, .home-four .text-white h4, .home-four .text-white h5, .home-four .text-white h6,
.home-four .text-white .h1, .home-four .text-white .h2, .home-four .text-white .h3, .home-four .text-white .h4, .home-four .text-white .h5, .home-four .text-white .h6 { color: white; }
.home-four .social-style-two a { width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  background: var(--color-accent, var(--color-secondary));
  -webkit-box-shadow: 5px 4px 0 var(--color-accent, var(--color-secondary));
  box-shadow: 5px 4px 0 var(--color-accent, var(--color-secondary)); }
.home-four .social-style-two a i { -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: var(--color-accent, var(--color-secondary)); }
.home-four .social-style-two a:hover { background: var(--color-accent, var(--color-secondary));
    -webkit-box-shadow: 4px 5px 0 var(--color-accent, var(--color-secondary));
    box-shadow: 4px 5px 0 var(--color-accent, var(--color-secondary)); }
.home-four .social-style-two a:hover i { color: white; }
.heading,
h1,
.h1,
h2,
.h2,
.count-text,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.tab-btns-one .nav-link .title,
.product-item .content .price-details-btn .price { font-weight: 700;
  color: var(--color-accent, var(--color-secondary));
  font-family: var(--font-heading); }
h4, .h4 { line-height: 1.65;
  font-size: 24px; }
.delay-0-2s { -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.header-top .top-left > ul li a:hover { text-decoration: underline; }
.header-top .top-right > ul > li > i { margin-right: 5px; }
.header-top .top-right > ul > li a { text-decoration: underline; }
.main-menu .navbar-collapse li a { display: block;
      font-size: 18px;
      opacity: 1;
      font-weight: 500;
      position: relative;
      color: var(--color-accent, var(--color-secondary));
      text-transform: capitalize;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
.main-menu .navbar-collapse li a:hover { color: var(--color-primary);
        text-decoration: underline; }
.main-menu .navbar-collapse li.current > a, .main-menu .navbar-collapse li.current-menu-item > a { font-weight: 500; }
.main-menu .navbar-collapse li li a { text-transform: capitalize; }
.main-menu .navbar-collapse li li a:before { display: none; }
.hidden-bar .social-style-one a { width: 40px;
    height: 40px;
    line-height: 40px; }
.hidden-bar .inner-box h4 { position: relative;
    color: var(--color-bg);
    margin-bottom: 35px; }
.main-header.header-two .main-menu .navigation li li a:hover { color: var(--color-accent, var(--color-secondary)); }
.main-header.header-four .main-menu .navigation li a,
.main-header.header-four .main-menu .navigation .dropdown .dropdown-btn { color: var(--color-text); }
.main-header.header-four .main-menu .navigation li a:hover,
  .main-header.header-four .main-menu .navigation .dropdown .dropdown-btn:hover { text-decoration: none; }
.main-header.header-four .main-menu .navigation > li > a { position: relative; }
.main-header.header-four .main-menu .navigation > li > a:after { content: '';
    left: -5px;
    bottom: 5px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    background: var(--color-accent, var(--color-secondary));
    width: calc(100% + 10px);
    height: 0; }
.main-header.header-four .main-menu .navigation > li:hover > a:after, .main-header.header-four .main-menu .navigation > li.current > a:after, .main-header.header-four .main-menu .navigation > li.current-menu-item > a:after { opacity: 1;
  height: 9px; }
.main-header.header-four .main-menu .navigation > li.dropdown > a:after { width: calc(100% + 25px); }
.hero-content-three .video-play-text i { background: var(--color-accent, var(--color-secondary)); }
.hero-content-four .hero-btns .video-play-text i { margin-right: 20px;
    background: var(--color-accent, var(--color-secondary));
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 0 0 var(--color-text);
    box-shadow: 5px 5px 0 0 var(--color-text); }
.breadcrumb .breadcrumb-item a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.about-image .years-fo-experience h4 { color: white; }
.ww-do-two-content .feature-item-two .icon { width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px; }
.ww-do-btns .video-play-text i { background: var(--color-accent, var(--color-secondary)); }
.counter-item > i { font-size: 60px;
    margin-bottom: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.counter-cta h4,
  .counter-cta .theme-btn { margin: 10px 15px; }
.statistics-two-counters .counter-item > i { color: var(--color-primary); }
.circle-progress-two-item .skill-counter h4 { font-size: 22px; }
.feature-item-two .icon { color: white;
    margin-bottom: 25px;
    width: 40px;
    height: 40px;
    background: var(--color-primary);
    line-height: 40px;
    border-radius: 50%;
    text-align: center; }
.feature-item-two.color-two .icon { background: var(--color-accent, var(--color-secondary)); }
.feature-item-two.color-three .icon { background: var(--color-accent, var(--color-secondary)); }
.feature-item-two.color-four .icon { background: var(--color-accent, var(--color-secondary)); }
.feature-item-three > i { font-size: 55px;
    margin-top: 10px;
    margin-right: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.feature-item-three .content h4 { font-size: 22px; }
.feature-item-three.color-two > i { color: var(--color-primary); }
.feature-item-three.color-three > i { color: var(--color-accent, var(--color-secondary)); }
.feature-item-three.color-four > i { color: var(--color-accent, var(--color-secondary)); }
.feature-with-image .feature-content .read-more i { color: var(--color-accent, var(--color-secondary)); }
.feature-with-image .feature-content .read-more:hover i { color: var(--color-accent, var(--color-secondary)); }
.feature-item-four h4 { display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px; }
.feature-item-four h4 i { line-height: 0;
      font-size: 55px;
      margin-top: 3px;
      margin-right: 20px;
      color: var(--color-primary); }
.feature-item-five i { line-height: 1;
    font-size: 60px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px;
    color: var(--color-accent, var(--color-secondary));
    display: inline-block; }
.feature-item-five:hover i, .feature-item-five:hover h5, .feature-item-five:hover h5 a { color: white; }
.feature-item-seven .icon { width: 70px;
    height: 70px;
    color: white;
    font-size: 40px;
    line-height: 70px;
    border-radius: 7px;
    margin: 0 auto 22px;
    background: var(--color-primary);
    -webkit-box-shadow: 10px 0 60px rgba(var(--color-primary-rgb), 0.55);
    box-shadow: 10px 0 60px rgba(var(--color-primary-rgb), 0.55); }
.feature-item-seven .icon i:before { line-height: inherit; }
.feature-item-seven.color-two .icon { background: var(--color-accent, var(--color-secondary));
      -webkit-box-shadow: 10px 0 60px rgba(22, 180, 242, 0.55);
      box-shadow: 10px 0 60px rgba(22, 180, 242, 0.55); }
.feature-item-seven.color-three .icon { background: var(--color-accent, var(--color-secondary));
      -webkit-box-shadow: 10px 0 60px rgba(241, 176, 0, 0.55);
      box-shadow: 10px 0 60px rgba(241, 176, 0, 0.55); }
.feature-item-seven.color-four .icon { background: var(--color-accent, var(--color-secondary));
      -webkit-box-shadow: 10px 0 60px rgba(132, 0, 255, 0.55);
      box-shadow: 10px 0 60px rgba(132, 0, 255, 0.55); }
.feature-item-seven.color-five .icon { background: var(--color-accent, var(--color-secondary));
      -webkit-box-shadow: 10px 0 60px rgba(255, 117, 6, 0.55);
      box-shadow: 10px 0 60px rgba(255, 117, 6, 0.55); }
.feature-item-eight a { display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.feature-item-eight a .image { -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 90px;
      height: 90px;
      background: white;
      line-height: 90px;
      border-radius: 50%;
      text-align: center;
      margin-right: 30px;
      -webkit-box-shadow: -5px 7px 0 0 var(--color-text);
      box-shadow: -5px 7px 0 0 var(--color-text); }
.feature-item-eight a h4 { margin-bottom: 0; }
.feature-item-eight a .icon { color: black;
      font-size: 42px;
      margin-left: auto;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
.feature-item-eight a:hover h4 { text-decoration: underline; }
.service-item .icon { font-size: 65px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 25px;
    color: var(--color-primary); }
.service-item h5 a { text-decoration: underline; }
.service-item:hover .icon, .service-item:hover a, .service-item:hover p { color: white; }
.service-item.style-two h5 a { text-decoration: none; }
.service-item.style-three .icon { font-size: 70px;
      margin-bottom: 22px; }
.service-item.style-three .icon i { color: var(--color-accent, var(--color-secondary)); }
.service-item.style-three h4 { font-size: 22px; }
.service-item-five .icon { margin-bottom: 30px; }
.service-item-five h4 { margin-bottom: 15px; }
.service-item-six h4 { line-height: 1.6;
    margin-bottom: 30px; }
.project-item .project-over h3,
    .project-item .project-over .details-btn { z-index: 1;
      opacity: 0;
      -webkit-transition: 0.35s;
      -o-transition: 0.35s;
      transition: 0.35s;
      margin-left: -25px;
      position: relative; }
.project-item .project-over .details-btn { margin-bottom: 20px; }
.project-item:hover .project-over h3,
    .project-item:hover .project-over .details-btn { opacity: 1;
      margin-left: 0; }
.project-item:hover .project-over .details-btn { -webkit-transition-delay: 0.7s;
      -o-transition-delay: 0.7s;
      transition-delay: 0.7s; }
.project-item.style-two .project-over .details-btn { margin-bottom: 0; }
.project-item.style-two .project-content h4 { margin-bottom: 0; }
.next-prev-project .show-all i { margin: -10px 0; }
.tab-btns-one .nav-link .title i { margin-right: 16px; }
.tab-btns-one .nav-link .right-btn i { -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.project-gallery-item .content .text h4 { font-size: 27px;
      margin-bottom: 0; }
.project-gallery-item .content .text h4 a:not(:hover) { color: var(--color-text); }
.project-gallery-item .content .project-details-btn i { -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.team-item-four h4 { font-size: 22px;
    margin-bottom: 0; }
.team-item-four .social-style-two a { background: white;
    -webkit-box-shadow: 4px 4px 0 var(--color-text);
    box-shadow: 4px 4px 0 var(--color-text); }
.team-item-four:hover .social-style-two a { background: var(--color-accent, var(--color-secondary)); }
.team-item-four:hover .social-style-two a:hover { background: var(--color-accent, var(--color-secondary));
        -webkit-box-shadow: 4px 4px 0 var(--color-text);
        box-shadow: 4px 4px 0 var(--color-text); }
.pricing-plan-item .price-features h4 { margin-bottom: 20px; }
.pricing-plan-three h4 { font-size: 20px;
    margin-bottom: 25px;
    display: inline-block;
    padding: 15px 20px 5px;
    background: url(../images/shapes/pricing-title-bg.png) no-repeat 100%/100%; }
.pricing-plan-three.style-two h4,
    .pricing-plan-three.style-two .price,
    .pricing-plan-three.style-two .save span,
    .pricing-plan-three.style-two .price:after,
    .pricing-plan-three.style-two .list-style-two li:before { -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
.pricing-plan-three.style-two:hover h4 { background-image: url(../images/shapes/pricing-title-bg-white.png); }
.pricing-plan-three.style-two:hover h4,
      .pricing-plan-three.style-two:hover .price,
      .pricing-plan-three.style-two:hover .save span,
      .pricing-plan-three.style-two:hover .price:after,
      .pricing-plan-three.style-two:hover .theme-btn.style-three { color: white; }
.feedback-item .author-logo > i { color: white;
      font-size: 20px;
      margin-right: 15px;
      width: 55px;
      height: 55px;
      background: var(--color-accent, var(--color-secondary));
      line-height: 55px;
      border-radius: 50%;
      text-align: center; }
.feedback-item h4 { font-size: 22px;
    margin-bottom: 16px; }
.work-process-item .icon { z-index: 1;
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block; }
.work-process-item .icon .number { z-index: -1;
      opacity: 0.15;
      line-height: 1;
      font-size: 85px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      font-weight: 700;
      position: absolute;
      color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: var(--color-accent, var(--color-secondary));
      -webkit-transform: translate(-70%, -60%) rotate(-50deg);
      -ms-transform: translate(-70%, -60%) rotate(-50deg);
      transform: translate(-70%, -60%) rotate(-50deg); }
.work-process-item .icon i { color: white;
      font-size: 65px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      display: inline-block;
      width: 120px;
      height: 120px;
      background: var(--color-primary);
      line-height: 120px;
      border-radius: 50%;
      text-align: center; }
.work-process-item .icon i:before { line-height: inherit; }
.work-process-item .icon:before { position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      left: 0;
      top: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      border-radius: 50%;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      border: 2px dashed var(--color-accent, var(--color-secondary)); }
.work-process-item:hover .icon i { background: var(--color-accent, var(--color-secondary)); }
.work-process-item:hover .icon:before { -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: rotated_circle 5s linear infinite;
    animation: rotated_circle 5s linear infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
.cta-inner { margin-top: -110px;
  z-index: 1;
  position: relative;
  -webkit-transform: translateY(110px);
  -ms-transform: translateY(110px);
  transform: translateY(110px); }
.cta-inner::before { position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.9;
    background-color: var(--color-text); }
.cta-item { padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.cta-item .icon { -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: white;
    font-size: 55px;
    width: 100px;
    height: 100px;
    background: var(--color-accent, var(--color-secondary));
    line-height: 100px;
    border-radius: 50%;
    text-align: center; }
.cta-item .icon i:before { line-height: inherit; }
.cta-item h4 { color: white;
    line-height: 1.44;
    margin: 10px 30px; }
.cta-item .details-btn { -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    margin-left: auto;
    border: 1px solid white; }
.cta-item .details-btn:hover { border-color: var(--color-accent, var(--color-secondary)); }
.cta-item .details-btn:not(:hover) { color: white;
      background: transparent; }
.contact-info-item .icon { -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;
    width: 55px;
    height: 55px;
    background: var(--color-accent, var(--color-secondary));
    line-height: 55px;
    border-radius: 50%;
    text-align: center; }
.contact-info-item.style-two .icon { margin-bottom: 10px;
      background: var(--color-primary); }
.contact-info-item.style-two .content .text a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.contact-info-item.style-two:nth-child(2) .icon { background: var(--color-accent, var(--color-secondary)); }
.contact-info-item.style-two:nth-child(3) .icon { background: var(--color-accent, var(--color-secondary)); }
.contact-area-form h4 { margin-bottom: 25px; }
.follow-us h4 { font-size: 22px;
    margin-bottom: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(var(--color-primary-rgb), 0.1); }
.location-address-item .bottom-part li i { font-size: 18px;
      margin-right: 10px;
      color: var(--color-primary); }
.blog-item .content .date i { margin-right: 8px; }
.blog-item .content h4 { line-height: 1.4;
      margin-bottom: 18px; }
.blog-item .content .author a { font-weight: 500; }
.blog-item .content .author a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.blog-meta li i { margin-right: 6px; }
.blog-list-item .blog-content h4 { line-height: 1.52;
      margin-bottom: 15px;
      letter-spacing: -1px; }
.blog-four-item .date i { margin-right: 10px; }
.blog-four-item h4 { line-height: 1.55;
  margin-bottom: 16px; }
.tag-share .item .tag-coulds a { padding-top: 0;
      padding-bottom: 0;
      border-radius: 5px;
      text-transform: capitalize; }
h4.comment-title { margin-bottom: 0;
  border-bottom: none; }
.next-prev-post .post-item h5 a { color: var(--color-accent, var(--color-secondary)); }
.next-prev-post .post-item h5 a:hover { text-decoration: underline; }
.next-prev-post .post-item .date i { margin-right: 5px; }
.comment-form h4 { margin-bottom: 0; }
.product-item .content .admin-ratting a { color: var(--color-primary);
        text-decoration: underline; }
.product-details-content .category-tags li a:not(:last-child):after { content: ',';
  margin-right: 3px; }
.product-information-tab li a { font-size: 18px;
  font-weight: 700;
  padding: 11px 65px;
  border-radius: 5px;
  display: inline-block;
  color: var(--color-accent, var(--color-secondary));
  border: 1px solid rgba(var(--color-primary-rgb), 0.1); }
.product-information-tab li a.active { color: white;
    background: var(--color-primary); }
.checkout-faqs .alert h6 a { padding: 0;
      color: var(--color-accent, var(--color-secondary));
      background: transparent; }
.marquee-item i { font-size: 45px;
    margin-right: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.widget-category ul li a { margin-right: auto; }
.widget-category ul li a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.widget-cta h4 { color: white;
    margin-bottom: 20px; }
.tag-coulds a { font-size: 14px;
    font-weight: 500;
    padding: 2px 16px;
    margin: 10px 5px 0;
    color: var(--color-accent, var(--color-secondary));
    text-transform: uppercase;
    background: var(--color-bg); }
.tag-coulds a:hover { color: white;
      background: var(--color-primary); }
.error-content .follow-us h4 { margin-bottom: 15px;
      padding-bottom: 15px; }
.footer-top-newsletter form label i { color: var(--color-text-muted); }
.widget_nav_menu .list-style-two li a:hover { text-decoration: underline; }
.footer-bottom-menu ul li a { color: var(--color-accent, var(--color-secondary)); }
.footer-bottom-menu ul li a:hover { text-decoration: underline; }
.main-footer.footer-three .contact-info-item .icon { -webkit-box-shadow: 5px 5px 0 var(--color-accent, var(--color-secondary));
  box-shadow: 5px 5px 0 var(--color-accent, var(--color-secondary)); }
.main-footer.footer-three .widget_newsletter form button i { color: var(--color-accent, var(--color-secondary)); }
.main-footer.footer-three .footer-bottom .footer-bottom-menu ul li a { color: white; }
.dark-version .heading,
.dark-version .social-style-one a,
.dark-version .nav-search > button,
.dark-version h1, .dark-version h2, .dark-version h3, .dark-version h4, .dark-version h5, .dark-version h6,
.dark-version .text-white .count-text,
.dark-version .h1, .dark-version .h2, .dark-version .h3, .dark-version .h4, .dark-version .h5, .dark-version .h6,
.dark-version .main-menu .navigation > li > a,
.dark-version h1 a, .dark-version h2 a, .dark-version h3 a, .dark-version h4 a, .dark-version h5 a, .dark-version h6 a,
.dark-version .main-menu .navigation > .dropdown > .dropdown-btn { color: white; }
.dark-version.home-two .social-style-one a:hover,
  .dark-version.home-two .menu-sidebar button .icon-bar,
  .dark-version.home-two .feedback-item .author-logo > i { background: var(--color-accent, var(--color-secondary)); }
.dark-version.home-two .social-style-one a { background: transparent; }
.dark-version.home-two .team-member:after,
  .dark-version.home-two .social-style-one a,
  .dark-version.home-two .feedback-shape:after { border-color: var(--color-bg); }
.dark-version.home-one .copyright-text,
  .dark-version.home-one .form-control::-webkit-input-placeholder,
  .dark-version.home-one .list-style-two a:not(:hover),
  .dark-version.home-one .pricing-item-two .price:after,
  .dark-version.home-one .social-style-two a:not(:hover),
  .dark-version.home-one .blog-item .content .author a:not(:hover) { color: #adadb8; }
.dark-version.home-one .copyright-text,
  .dark-version.home-one .form-control:-ms-input-placeholder,
  .dark-version.home-one .list-style-two a:not(:hover),
  .dark-version.home-one .pricing-item-two .price:after,
  .dark-version.home-one .social-style-two a:not(:hover),
  .dark-version.home-one .blog-item .content .author a:not(:hover) { color: #adadb8; }
.dark-version.home-one .copyright-text,
  .dark-version.home-one .form-control::-ms-input-placeholder,
  .dark-version.home-one .list-style-two a:not(:hover),
  .dark-version.home-one .pricing-item-two .price:after,
  .dark-version.home-one .social-style-two a:not(:hover),
  .dark-version.home-one .blog-item .content .author a:not(:hover) { color: #adadb8; }
.dark-version.home-one .copyright-text,
  .dark-version.home-one .form-control::placeholder,
  .dark-version.home-one .list-style-two a:not(:hover),
  .dark-version.home-one .pricing-item-two .price:after,
  .dark-version.home-one .social-style-two a:not(:hover),
  .dark-version.home-one .blog-item .content .author a:not(:hover) { color: #adadb8; }
.dark-version.home-one .bgc-lighter,
  .dark-version.home-one .cta-inner::before,
  .dark-version.home-one .counter-item.style-two:hover { background: var(--color-text); }
.dark-version.home-one .slick-arrow:hover,
  .dark-version.home-one .cta-item .details-btn:hover,
  .dark-version.home-one .social-style-one a:not(:hover),
  .dark-version.home-one .project-item .details-btn:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.dark-version.home-one .footer-bottom,
  .dark-version.home-one .pricing-item-two,
  .dark-version.home-one .slick-arrow:hover,
  .dark-version.home-one .contact-area-form,
  .dark-version.home-one .cta-item .details-btn:hover,
  .dark-version.home-one .widget_newsletter form input,
  .dark-version.home-one .feature-item-five:not(:hover),
  .dark-version.home-one .social-style-two a:not(:hover) { background: var(--color-text); }
.dark-version.home-one .cta-item .details-btn:hover,
  .dark-version.home-one .counter-item.style-two:hover { border-color: var(--color-text); }
.dark-version.home-one .work-process-item .icon .number { -webkit-text-stroke-color: white; }
.dark-version.home-one .slick-arrow:hover,
  .dark-version.home-one .social-style-two a:not(:hover) { -webkit-box-shadow: 10px 0 60px rgba(140, 140, 140, 0.3);
    box-shadow: 10px 0 60px rgba(140, 140, 140, 0.3); }
@media (min-width:1200px) {
  .h4,h4 { font-size:1.5rem }
  .col-xl-6 { flex:0 0 auto;width:50% }
}
@media only screen and (min-width: 992px) {
  .feature-right > .row > div:first-child .service-item { margin-right: 0px;
        margin-left: 30px; }
  .feature-left > .row > div:first-child .service-item { margin-left: 0px;
        margin-right: 30px; }
  .feature-right > .row > div:last-child .service-item { margin-left: 0;
        margin-right: 30px; }
  .feature-left > .row > div:last-child .service-item { margin-right: 0px;
        margin-left: 30px; }
  .main-header.header-two .main-menu .navigation > li > a,
    .main-header.header-two .main-menu .navigation > .dropdown > .dropdown-btn { color: white; }
  .feature-left > .row > div:first-child .service-item { margin-left: 30px; }
  .feature-left > .row > div:last-child .service-item { margin-right: 30px; }
  .feature-right > .row > div:first-child .service-item { margin-right: 30px; }
  .feature-right > .row > div:last-child .service-item { margin-left: 30px; }
}
@media only screen and (max-width: 575px) {
  .cta-item .details-btn { margin-right: 0; }
  .theme-btn,
    a.theme-btn { padding: 9px 25px; }
  .feature-item-eight a { display: block; }
  .feature-item-eight a .image { display: block;
          margin-bottom: 20px; }
  .feature-item-eight a .icon { position: absolute;
          top: 30px;
          right: 0; }
  .work-process-item .icon .number { font-size: 65px; }
  .work-process-item .icon i { width: 80px;
          height: 80px;
          font-size: 35px;
          line-height: 80px; }
  .cta-item { padding-left: 0;
      padding-right: 0;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .cta-item .details-btn { margin-left: 0;
        margin-top: 10px; }
  .product-information-tab li a { padding: 6px 30px; }
}
@media only screen and (min-width: 1400px) {
  .medium-gap > div { padding-left: 32.5px;
      padding-right: 32.5px; }
  .large-gap > div { padding-left: 50px;
      padding-right: 50px; }
  .cta-item h4 { font-size: 28px; }
}
@media only screen and (min-width: 576px) {
  .theme-btn.style-three,
      a.theme-btn.style-three { padding-top: 10px;
        padding-bottom: 10px; }
  .feature-item-eight a h4 { max-width: 290px; }
  .service-item-six h4 { font-size: 26px; }
  .blog-list-item .blog-content h4 { font-size: 27px; }
}
@media only screen and (max-width: 479px) {
  .details-btn { width: 45px;
      height: 45px;
      font-size: 16px;
      line-height: 45px; }
  .about-image .years-fo-experience h4 { font-size: 20px; }
  .blog-list-item .blog-content h4 { font-size: 20px;
          line-height: 1.65; }
  blockquote h4 { font-size: 20px; }
}
@media only screen and (max-width: 991px) {
  .main-menu .navbar-collapse li a { padding: 10px 10px;
          line-height: 22px; }
  .main-menu .navbar-collapse li .megamenu .row { margin: 0px; }
  .feature-item-four h4 { font-size: 20px; }
}
@media only screen and (max-width: 375px) {
  .about-image .years-fo-experience h4 { font-size: 16px; }
  .feature-item-three > i { margin: 0 0 15px 0;
        display: inline-block; }
  .feature-item-four h4 i { font-size: 45px;
          margin-right: 15px; }
  .feature-item-eight a h4 { font-size: 20px; }
  .service-item-six h4 { font-size: 22px; }
  .project-item.style-two .project-content h4 { font-size: 20px;
        line-height: 1.5; }
  .project-gallery-item .content .text h4 { font-size: 20px; }
  .feedback-item .author-logo > i { width: 45px;
          height: 45px;
          line-height: 45px; }
  .feedback-item h4 { font-size: 20px; }
  .contact-info-item .icon { width: 45px;
        height: 45px;
        font-size: 16px;
        line-height: 45px;
        margin-right: 15px; }
  .blog-item .content h4 { font-size: 20px; }
  .blog-list-item .blog-content h4 { font-size: 16px; }
  .blog-four-item h4 { font-size: 22px; }
  blockquote h4 { font-size: 18px; }
  .product-information-tab li a { font-size: 16px;
      padding: 5px 20px; }
}
@media only screen and (min-width: 768px) {
  .feature-item-eight a h4 { font-size: 27px; }
}
@media only screen and (max-width: 767px) {
  .cta-item { padding-left: 40px;
      padding-right: 40px; }
  .cta-item .icon { width: 80px;
        height: 80px;
        font-size: 35px;
        line-height: 80px; }
}
@media only screen and (min-width: 480px) {
  .contact-info-item.style-two .icon { width: 60px;
          height: 60px;
          font-size: 24px;
          line-height: 60px;
          margin-right: 25px; }
  .blog-four-item h4 { font-size: 27px; }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-item .content h4 { font-size: 20px; }
}
@media only screen and (max-width: 1199px) {
  .marquee-item i { font-size: 25px;
        margin-right: 15px; }
}
</style>
<div class="cta-inner bgs-cover" style="background-image: url(assets/images/background/cta-bg.jpg);">
                    <div data-animate="stagger" class="row">
                        <div class="col-xl-6">
                            <div class="cta-item wow fadeInLeft delay-0-2s">
                                <div class="icon"><i class="flaticon-target"></i></div>
                                <h4 data-animate="fade-up">Have any Project On Minds ?</h4>
                                <a data-animate="magnetic" href="contact.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="cta-item wow fadeInRight delay-0-2s">
                                <div class="icon"><i class="flaticon-target"></i></div>
                                <h4 data-animate="fade-up">We are to work SEO optimization ?</h4>
                                <a data-animate="magnetic" href="contact.html" class="details-btn"><i class="far fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
  </div>
</section>
