<!-- Component: testimonials-dinex-01 -->
<!-- Tags: restaurant, modern, slider -->
<section id="testimonials" class="owl-carousel owl-carousel-testimonials" data-animate="fade-up">
                                <!-- testimonials quote start -->
                                <div class="testimonial testimonial-2">
                                    <div class="inner">
                                        <div class="quote">
                                            <blockquote class="quote-inner">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                                standard dummy text ever since the 1500s.
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <!-- testimonials quote end -->
                                <!-- testimonials quote start -->
                                <div class="testimonial testimonial-2">
                                    <div class="inner">
                                        <div class="quote">
                                            <blockquote class="quote-inner">
                                                Suspendisse lobortis bibendum blandit. Fusce consectetur urna eget nunc interdum convallis. Sed volutpat vestibulum nisl a sollicitudin.
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <!-- testimonials quote end -->
                                <!-- testimonials quote start -->
                                <div class="testimonial testimonial-2">
                                    <div class="inner">
                                        <div class="quote">
                                            <blockquote class="quote-inner">
                                                Aliquam erat volutpat. Vivamus ornare rhoncus tellus, eget feugiat lorem bibendum nec. Nam sapien urna, tincidunt vel semper id, rhoncus vel
                                                mauris.
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <!-- testimonials quote end -->
                            </section>
