<!-- Component: contact-tomato-01 -->
<!-- Tags: restaurant -->
<section id="contact" class="py-24 px-6" style="background: var(--color-bg)" data-animate="fade-up">
  <div class="max-w-7xl mx-auto">
<style>
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary { display:block }
h1 { margin:.67em 0;font-size:2em }
button,input,optgroup,select,textarea { margin:0;font:inherit;color:inherit }
button { overflow:visible }
button,select { text-transform:none }
button,html input[type=button],input[type=reset],input[type=submit] { -webkit-appearance:button;cursor:pointer }
button[disabled],html input[disabled] { cursor:default }
button::-moz-focus-inner,input::-moz-focus-inner { padding:0;border:0 }
input { line-height:normal }
input[type=checkbox],input[type=radio] { -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 }
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button { height:auto }
input[type=search] { -webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield }
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration { -webkit-appearance:none }
input,button,select,textarea { font-family:inherit;font-size:inherit;line-height:inherit }
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-family:inherit;font-weight:500;line-height:1.1;color:inherit }
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small { font-weight:400;line-height:1;color:var(--color-text-muted) }
h1,.h1,h2,.h2,h3,.h3 { margin-top:20px;margin-bottom:10px }
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small { font-size:65% }
h1,.h1 { font-size:36px }
p { margin:0 0 10px }
blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child { margin-bottom:0 }
.container { padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto }
.row { margin-right:-15px;margin-left:-15px }
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 { position:relative;min-height:1px;padding-right:15px;padding-left:15px }
input[type=search] { -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box }
input[type=radio],input[type=checkbox] { margin:4px 0 0;margin-top:1px \9;line-height:normal }
input[type=file] { display:block }
input[type=range] { display:block;width:100% }
input[type=file]:focus,input[type=radio]:focus,input[type=checkbox]:focus { outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px }
.form-control { display:block;width:100%;height:34px;padding:6px 12px;font-size:14px;line-height:1.42857143;color:var(--color-text-muted);background-color:var(--color-bg);background-image:none;border:1px solid var(--color-border);border-radius:4px;-webkit-box-shadow:inset 0 1px 1px var(--color-text);box-shadow:inset 0 1px 1px var(--color-text);-webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s }
.form-control:focus { border-color:var(--color-accent, var(--color-secondary));outline:0;-webkit-box-shadow:inset 0 1px 1px var(--color-text),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px var(--color-text),0 0 8px rgba(102,175,233,.6) }
.form-control::-moz-placeholder { color:var(--color-text-muted);opacity:1 }
.form-control:-ms-input-placeholder { color:var(--color-text-muted) }
.form-control::-webkit-input-placeholder { color:var(--color-text-muted) }
.form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control { cursor:not-allowed;background-color:var(--color-bg-alt);opacity:1 }
textarea.form-control { height:auto }
input[type=search] { -webkit-appearance:none }
.form-group { margin-bottom:15px }
.radio input[type=radio],.radio-inline input[type=radio],.checkbox input[type=checkbox],.checkbox-inline input[type=checkbox] { position:absolute;margin-top:4px \9;margin-left:-20px }
input[type=radio][disabled],input[type=checkbox][disabled],input[type=radio].disabled,input[type=checkbox].disabled,fieldset[disabled] input[type=radio],fieldset[disabled] input[type=checkbox] { cursor:not-allowed }
.input-sm,.form-group-sm .form-control { height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px }
select.input-sm,select.form-group-sm .form-control { height:30px;line-height:30px }
textarea.input-sm,textarea.form-group-sm .form-control,select[multiple].input-sm,select[multiple].form-group-sm .form-control { height:auto }
.input-lg,.form-group-lg .form-control { height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px }
select.input-lg,select.form-group-lg .form-control { height:46px;line-height:46px }
textarea.input-lg,textarea.form-group-lg .form-control,select[multiple].input-lg,select[multiple].form-group-lg .form-control { height:auto }
.has-feedback .form-control { padding-right:42.5px }
.has-success .form-control { border-color:var(--color-accent, var(--color-secondary));-webkit-box-shadow:inset 0 1px 1px var(--color-text);box-shadow:inset 0 1px 1px var(--color-text) }
.has-success .form-control:focus { border-color:var(--color-accent, var(--color-secondary));-webkit-box-shadow:inset 0 1px 1px var(--color-text),0 0 6px var(--color-accent, var(--color-secondary));box-shadow:inset 0 1px 1px var(--color-text),0 0 6px var(--color-accent, var(--color-secondary)) }
.has-warning .form-control { border-color:var(--color-accent, var(--color-secondary));-webkit-box-shadow:inset 0 1px 1px var(--color-text);box-shadow:inset 0 1px 1px var(--color-text) }
.has-warning .form-control:focus { border-color:var(--color-accent, var(--color-secondary));-webkit-box-shadow:inset 0 1px 1px var(--color-text),0 0 6px var(--color-accent, var(--color-secondary));box-shadow:inset 0 1px 1px var(--color-text),0 0 6px var(--color-accent, var(--color-secondary)) }
.has-error .form-control { border-color:var(--color-accent, var(--color-secondary));-webkit-box-shadow:inset 0 1px 1px var(--color-text);box-shadow:inset 0 1px 1px var(--color-text) }
.has-error .form-control:focus { border-color:var(--color-accent, var(--color-secondary));-webkit-box-shadow:inset 0 1px 1px var(--color-text),0 0 6px var(--color-accent, var(--color-secondary));box-shadow:inset 0 1px 1px var(--color-text),0 0 6px var(--color-accent, var(--color-secondary)) }
.form-horizontal .form-group { margin-right:-15px;margin-left:-15px }
.btn { display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:1px solid transparent;border-radius:4px }
.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus { outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px }
.btn:hover,.btn:focus,.btn.focus { color:var(--color-text);text-decoration:none }
.btn:active,.btn.active { background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px var(--color-text);box-shadow:inset 0 3px 5px var(--color-text) }
.btn.disabled,.btn[disabled],fieldset[disabled] .btn { pointer-events:none;cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65 }
.btn-default { color:var(--color-text);background-color:var(--color-bg);border-color:var(--color-border) }
.btn-default:hover,.btn-default:focus,.btn-default.focus,.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default { color:var(--color-text);background-color:var(--color-bg-alt);border-color:#adadad }
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default { background-image:none }
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active { background-color:var(--color-bg);border-color:var(--color-border) }
.btn-default .badge { color:var(--color-bg);background-color:var(--color-text) }
.btn-lg,.btn-group-lg>.btn { padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px }
.btn-sm,.btn-group-sm>.btn { padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px }
.btn-xs,.btn-group-xs>.btn { padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px }
input[type=submit].btn-block,input[type=reset].btn-block,input[type=button].btn-block { width:100% }
.btn-group>.btn,.btn-group-vertical>.btn { position:relative;float:left }
.btn-group>.btn:hover,.btn-group-vertical>.btn:hover,.btn-group>.btn:focus,.btn-group-vertical>.btn:focus,.btn-group>.btn:active,.btn-group-vertical>.btn:active,.btn-group>.btn.active,.btn-group-vertical>.btn.active { z-index:2 }
.btn-group .btn+.btn,.btn-group .btn+.btn-group,.btn-group .btn-group+.btn,.btn-group .btn-group+.btn-group { margin-left:-1px }
.btn-toolbar>.btn,.btn-toolbar>.btn-group,.btn-toolbar>.input-group { margin-left:5px }
.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius:0 }
.btn-group>.btn:first-child { margin-left:0 }
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius:0;border-bottom-right-radius:0 }
.btn-group>.btn:last-child:not(:first-child),.btn-group>.dropdown-toggle:not(:first-child) { border-top-left-radius:0;border-bottom-left-radius:0 }
.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn { border-radius:0 }
.btn-group>.btn-group:first-child>.btn:last-child,.btn-group>.btn-group:first-child>.dropdown-toggle { border-top-right-radius:0;border-bottom-right-radius:0 }
.btn-group>.btn-group:last-child>.btn:first-child { border-top-left-radius:0;border-bottom-left-radius:0 }
.btn-group>.btn+.dropdown-toggle { padding-right:8px;padding-left:8px }
.btn .caret { margin-left:0 }
.btn-group-vertical>.btn,.btn-group-vertical>.btn-group,.btn-group-vertical>.btn-group>.btn { display:block;float:none;width:100%;max-width:100% }
.btn-group-vertical>.btn-group>.btn { float:none }
.btn-group-vertical>.btn+.btn,.btn-group-vertical>.btn+.btn-group,.btn-group-vertical>.btn-group+.btn,.btn-group-vertical>.btn-group+.btn-group { margin-top:-1px;margin-left:0 }
.btn-group-vertical>.btn:not(:first-child):not(:last-child) { border-radius:0 }
.btn-group-vertical>.btn:first-child:not(:last-child) { border-top-right-radius:4px;border-bottom-right-radius:0;border-bottom-left-radius:0 }
.btn-group-vertical>.btn:last-child:not(:first-child) { border-top-left-radius:0;border-top-right-radius:0;border-bottom-left-radius:4px }
.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn { border-radius:0 }
.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle { border-bottom-right-radius:0;border-bottom-left-radius:0 }
.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child { border-top-left-radius:0;border-top-right-radius:0 }
.btn-group-justified>.btn,.btn-group-justified>.btn-group { display:table-cell;float:none;width:1% }
.btn-group-justified>.btn-group .btn { width:100% }
[data-toggle=buttons]>.btn input[type=radio],[data-toggle=buttons]>.btn-group>.btn input[type=radio],[data-toggle=buttons]>.btn input[type=checkbox],[data-toggle=buttons]>.btn-group>.btn input[type=checkbox] { position:absolute;clip:rect(0,0,0,0);pointer-events:none }
.input-group .form-control { position:relative;z-index:2;float:left;width:100%;margin-bottom:0 }
.input-group-lg>.form-control,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.btn { height:46px;padding:10px 16px;font-size:18px;line-height:1.33;border-radius:6px }
select.input-group-lg>.form-control,select.input-group-lg>.input-group-addon,select.input-group-lg>.input-group-btn>.btn { height:46px;line-height:46px }
textarea.input-group-lg>.form-control,textarea.input-group-lg>.input-group-addon,textarea.input-group-lg>.input-group-btn>.btn,select[multiple].input-group-lg>.form-control,select[multiple].input-group-lg>.input-group-addon,select[multiple].input-group-lg>.input-group-btn>.btn { height:auto }
.input-group-sm>.form-control,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.btn { height:30px;padding:5px 10px;font-size:12px;line-height:1.5;border-radius:3px }
select.input-group-sm>.form-control,select.input-group-sm>.input-group-addon,select.input-group-sm>.input-group-btn>.btn { height:30px;line-height:30px }
textarea.input-group-sm>.form-control,textarea.input-group-sm>.input-group-addon,textarea.input-group-sm>.input-group-btn>.btn,select[multiple].input-group-sm>.form-control,select[multiple].input-group-sm>.input-group-addon,select[multiple].input-group-sm>.input-group-btn>.btn { height:auto }
.input-group-addon,.input-group-btn,.input-group .form-control { display:table-cell }
.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child) { border-radius:0 }
.input-group-addon input[type=radio],.input-group-addon input[type=checkbox] { margin-top:0 }
.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn { border-top-right-radius:0;border-bottom-right-radius:0 }
.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn { border-top-left-radius:0;border-bottom-left-radius:0 }
.input-group-btn>.btn { position:relative }
.input-group-btn>.btn+.btn { margin-left:-1px }
.input-group-btn>.btn:hover,.input-group-btn>.btn:focus,.input-group-btn>.btn:active { z-index:2 }
.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group { margin-right:-1px }
.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group { margin-left:-1px }
.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse { margin-right:-15px;margin-left:-15px }
.btn .label { position:relative;top:-1px }
.btn .badge { position:relative;top:-1px }
.jumbotron h1,.jumbotron .h1 { color:inherit }
.jumbotron p { margin-bottom:15px;font-size:21px;font-weight:200 }
.container .jumbotron,.container-fluid .jumbotron { border-radius:6px }
.jumbotron .container { max-width:100% }
.alert>p,.alert>ul { margin-bottom:0 }
.alert>p+p { margin-top:5px }
button.close { -webkit-appearance:none;padding:0;cursor:pointer;background:0 0;border:0 }
.modal-footer .btn+.btn { margin-bottom:0;margin-left:5px }
.modal-footer .btn-group .btn+.btn { margin-left:-1px }
.carousel-caption .btn { text-shadow:none }
.clearfix:before,.clearfix:after,.dl-horizontal dd:before,.dl-horizontal dd:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after { display:table;content:" " }
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after { clear:both }
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 { font-family: var(--font-heading);
    text-transform: uppercase;
    color: var(--color-text-muted);
    text-align: center;
    font-weight: 800; }
p { font-family: var(--font-heading);
    color: var(--color-text-muted);
    font-size: 22px; }
.form-group { font-family: var(--font-body); }
.form-group label { font-size: 18px;
    font-weight: 400; }
.form-group input,
.form-group textarea { border-radius: 0px;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: var(--color-bg-alt);
    padding: 10px 15px; }
.btn { border-radius: 0px;
    border: none;
    font-family: var(--font-body);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 10px 15px; }
.btn-default { background-color: var(--color-primary); }
.btn-default:hover { background-color: var(--color-accent, var(--color-secondary)); }
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default { background-color: var(--color-accent, var(--color-secondary));
    border-color: var(--color-accent, var(--color-secondary)); }
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active { background-color: var(--color-accent, var(--color-secondary)); }
.footer .container { padding-bottom: 44px; }
.footer-copyrights .container { padding-bottom: 0px; }
.footer h1 { color: var(--color-primary);
    font-size: 18px;
    text-align: left;
    margin: 60px 0px 26px; }
.footer p { color: var(--color-bg);
    font-size: 18px; }
.footer-address p { color: var(--color-border);
    font-size: 17px; }
.contact-info p { color: var(--color-text-muted);
    font-size: 18px; }
.footer-address .fa { margin-right: 10px;
    color: var(--color-primary);
    width: 18px;
    text-align: center; }
.footer .footer-copyrights p { margin: 30px 0px;
    color: var(--color-border);
    font-size: 16px; }
.home .tittle-block h1 { color: var(--color-bg);
    font-size: 72px; }
.special-slider .slider-content .page-header h1 { font-size: 30px;
    text-align: left;
    text-transform: none;
    font-weight: 700; }
.special-slider .slider-content .page-header h1 small { font-size: 22px;
    text-align: left;
    line-height: 1.2em;
    color: #aaa; }
.special-slider .slider-content p { font-size: 21px;
    margin-bottom: 0px; }
.special-slider .slider-content .btn { margin: 17px 10px 20px 0px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: normal;
    padding: 10px 25px; }
.reservation-form .form-group { padding: 10px 0px;
    position: relative; }
.reservation-form .form-group .form-control { padding: 0px 50px 0px 15px;
    font-size: 16px;
    height: 40px; }
.reservation-form .form-group input[type=number]::-webkit-inner-spin-button,
.reservation-form .form-group input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none;
    margin: 0; }
.reservation-form i { position: absolute;
    right: 20px;
    top: 53px;
    color: var(--color-accent, var(--color-secondary)); }
.reservation-footer p { margin-bottom: 20px; }
.features .features-tile .features-content .page-header h1 { font-size: 25px;
    text-align: left; }
.features .features-tile .features-content .page-header h1 small { font-size: 18px;
    text-align: left; }
.menu .food-menu .menu-item p,
.menu .food-menu .menu-item3 p { font-size: 18px; }
.trusted-slider .slick-dots li button { width: 11px;
    height: 11px;
    display: block;
    background: var(--color-bg);
    border-radius: 50%; }
.trusted-slider .slick-dots .slick-active button { background: var(--color-bg); }
.subscribe { padding: 30px 0px;
    background: var(--color-bg); }
.subscribe h1 { font-weight: 300;
    text-align: left;
    margin: 0px;
    float: left;
    line-height: 45px;
    font-size: 45px; }
.subscribe p { float: left;
    margin: 5px 0px 0px 40px;
    line-height: 35px; }
.subscribe form { float: right; }
.subscribe form .btn .fa { font-size: 34px;
    padding: 0px 8px;
    position: relative;
    top: -2px;
    left: 2px; }
.subscribe input { border: 2px solid var(--color-primary) !important;
    background: var(--color-bg) none repeat scroll 0% 0%;
    margin: 0px 20px;
    width: 263px !important;
    line-height: 42px;
    height: 46px; }
.subscribe .btn-default { padding: 0 15px;
    height: 46px;
    border: 1px solid var(--color-primary);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
.page_header p { margin: 15px 0;
    font-size: 24px;
    font-family: var(--font-body);
    color: var(--color-bg);
    opacity: 0.7; }
.about2 p { font-size: 20px;
    line-height: 32px;
    padding-right: 44px;
    margin: 0 0 25px; }
.service-content p { color: var(--color-text-muted);
    font-size: 18px;
    line-height: 32px;
    padding: 0 65px;
    margin: 0; }
.services-slider .slick-dots li button { font-size: 0px;
    line-height: 0;
    display: table;
    width: 17px;
    height: 17px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0px none;
    outline: medium none;
    background: var(--color-text);
    border-radius: 50%; }
.services-slider .slick-dots li.slick-active button { background-color: transparent;
    border: solid 2px var(--color-primary); }
.services-slider .slick-dots li button:before { font-size: 0; }
.services-slider .slick-dots li.slick-active button:before { opacity: 1;
    background: var(--color-primary);
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 999;
    font-size: 0; }
.team-staff p { color: var(--color-text);
    font-size: 18px;
    margin: 0px; }
.menu2-overlay p { color: var(--color-bg);
    font-size: 19px;
    line-height: 24px; }
.menu-items3 p { float: left; }
.menu4-overlay p { color: var(--color-text-muted);
    font-size: 18px;
    line-height: 24px; }
.contact-form input { height: 50px;
    font-size: 16px; }
.contact-form .form-group .help-block { text-align: left; }
.gi-overlay i { width: 50px;
    height: 50px;
    background: var(--color-bg);
    line-height: 50px;
    text-align: center;
    margin: -25px auto 0;
    display: table;
    position: relative;
    top: 50%;
    font-size: 20px;
    color: var(--color-bg);
    border-radius: 50%; }
.rc-info p { font-size: 17px;
    line-height: 32px;
    color: var(--color-text-muted);
    padding-right: 29px; }
.recipie-content .btn-default { color: var(--color-accent, var(--color-secondary));
    padding: 17px;
    border: 1px solid var(--color-primary);
    font-size: 13px;
    line-height: 14px;
    border-radius: 1px;
    font-weight: 700;
    margin-top: 12px; }
.featured-recipies .slick-dots li button { font-size: 0px;
    line-height: 0;
    display: table;
    width: 15px;
    height: 15px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    background-color: var(--color-bg-alt);
    outline: medium none;
    border-radius: 50%; }
.featured-recipies .slick-dots li.slick-active button { background-color: var(--color-primary); }
.featured-recipies .slick-dots li button:before { display: none; }
.recipie-item .rc-info p { font-size: 16px;
    line-height: 25px; }
.single-recipe-carousel-nav div { margin: 6px 9px 5px; }
.single-recipe h1,
.single-recipe h2,
.single-recipe h3,
.single-recipe h4,
.single-recipe h5,
.single-recipe h6,
.single-recipe .h1,
.single-recipe .h2,
.single-recipe .h3,
.single-recipe .h4,
.single-recipe .h5,
.single-recipe .h6 { text-transform: uppercase;
    text-align: left; }
.single-recipe p { margin-bottom: 30px;
    font-size: 17px;
    line-height: 27px; }
.ingredients .fa { font-size: 24px;
    margin-right: 12px;
    vertical-align: middle; }
article p { color: var(--color-text);
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 29px; }
.search input { padding: 0 75px 0 25px;
    width: 100%;
    height: 46px;
    background-color: var(--color-bg);
    border: solid 1px var(--color-bg-alt);
    font-size: 18px;
    color: var(--color-text);
    font-family: var(--font-body); }
.search button { height: 46px;
    line-height: 46px;
    padding: 0;
    border: none;
    text-align: center;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-primary);
    color: var(--color-text);
    font-size: 15px; }
.side-cat li i { font-size: 10px;
    color: var(--color-text);
    position: absolute;
    top: 9px;
    left: 10px; }
#respond input { padding: 0 15px;
    width: 100%;
    height: 46px;
    background-color: var(--color-bg);
    border: solid 1px var(--color-bg-alt);
    font-size: 18px;
    color: var(--color-text);
    font-family: var(--font-body);
    margin-bottom: 10px; }
.comments-area .commentlist ul .comment p { margin-bottom: 0; }
.comments-area .comment p { color: var(--color-text);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0; }
.shop-cat li i { font-size: 13px;
    color: var(--color-text);
    position: absolute;
    top: 5px;
    right: 0px; }
.shop-meta a i { margin-right: 8px; }
.rpp-info .fa { color: var(--color-border); }
.coupon input { width: 70%;
    float: left; }
.coupon button { color: var(--color-bg);
    text-transform: uppercase;
    background: var(--color-text-muted);
    height: 34px;
    padding: 0 15px;
    border: none;
    line-height: 34px;
    width: 30%;
    font-size: 12px;
    transition: .4s;
    font-weight: 700; }
.coupon button:hover { background: var(--color-primary);
    transition: .4s;
    color: var(--color-text); }
.cart-btn button { float: left;
    margin-left: 5px; }
.logregform input[type=text],
.billing-details input[type=text],
.logregform input[type=password],
.billing-details input[type=password] { height: 40px;
    border-radius: 0px;
    border: medium none !important;
    box-shadow: none !important;
    background-color: var(--color-bg-alt);
    margin-bottom: 15px;
    font-size: 15px; }
.payment-method form span { text-transform: none;
    font-size: 15px;
    margin-left: 9px; }
.payment-method p { font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px; }
.ma-address p { font-size: 17px; }
.shop-single-info p { font-size: 18px;
    color: var(--color-text);
    line-height: 32px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 35px;
    margin-bottom: 45px; }
.shop-single-info input { width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid var(--color-border); }
.shop-single-info .btn-default.pull-right { margin-left: 9px; }
.tab-pane p { font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
    color: var(--color-text); }
.list span i { color: var(--color-accent, var(--color-secondary));
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 14px; }
.comment-list li p { margin-left: 70px;
    line-height: 21px; }
.review-form input { border-radius: 0px;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: var(--color-bg-alt);
    padding: 10px 15px;
    height: 40px; }
.review-form input { margin-bottom: 15px; }
input,
textarea { outline: 0; }
.blog-slider .slick-dots li button { font-size: 0px;
    line-height: 0;
    display: table;
    width: 10px;
    height: 10px;
    padding: 0;
    cursor: pointer;
    color: transparent;
    border: 0px none;
    outline: medium none;
    background: var(--color-text);
    border-radius: 50%; }
.blog-slider .slick-dots li.slick-active button { background-color: var(--color-primary); }
.blog-slider .slick-dots li button:before { font-size: 0;
    display: none; }
#OT_searchWrapper input { width: 100%;
    font-size: 16px; }
#OT_searchWrapper .form-group label { display: block; }
.statusMessage i { color: var(--color-accent, var(--color-secondary));
    font-size: 15px;
    margin-right: 5px; }
.statusMessage p { margin: 0;
    padding: 20px;
    color: var(--color-text-muted);
    font-size: 14px; }
.successmessage p { margin: 0;
    padding: 20px;
    color: var(--color-text-muted);
    font-size: 14px; }
.successmessage i { color: var(--color-accent, var(--color-secondary));
    font-size: 15px;
    margin-right: 5px; }
.errormessage p { margin: 0;
    padding: 20px;
    color: var(--color-text-muted);
    font-size: 14px; }
.errormessage i { color: var(--color-accent, var(--color-secondary));
    font-size: 15px;
    margin-right: 5px; }
#incompleteMessage i { color: var(--color-accent, var(--color-secondary));
    font-size: 15px;
    margin-right: 5px; }
article.blog-mason-item p { color: var(--color-text-muted);
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 29px; }
.list.list-circle span i { color: var(--color-accent, var(--color-secondary));
    position: absolute;
    left: 0px;
    top: 12px;
    font-size: 9px; }
.element-tab .tab-content > .tab-pane p { margin: 0px;
    font-size: 18px;
    line-height: 32px;
    padding: 25px; }
.pricing p { font-size: 18px;
    color: var(--color-text);
    line-height: 36px;
    margin: 47px 0 48px; }
.panel-body p { color: var(--color-text);
    margin: 0px;
    font-size: 18px;
    line-height: 32px;
    padding: 25px; }
.slick-slide,
.slick-list,
.slick-active,
button,
input,
textarea { outline: 0; }
.datepicker>div { display: none }
.input-daterange input { text-align: center }
.input-daterange input:first-child { border-radius: 3px 0 0 3px }
.input-daterange input:last-child { border-radius: 0 3px 3px 0 }
button.mfp-close,
button.mfp-arrow { overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none; }
button::-moz-focus-inner { padding: 0;
    border: 0; }
.slick-dots li button { font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent; }
.slick-dots li button:hover,
.slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before,
.slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: .75;
    color: black; }
.bg-list div,
.color-list div { display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 4px 10px;
    padding: 1px;
    border-radius: 3px;
    border: 1px solid var(--color-border);
    background-clip: content-box;
    cursor: pointer;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out; }
.bg-list div.active,
.color-list div.active { opacity: 1;
    border: 1px solid var(--color-accent, var(--color-secondary));
    box-shadow: inset 0 0 0 2px var(--color-accent, var(--color-secondary)); }
.color-list div { box-shadow: inset 0 0 0 1px var(--color-bg); }
.color-list div.active { box-shadow: inset 0 0 0 2px var(--color-accent, var(--color-secondary)), inset 0 0 0 3px var(--color-bg); }
@media print {
  p,h2,h3 { orphans:3;widows:3 }
  .btn>.caret,.dropup>.btn>.caret { border-top-color:var(--color-text)!important }
}
@media (min-width:768px) {
  .container { width:750px }
  .form-inline .form-group { display:inline-block;margin-bottom:0;vertical-align:middle }
  .form-inline .form-control { display:inline-block;width:auto;vertical-align:middle }
  .form-inline .form-control-static { display:inline-block }
  .form-inline .input-group { display:inline-table;vertical-align:middle }
  .form-inline .input-group .input-group-addon,.form-inline .input-group .input-group-btn,.form-inline .input-group .form-control { width:auto }
  .form-inline .input-group>.form-control { width:100% }
  .form-inline .control-label { margin-bottom:0;vertical-align:middle }
  .form-inline .radio,.form-inline .checkbox { display:inline-block;margin-top:0;margin-bottom:0;vertical-align:middle }
  .form-inline .radio label,.form-inline .checkbox label { padding-left:0 }
  .form-inline .radio input[type=radio],.form-inline .checkbox input[type=checkbox] { position:relative;margin-left:0 }
  .form-inline .has-feedback .form-control-feedback { top:0 }
  .container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse { margin-right:0;margin-left:0 }
  .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand { margin-left:-15px }
  .navbar-form .form-group { display:inline-block;margin-bottom:0;vertical-align:middle }
  .navbar-form .form-control { display:inline-block;width:auto;vertical-align:middle }
  .navbar-form .input-group .input-group-addon,.navbar-form .input-group .input-group-btn,.navbar-form .input-group .form-control { width:auto }
  .navbar-form .input-group>.form-control { width:100% }
  .navbar-form .radio input[type=radio],.navbar-form .checkbox input[type=checkbox] { position:relative;margin-left:0 }
}
@media (min-width:992px) {
  .container { width:970px }
  .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 { float:left }
  .col-md-12 { width:100% }
}
@media (min-width:1200px) {
  .container { width:1170px }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type=date],input[type=time],input[type=datetime-local],input[type=month] { line-height:34px }
  input[type=date].input-sm,input[type=time].input-sm,input[type=datetime-local].input-sm,input[type=month].input-sm { line-height:30px }
  input[type=date].input-lg,input[type=time].input-lg,input[type=datetime-local].input-lg,input[type=month].input-lg { line-height:46px }
}
@media (max-width:767px) {
  .navbar-form .form-group { margin-bottom:5px }
  .navbar-form .form-group:last-child { margin-bottom:0 }
}
@media screen and (min-width:768px) {
  .container .jumbotron,.container-fluid .jumbotron { padding-right:60px;padding-left:60px }
  .jumbotron h1,.jumbotron .h1 { font-size:63px }
}
@media (max-width: 768px) {
  .home .tittle-block h1 { font-size: 42px; }
}
@media (max-width: 1200px) {
  .special-slider .slider-content .page-header h1 { font-size: 24px; }
  .special-slider .slider-content .page-header h1 .small { font-size: 18px; }
  .special-slider .slider-content p { font-size: 18px; }
  .subscribe h1,
    .subscribe p,
    .subscribe form { float: none;
        text-align: center; }
  .subscribe p { margin-left: 0px;
        margin-top: 10px; }
  .subscribe form { width: 100%;
        margin-top: 10px; }
  .subscribe input { margin-left: 0px; }
  .subscribe .form-inline .form-group { display: inline-block; }
}
@media (max-width: 992px) {
  .subscribe .btn-default { padding: 0px 15px;
        height: 46px;
        border: 1px solid var(--color-primary);
        margin-left: 0 px;
        margin-top: 0px; }
}
@media (max-width: 767px) {
  h1,
    .h1 { font-size: 32px; }
  .subscribe .btn-default { padding: 0px 15px;
        height: 46px;
        border: 1px solid var(--color-primary);
        margin-left: 0 px;
        margin-top: 0; }
  .subscribe input { width: auto !important; }
}
@media (max-width: 480px) {
  .special-slider .slider-content .btn { margin: 17px 5px 20px 0px;
        font-weight: 700;
        font-size: 10px;
        letter-spacing: normal;
        padding: 10px 20px;
        float: left; }
  .contact-info p { font-size: 15px; }
}
</style>
<section class="subscribe">
                <div class="container">
                    <div data-animate="stagger" class="row">
                        <div class="col-md-12">
                            <h1 data-animate="text-split" data-split-type="words">{{CONTACT_TITLE}}</h1>
                            <p data-animate="blur-slide" data-delay="0.2">{{CONTACT_TEXT}}</p>
                            <form class="form-inline" action="php/subscribe.php" id="invite" method="POST">
                                <div class="form-group">
                                    <input class="e-mail form-control" name="email" id="address" type="email" placeholder="Your Email Address" required>
                                </div>
                                <button type="submit" class="btn btn-default">
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
  </div>
</section>
