<!-- Component: contact-dinex-01 -->
<!-- Tags: restaurant, modern, parallax -->
<section id="contact" id="contact" class="section-all" data-animate="fade-up">
            <!-- container start -->
            <div class="container-fluid">
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- parallax wrapper start -->
                    <div class="parallax parallax-all parallax-contact" data-parallax-speed="0.75">
                        <!-- parallax overlay start -->
                        <div class="parallax-overlay"></div>
                        <!-- parallax overlay end -->
                        <!-- parallax content start -->
                        <div class="parallax-content">
                            <!-- section subtitle start -->
                            <div class="section-title">
                                <h2 data-animate="text-split" data-split-type="words" class="section-title-line">{{CONTACT_TITLE}}</h2>
                            </div>
                            <!-- section subtitle end -->
                            <!-- divider start -->
                            <div class="divider-m"></div>
                            <!-- divider end -->
                            <!-- section title start -->
                            <h2 data-animate="text-split" data-split-type="words" class="hero-heading">{{CONTACT_TITLE_2}}</h2>
                            <!-- section title end -->
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                            <!-- line start -->
                            <div class="the-line the-line-light"></div>
                            <!-- line end -->
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                            <!-- contact info start -->
                            <div class="contact-info-wrapper">
                                <!-- col start -->
                                <div class="col-md-4 col-sm-12">
                                    <div class="contact-info-description">
                                        <i class="ion-ios-location-outline contact-info-description-img"></i>
                                        <!-- divider start -->
                                        <div class="divider-m"></div>
                                        <!-- divider end -->
                                        <span class="contact-info-text">ex Inc. Touchdown Dr 1176</span>
                                    </div>
                                    <!-- divider start -->
                                    <div class="divider-m visible-mobile-devices"></div>
                                    <!-- divider end -->
                                </div>
                                <!-- col end -->
                                <!-- col start -->
                                <div class="col-md-4 col-sm-12">
                                    <div class="contact-info-description">
                                        <i class="ion-ios-telephone-outline contact-info-description-img large"></i>
                                        <!-- divider start -->
                                        <div class="divider-m"></div>
                                        <!-- divider end -->
                                        <span class="contact-info-text large">+123 456 7890</span>
                                    </div>
                                    <!-- divider start -->
                                    <div class="divider-m visible-mobile-devices"></div>
                                    <!-- divider end -->
                                </div>
                                <!-- col end -->
                                <!-- col start -->
                                <div class="col-md-4 col-sm-12">
                                    <div class="contact-info-description">
                                        <i class="ion-ios-email-outline contact-info-description-img"></i>
                                        <!-- divider start -->
                                        <div class="divider-m"></div>
                                        <!-- divider end -->
                                        <span class="contact-info-text"><a class="link-effect link-effect-light" href="mailto:contact@domainname.com">contact@domainname.com</a></span>
                                    </div>
                                </div>
                                <!-- col end -->
                                <!-- col start -->
                                <div class="col-md-12 col-sm-12">
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <div class="contact-info-description">
                                        <!-- button start -->
                                        <div class="more-wraper-center contact-modal-launcher">
                                            <div class="more-button-bg-center more-button-circle"></div>
                                            <div class="more-button-txt-center">
                                                <span>Use the Form</span>
                                            </div>
                                        </div>
                                        <!-- button end -->
                                    </div>
                                </div>
                                <!-- col end -->
                            </div>
                            <!-- contact info end -->
                        </div>
                        <!-- parallax content end -->
                    </div>
                    <!-- parallax wrapper end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </section>
