<!-- Component: hero-spamagic-01 -->
<!-- Tags: imported -->
<section id="hero" class="bg-fixed hero-section division" data-animate="fade-up">
				<div class="container">
					<div data-animate="stagger" class="row">
						<div class="col-md-12">
							<div class="hero-txt text-center">

								<!-- Icon -->
								<div class="title-before ico-95"><span class="flaticon-branch"></span></div>

								<h2 data-animate="text-split" data-split-type="words">{{HERO_SUBTITLE}}</h2>
								<p data-animate="blur-slide" data-delay="0.2">{{HERO_DESCRIPTION}}</p>

								<a data-animate="magnetic" href="{{HERO_CTA_URL}}" class="btn">{{HERO_CTA_TEXT}}</a>

							</div>
						</div>
					</div>	   <!-- End row -->
				</div> 	   <!-- End container -->
			</section>
