<!-- Component: hero-dinex-01 -->
<!-- Tags: restaurant, modern, parallax, slider -->
<section id="hero" class="hero-fullscreen" data-animate="fade-up">
                <div class="hero-fullscreen-FIX">
                    <div class="hero-bg">
                        <!-- hero slider wrapper start -->
                        <div class="swiper-container-wrapper">
                            <!-- swiper container start -->
                            <div class="swiper-container swiper1">
                                <!-- swiper wrapper start -->
                                <div class="swiper-wrapper">
                                    <!-- swiper slider item start -->
                                    <div class="swiper-slide">
                                        <div class="swiper-slide-inner" data-swiper-parallax="50%">
                                            <!-- swiper slider item IMG start -->
                                            <div class="swiper-slide-inner-bg bg-img-1 overlay overlay-dark">
                                            </div>
                                            <!-- swiper slider item IMG end -->
                                            <!-- swiper slider item txt start -->
                                            <div class="swiper-slide-inner-txt">
                                                <!-- section subtitle start -->
                                                <div class="section-title section-title-home fadeIn-element">
                                                    <h2 data-animate="text-split" data-split-type="words" class="section-title-line section-title-line-home">{{HERO_SUBTITLE}}</h2>
                                                </div>
                                                <!-- section subtitle end -->
                                                <!-- divider start -->
                                                <div class="divider-m"></div>
                                                <!-- divider end -->
                                                <!-- section title start -->
                                                <h1 data-animate="text-split" data-split-type="words" class="hero-heading hero-heading-home fadeIn-element">{{HERO_TITLE}}</h1>
                                                <!-- section title end -->
                                                <!-- divider start -->
                                                <div class="divider-m"></div>
                                                <!-- divider end -->
                                                <!-- button start -->
                                                <div class="more-wraper-center more-wraper-center-home fadeIn-element">
                                                    <a data-lity="" href="https://www.youtube.com/watch?v=X_7P4YmkfY8">
                                                        <div class="more-button-bg-center more-button-circle"></div>

                                                        <div class="more-button-txt-center">
                                                            <span>Watch Video</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- button end -->
                                            </div>
                                            <!-- swiper slider item txt end -->
                                        </div>
                                    </div>
                                    <!-- swiper slider item end -->
                                    <!-- swiper slider item start -->
                                    <div class="swiper-slide">
                                        <div class="swiper-slide-inner" data-swiper-parallax="50%">
                                            <!-- swiper slider item IMG start -->
                                            <div class="swiper-slide-inner-bg bg-img-2 overlay overlay-dark">
                                            </div>
                                            <!-- swiper slider item IMG end -->
                                            <!-- swiper slider item txt start -->
                                            <div class="swiper-slide-inner-txt">
                                                <!-- section subtitle start -->
                                                <div class="section-title section-title-home fadeIn-element">
                                                    <h2 data-animate="text-split" data-split-type="words" class="section-title-line section-title-line-home">{{HERO_SUBTITLE_2}}</h2>
                                                </div>
                                                <!-- section subtitle end -->
                                                <!-- divider start -->
                                                <div class="divider-m"></div>
                                                <!-- divider end -->
                                                <!-- section title start -->
                                                <h1 data-animate="text-split" data-split-type="words" class="hero-heading hero-heading-home fadeIn-element">{{HERO_TITLE_2}}</h1>
                                                <!-- section title end -->
                                                <!-- divider start -->
                                                <div class="divider-m"></div>
                                                <!-- divider end -->
                                                <!-- button start -->
                                                <div class="more-wraper-center more-wraper-center-home fadeIn-element">
                                                    <a data-lity="" href="https://www.youtube.com/watch?v=X_7P4YmkfY8">
                                                        <div class="more-button-bg-center more-button-circle"></div>
                                                        <div class="more-button-txt-center">
                                                            <span>Watch Video</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- button end -->
                                            </div>
                                            <!-- swiper slider item txt end -->
                                        </div>
                                    </div>
                                    <!-- swiper slider item end -->
                                    <!-- swiper slider item start -->
                                    <div class="swiper-slide">
                                        <div class="swiper-slide-inner" data-swiper-parallax="50%">
                                            <!-- swiper slider item IMG start -->
                                            <div class="swiper-slide-inner-bg bg-img-3 overlay overlay-dark">
                                            </div>
                                            <!-- swiper slider item IMG end -->
                                            <!-- swiper slider item txt start -->
                                            <div class="swiper-slide-inner-txt">
                                                <!-- section subtitle start -->
                                                <div class="section-title section-title-home fadeIn-element">
                                                    <h2 data-animate="text-split" data-split-type="words" class="section-title-line section-title-line-home">{{HERO_SUBTITLE_3}}</h2>
                                                </div>
                                                <!-- section subtitle end -->
                                                <!-- divider start -->
                                                <div class="divider-m"></div>
                                                <!-- divider end -->
                                                <!-- section title start -->
                                                <h1 data-animate="text-split" data-split-type="words" class="hero-heading hero-heading-home fadeIn-element">{{HERO_TITLE_3}}</h1>
                                                <!-- section title end -->
                                                <!-- divider start -->
                                                <div class="divider-m"></div>
                                                <!-- divider end -->
                                                <!-- button start -->
                                                <div class="more-wraper-center more-wraper-center-home fadeIn-element">
                                                    <a data-lity="" href="https://www.youtube.com/watch?v=X_7P4YmkfY8">
                                                        <div class="more-button-bg-center more-button-circle"></div>
                                                        <div class="more-button-txt-center">
                                                            <span>Watch Video</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- button end -->
                                            </div>
                                            <!-- swiper slider item txt end -->
                                        </div>
                                    </div>
                                    <!-- swiper slider item end -->
                                    <!-- swiper slider item start -->
                                    <div class="swiper-slide">
                                        <div class="swiper-slide-inner" data-swiper-parallax="50%">
                                            <!-- swiper slider item IMG start -->
                                            <div class="swiper-slide-inner-bg bg-img-4 overlay overlay-dark">
                                            </div>
                                            <!-- swiper slider item IMG end -->
                                            <!-- swiper slider item txt start -->
                                            <div class="swiper-slide-inner-txt">
                                                <!-- section subtitle start -->
                                                <div class="section-title section-title-home fadeIn-element">
                                                    <h2 data-animate="text-split" data-split-type="words" class="section-title-line section-title-line-home">{{HERO_SUBTITLE_4}}</h2>
                                                </div>
                                                <!-- section subtitle end -->
                                                <!-- divider start -->
                                                <div class="divider-m"></div>
                                                <!-- divider end -->
                                                <!-- section title start -->
                                                <h1 data-animate="text-split" data-split-type="words" class="hero-heading hero-heading-home fadeIn-element">{{HERO_TITLE_4}}</h1>
                                                <!-- section title end -->
                                                <!-- divider start -->
                                                <div class="divider-m"></div>
                                                <!-- divider end -->
                                                <!-- button start -->
                                                <div class="more-wraper-center more-wraper-center-home fadeIn-element">
                                                    <a data-lity="" href="https://www.youtube.com/watch?v=X_7P4YmkfY8">
                                                        <div class="more-button-bg-center more-button-circle"></div>
                                                        <div class="more-button-txt-center">
                                                            <span>Watch Video</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- button end -->
                                            </div>
                                            <!-- swiper slider item txt end -->
                                        </div>
                                    </div>
                                    <!-- swiper slider item end -->
                                </div>
                                <!-- swiper wrapper end -->
                            </div>
                            <!-- swiper container end -->
                        </div>
                        <!-- hero slider wrapper end -->
                        <!-- swiper slider controls start -->
                        <div>
                            <div class="swiper-slide-controls slide-prev fadeIn-element">
                                <span>
                                    <svg class="circle-svg" height="50" width="50">
                                        <circle class="circle" cx="25" cy="25" r="24"></circle>
                                    </svg>
                                </span>
                                <div data-animate="stagger" class="ion-ios-arrow-left"></div>
                            </div>
                            <div class="swiper-slide-controls slide-next fadeIn-element">
                                <span>
                                    <svg class="circle-svg" height="50" width="50">
                                        <circle class="circle" cx="25" cy="25" r="24"></circle>
                                    </svg>
                                </span>
                                <div data-animate="stagger" class="ion-ios-arrow-right"></div>
                            </div>
                        </div>
                        <!-- swiper slider controls end -->
                    </div>
                </div>
            </section>
