<!-- Component: menu-dinex-01 -->
<!-- Tags: restaurant, modern -->
<section id="menu" class="menu menu-visible" id="menu-1" data-animate="fade-up">
                                <div class="item">
                                    <div class="item-wrapper">
                                        <!-- items img start -->
                                        <div class="menu-img">
                                            <div class="menu-img-inner">
                                                <a class="popup-photo" href="img/menu/1.jpg" title="IMG Description">
                                                <img data-animate="scale-in" data-delay="0.3" src="{{MENU_IMAGE_URL}}" alt="{{MENU_IMAGE_ALT}}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- items img end -->
                                        <!-- section title start -->
                                        <h3 data-animate="fade-up" class="item-name">{{MENU_SUBTITLE}}</h3>
                                        <span class="item-divider"></span>
                                        <span class="item-price">$26</span>
                                        <!-- section title end -->
                                    </div>
                                    <!-- divider start -->
                                    <div class="divider-m"></div>
                                    <!-- divider end -->
                                    <!-- section txt start -->
                                    <p data-animate="blur-slide" data-delay="0.2" class="item-description">{{MENU_TEXT}}</p>
                                    <!-- section txt end -->
                                </div>
                                <div class="item">
                                    <div class="item-wrapper">
                                        <!-- items img start -->
                                        <div class="menu-img">
                                            <div class="menu-img-inner">
                                                <a class="popup-photo" href="img/menu/2.jpg" title="IMG Description">
                                                <img data-animate="scale-in" data-delay="0.3" src="{{MENU_IMAGE_URL_2}}" alt="{{MENU_IMAGE_ALT_2}}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- items img end -->
                                        <!-- section title start -->
                                        <h3 data-animate="fade-up" class="item-name">{{MENU_SUBTITLE_2}}</h3>
                                        <span class="item-divider"></span>
                                        <span class="item-price">$27</span>
                                        <!-- section title end -->
                                    </div>
                                    <!-- divider start -->
                                    <div class="divider-m"></div>
                                    <!-- divider end -->
                                    <!-- section txt start -->
                                    <p data-animate="blur-slide" data-delay="0.2" class="item-description">{{MENU_TEXT_2}}</p>
                                    <!-- section txt end -->
                                </div>
                                <div class="item">
                                    <div class="item-wrapper">
                                        <!-- items img start -->
                                        <div class="menu-img">
                                            <div class="menu-img-inner">
                                                <a class="popup-photo" href="img/menu/3.jpg" title="IMG Description">
                                                <img data-animate="scale-in" data-delay="0.3" src="{{MENU_IMAGE_URL_3}}" alt="{{MENU_IMAGE_ALT_3}}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- items img end -->
                                        <!-- section title start -->
                                        <h3 data-animate="fade-up" class="item-name">{{MENU_SUBTITLE_3}}</h3>
                                        <span class="item-divider"></span>
                                        <span class="item-price">$28</span>
                                        <!-- section title end -->
                                    </div>
                                    <!-- divider start -->
                                    <div class="divider-m"></div>
                                    <!-- divider end -->
                                    <!-- section txt start -->
                                    <p data-animate="blur-slide" data-delay="0.2" class="item-description">{{MENU_TEXT_3}}</p>
                                    <!-- section txt end -->
                                </div>
                                <div class="item">
                                    <div class="item-wrapper">
                                        <!-- items img start -->
                                        <div class="menu-img">
                                            <div class="menu-img-inner">
                                                <a class="popup-photo" href="img/menu/4.jpg" title="IMG Description">
                                                <img data-animate="scale-in" data-delay="0.3" src="{{MENU_IMAGE_URL_4}}" alt="{{MENU_IMAGE_ALT_4}}"/>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- items img end -->
                                        <!-- section title start -->
                                        <h3 data-animate="fade-up" class="item-name">{{MENU_SUBTITLE_4}}</h3>
                                        <span class="item-divider"></span>
                                        <span class="item-price">$29</span>
                                        <!-- section title end -->
                                    </div>
                                    <!-- divider start -->
                                    <div class="divider-m"></div>
                                    <!-- divider end -->
                                    <!-- section txt start -->
                                    <p data-animate="blur-slide" data-delay="0.2" class="item-description">{{MENU_TEXT_4}}</p>
                                    <!-- section txt end -->
                                </div>
                            </section>
