<!-- Component: clients-oxence-01 -->
<!-- Tags: slider -->
<section id="clients" class="py-24 px-6" style="background: var(--color-bg)" data-animate="fade-up">
  <div class="max-w-7xl mx-auto">
<style>
.fadeInUp { -webkit-animation-name:fadeInUp;animation-name:fadeInUp }
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 { margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2 }
.h2,h2 { font-size:calc(1.325rem + .9vw) }
.h5,h5 { font-size:1.25rem }
p { margin-top:0;margin-bottom:1rem }
img,svg { vertical-align:middle }
button { border-radius:0 }
button:focus:not(:focus-visible) { outline:0 }
button,input,optgroup,select,textarea { margin:0;font-family:inherit;font-size:inherit;line-height:inherit }
button,select { text-transform:none }
[type=button],[type=reset],[type=submit],button { -webkit-appearance:button }
[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled) { cursor:pointer }
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl { width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto }
.row { --bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5) }
.row>* { flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y) }
.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl { display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between }
.justify-content-between { justify-content:space-between!important }
.align-items-center { align-items:center!important }
i[class*=" flaticon-"]:before,i[class^=flaticon-]:before { font-family:flaticon!important;font-style:normal;font-weight:400!important;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale }
.fa,.fab,.fad,.fal,.far,.fas { -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1 }
.fa.fa-pull-left,.fab.fa-pull-left,.fal.fa-pull-left,.far.fa-pull-left,.fas.fa-pull-left { margin-right:.3em }
.fa.fa-pull-right,.fab.fa-pull-right,.fal.fa-pull-right,.far.fa-pull-right,.fas.fa-pull-right { margin-left:.3em }
.fa-arrow-left:before { content:"\f060" }
.fa-arrow-right:before { content:"\f061" }
.fad.fa-arrow-left:after { content:"\10f060" }
.fad.fa-arrow-right:after { content:"\10f061" }
.fal,.far { font-family:"Font Awesome 5 Pro" }
.far { font-weight:400 }
.cd-headline.type i { position: absolute;
    visibility: hidden; }
.cd-headline.type i.in { position: relative;
    visibility: visible; }
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em { display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.cd-headline.rotate-2 i { -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0; }
.is-visible .cd-headline.rotate-2 i { opacity: 1; }
.cd-headline.rotate-2 i.in { -webkit-animation: cd-rotate-2-in 0.4s forwards;
    -moz-animation: cd-rotate-2-in 0.4s forwards;
    animation: cd-rotate-2-in 0.4s forwards; }
.cd-headline.rotate-2 i.out { -webkit-animation: cd-rotate-2-out 0.4s forwards;
    -moz-animation: cd-rotate-2-out 0.4s forwards;
    animation: cd-rotate-2-out 0.4s forwards; }
.no-csstransitions .cd-headline.rotate-2 i { -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0; }
.no-csstransitions .cd-headline.rotate-2 i em { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
.no-csstransitions .cd-headline.rotate-2 .is-visible i { opacity: 1; }
.cd-headline.loading-bar span { display: inline-block;
    padding: .2em 0; }
.cd-headline.slide span { display: inline-block;
    padding: .2em 0; }
.cd-headline.clip span { display: inline-block;
    padding: .2em 0; }
.cd-headline.rotate-3 i { display: inline-block;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.is-visible .cd-headline.rotate-3 i { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
.cd-headline.rotate-3 i.in { -webkit-animation: cd-rotate-3-in 0.6s forwards;
    -moz-animation: cd-rotate-3-in 0.6s forwards;
    animation: cd-rotate-3-in 0.6s forwards; }
.cd-headline.rotate-3 i.out { -webkit-animation: cd-rotate-3-out 0.6s forwards;
    -moz-animation: cd-rotate-3-out 0.6s forwards;
    animation: cd-rotate-3-out 0.6s forwards; }
.no-csstransitions .cd-headline.rotate-3 i { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0; }
.no-csstransitions .cd-headline.rotate-3 .is-visible i { opacity: 1; }
.cd-headline.scale i { display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
.is-visible .cd-headline.scale i { opacity: 1; }
.cd-headline.scale i.in { -webkit-animation: scale-up 0.6s forwards;
    -moz-animation: scale-up 0.6s forwards;
    animation: scale-up 0.6s forwards; }
.cd-headline.scale i.out { -webkit-animation: scale-down 0.6s forwards;
    -moz-animation: scale-down 0.6s forwards;
    animation: scale-down 0.6s forwards; }
.no-csstransitions .cd-headline.scale i { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
.no-csstransitions .cd-headline.scale .is-visible i { opacity: 1; }
button.mfp-arrow,button.mfp-close { overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;box-shadow:none;touch-action:manipulation }
button::-moz-focus-inner { padding:0;border:0 }
img.mfp-img { width:auto;max-width:100%;height:auto;display:block;line-height:0;box-sizing:border-box;padding:40px 0 40px;margin:0 auto }
.nav-search form button { padding: 15px 0 15px 20px; }
.theme-btn i, a.theme-btn i { margin-left: 0;
    margin-right: 10px; }
.theme-btn:hover i, a.theme-btn:hover i { margin-left: -3px;
    margin-right: 13px; }
.section-title .sub-title::after, .section-title .sub-title::before { float: right; }
.section-title .sub-title:after { margin-left: 0px;
    margin-right: 20px; }
.section-title .sub-title:before { margin-right: 0;
    margin-left: 20px; }
.slider-arrow-btns button:first-child { margin-right: 0px;
    margin-left: 5px; }
.testimonial-item-two .testimonial-author { margin-right: 0;
    margin-left: 30px; }
.testimonial-item-two .testimonial-author:before { right: auto;
    left: 0; }
.testimonial-item-two .author-description:before { left: auto;
    right: 0; }
.testimonial-item-two .author-description { padding-left: 0;
    padding-right: 70px; }
.blog-item .content .date i { margin-right: 0px;
    margin-left: 8px; }
.blog-item .content .author img { margin-right: 0;
    margin-left: 15px; }
.header-top .top-right > ul > li > i { margin-right: 0px;
    margin-left: 5px; }
.video-play-text i { margin-right: 0;
    margin-left: 15px; }
.hero-content p { border-left: none;
    border-right: 3px solid rgb(1, 201, 245);
    padding-left: 0;
    padding-right: 30px; }
.client-satisfactions img { margin-right: 0;
    margin-left: 25px; }
.feedback-item .feedback-author img { margin-right: 0;
    margin-left: 20px; }
.feature-item-three > i { margin-right: 0;
    margin-left: 25px; }
.read-more i { margin-left: 0;
    margin-right: 7px; }
.read-more:hover i { margin-left: 0px;
    margin-right: 10px; }
.feature-item-four h4 i { margin-right: 0;
    margin-left: 20px; }
.blog-meta li img { margin-right: 0;
    margin-left: 8px; }
.blog-meta li i { margin-right: 0px;
    margin-left: 6px; }
.pricing-tab li:first-child button:before { right:auto;
    left: 0;
    transform: translate(-50%, -50%); }
.pricing-tab li:last-child button:before { margin-right: 0px;
    margin-left: 10px; }
.pricing-tab li:first-child button:after { margin-left: 0px;
    margin-right: 10px; }
.error-page-area,
.pricing-area-three,
.team-profile-area,
.ww-do-two-area,
.blog-details-area,
.blog-grid-area,
.shopping-cart-area,
.product-details,
.shop-page-area,
.project-details-area,
.project-creative-area,
.faqs-area,
.responsive-design-area,
.what-we-offer-two,
.what-we-offer,
.statistics-area-five,
.why-choose-two-area,
.statistics-area-two,
.feature-area-four,
.feature-with-image-area,
.ww-do-area,
.features-area-two,
.feedback-area,
.pricing-area,
.why-choose-area,
.mission-visson-area,
.about-area,
.main-footer,
.news-blog-area,
.contact-area,
.testimonial-area-two,
.pricing-area-two,
.call-to-action-area,
.statistics-area-three,
.about-area-one,
.main-slider-area,
.main-header { text-align: right; }
.slick-slide img { display:block }
.slick-slide.slick-loading img { display:none }
.slick-slide.dragging img { pointer-events:none }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: var(--color-accent, var(--color-secondary)); }
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white h1 a,
.text-white h2 a,
.text-white h3 a,
.text-white h4 a,
.text-white h5 a,
.text-white h6 a { color: white; }
img { max-width: 100%;
  display: inline-block; }
header:after, section:after, footer:after { display: block;
  clear: both;
  content: ""; }
input:focus,
button:focus,
.form-control:focus { outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: var(--color-border); }
.no-gap > div { padding-left: 0;
    padding-right: 0; }
.small-gap > div { padding-left: 5px;
    padding-right: 5px; }
.row { --bs-gutter-x: 30px; }
.section-title { margin-top: -7px; }
.section-title .sub-title { font-size: 18px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: var(--color-accent, var(--color-secondary));
    text-decoration: underline; }
.section-title .sub-title:after, .section-title .sub-title:before { float: left;
      line-height: 0;
      font-size: 40px;
      font-weight: 300;
      content: "\f141";
      font-family: 'Font Awesome 5 Pro'; }
.section-title .sub-title:before { margin-right: 20px; }
.section-title .sub-title:after { margin-left: 20px;
      display: none; }
.section-title .sub-title.style-two { color: var(--color-primary);
      text-decoration: none; }
.section-title .sub-title.style-two:before { content: url(../images/shapes/section-subtitle-line.png);
        margin: -15px 15px 0 -25px; }
.section-title .sub-title.style-two:after { display: none; }
.section-title h2 { margin-bottom: 25px; }
.section-title.text-center .sub-title:after { display: block; }
.section-title.text-center .sub-title.style-two:after, .section-title.text-center .sub-title.style-two:before { display: none; }
.theme-btn i,
  a.theme-btn i { font-size: 13px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 10px; }
.theme-btn:hover i,
  a.theme-btn:hover i { margin-left: 13px;
    margin-right: -3px; }
.read-more i { float: right;
    font-weight: 400;
    margin-left: 7px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.read-more:hover i { margin-left: 10px; }
.list-style-one li .content p { margin-bottom: 0; }
.ratting i { margin: 3px;
    color: var(--color-accent, var(--color-secondary));
    font-size: 14px; }
.slick-dots li button { opacity: 0; }
.text-white *, .text-white a,
.text-white .count-text,
.text-white .footer-newsletter-content .sub-title { color: white; }
.text-white li li .dropdown-btn span { color: var(--color-accent, var(--color-secondary)); }
.text-white .copyright-area p { opacity: 0.5; }
.video-play-text i { color: white;
    font-size: 14px;
    margin-right: 15px;
    width: 55px;
    height: 55px;
    background: var(--color-accent, var(--color-secondary));
    line-height: 55px;
    border-radius: 50%;
    text-align: center; }
.video-play-text span { font-weight: 500;
    text-decoration: underline; }
.rel { position: relative; }
.z-1 { z-index: 1; }
.home-one .count-text,
  .home-one .price-and-btn .price,
  .home-one .blog-item .content h4,
  .home-one h1, .home-one h2, .home-one h3, .home-one h4, .home-one h5, .home-one h6,
  .home-one .blog-item .content .date,
  .home-one .h1, .home-one .h2, .home-one .h3, .home-one .h4, .home-one .h5, .home-one .h6,
  .home-one .blog-item .content .post-by a,
  .home-one .work-process-item .number { font-family: 'Kumbh Sans', sans-serif; }
.home-one a:hover,
  .home-one .details-btn,
  .home-one .slick-arrow,
  .home-one .counter-item > i,
  .home-one .section-title h2 span,
  .home-one .blog-item .content .date,
  .home-one .style-two .counter-title,
  .home-one .section-title .sub-title,
  .home-one .list-style-two li a:hover,
  .home-one .social-style-two a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.home-one .theme-btn,
  .home-one .scroll-top,
  .home-one .details-btn:hover,
  .home-one .slick-arrow:hover,
  .home-one .slick-arrow:focus,
  .home-one .list-style-two li:before,
  .home-one .list-style-one li:before,
  .home-one .social-style-two a:hover,
  .home-one .work-process-item .icon i,
  .home-one .slick-dots li.slick-active,
  .home-one .theme-btn.style-three:after,
  .home-one .list-style-two li:hover:before,
  .home-one .work-process-item:hover .icon i,
  .home-one .hidden-bar .social-style-one a:hover,
  .home-one .widget_nav_menu .list-style-two li:hover:before { background: var(--color-accent, var(--color-secondary)); }
.home-one .text-center .sub-title:after, .home-one .text-center .sub-title:before { display: block; }
.home-four .count-text,
.home-four .price-and-btn .price,
.home-four .blog-item .content h4,
.home-four h1, .home-four h2, .home-four h3, .home-four h4, .home-four h5, .home-four h6,
.home-four .blog-item .content .date,
.home-four .h1, .home-four .h2, .home-four .h3, .home-four .h4, .home-four .h5, .home-four .h6,
.home-four .blog-item .content .post-by a,
.home-four .work-process-item .number { color: var(--color-text); }
.home-four a:hover,
.home-four .details-btn,
.home-four .slick-arrow,
.home-four .counter-item > i,
.home-four .section-title h2 span,
.home-four .blog-item .content .date,
.home-four .style-two .counter-title,
.home-four .section-title .sub-title,
.home-four .list-style-two li a:hover,
.home-four .social-style-two a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.home-four .theme-btn,
.home-four .scroll-top,
.home-four .details-btn:hover,
.home-four .slick-arrow:hover,
.home-four .slick-arrow:focus,
.home-four .list-style-two li:before,
.home-four .list-style-one li:before,
.home-four .social-style-two a:hover,
.home-four .work-process-item .icon i,
.home-four .slick-dots li.slick-active,
.home-four .theme-btn.style-three:after,
.home-four .list-style-two li:hover:before,
.home-four .work-process-item:hover .icon i,
.home-four .hidden-bar .social-style-one a:hover,
.home-four .widget_nav_menu .list-style-two li:hover:before { background: var(--color-accent, var(--color-secondary)); }
.home-four .section-title .sub-title { text-decoration: none; }
.home-four .section-title .sub-title:after, .home-four .section-title .sub-title:before { display: none; }
.home-four .text-white .sub-title,
.home-four .text-white h1, .home-four .text-white h2, .home-four .text-white h3, .home-four .text-white h4, .home-four .text-white h5, .home-four .text-white h6,
.home-four .text-white .h1, .home-four .text-white .h2, .home-four .text-white .h3, .home-four .text-white .h4, .home-four .text-white .h5, .home-four .text-white .h6 { color: white; }
.home-four .social-style-two a i { -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: var(--color-accent, var(--color-secondary)); }
.home-four .social-style-two a:hover i { color: white; }
.heading,
h1,
.h1,
h2,
.h2,
.count-text,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.tab-btns-one .nav-link .title,
.product-item .content .price-details-btn .price { font-weight: 700;
  color: var(--color-accent, var(--color-secondary));
  font-family: var(--font-heading); }
h2, .h2, .count-text { line-height: 1.22;
  font-size: 45px; }
h5, .h5 { line-height: 1.5;
  font-size: 18px; }
.pb-90,
.py-90 { padding-bottom: 90px; }
.mt-130,
.my-130 { margin-top: 130px; }
.mb-15,
.my-15 { margin-bottom: 15px; }
.mb-120,
.my-120 { margin-bottom: 120px; }
.delay-0-2s { -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.delay-0-4s { -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.header-top .top-right > ul > li > i { margin-right: 5px; }
.nav-search button { background: transparent; }
.nav-search form button { padding: 15px 20px 15px 0; }
.menu-sidebar button { width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: transparent; }
.menu-sidebar button .icon-bar { background: var(--color-accent, var(--color-secondary));
      height: 2px;
      width: 100%;
      margin: 4px 0;
      display: block;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
.menu-sidebar button .icon-bar:first-child { width: calc(100% - 5px); }
.menu-sidebar button .icon-bar:last-child { width: calc(100% - 8px); }
.menu-sidebar button:hover .icon-bar { width: 100%; }
.hidden-bar .appointment-form .form-group button { width: 100%;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 20px;
    border-color: white; }
.main-header.header-two .nav-search > button { color: white; }
.main-header.header-two .menu-sidebar button .icon-bar,
  .main-header.header-two .main-menu .navbar-toggle .icon-bar { background: white; }
.main-header.header-four .menu-sidebar > button { width: 50px;
  height: 50px;
  padding: 15px;
  line-height: 50px;
  background: black;
  margin-right: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 0 0 var(--color-accent, var(--color-secondary));
  box-shadow: 5px 5px 0 0 var(--color-accent, var(--color-secondary)); }
.main-header.header-four .menu-sidebar > button .icon-bar { width: 100%;
    background: white;
    margin-top: 2px;
    margin-bottom: 2px; }
.main-header.header-four .menu-sidebar > button .icon-bar:nth-child(odd) { width: calc(100% - 7px); }
.main-header.header-four .menu-sidebar > button:hover .icon-bar { width: 100%; }
.hero-content .sub-title { font-weight: 500;
    line-height: 1.5;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    background: var(--color-primary);
    border-left: 3px solid white; }
.hero-content p { margin-top: 25px;
    padding-left: 30px;
    border-left: 3px solid var(--color-accent, var(--color-secondary)); }
.hero-content-three h1 span { position: relative;
    color: var(--color-accent, var(--color-secondary)); }
.hero-content-three h1 span:after { position: absolute;
      content: '';
      left: 4%;
      z-index: -1;
      bottom: -13%;
      width: 96%;
      height: 28%;
      background: url(../images/shapes/hero-title-bg-line.png) no-repeat center/cover; }
.hero-content-three .video-play-text i { background: var(--color-accent, var(--color-secondary)); }
.hero-content-three .video-play-text span:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.hero-content-four .hero-btns .video-play-text i { margin-right: 20px;
    background: var(--color-accent, var(--color-secondary));
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 0 0 var(--color-text);
    box-shadow: 5px 5px 0 0 var(--color-text); }
.hero-content-four .hero-btns .video-play-text span { color: var(--color-text); }
.hero-left-images .image img,
    .hero-right-images .image img { margin-bottom: 3px; }
.banner-inner h1 span { z-index: 1;
    position: relative; }
.banner-inner h1 span:after { position: absolute;
      content: '';
      z-index: -1;
      left: 0;
      top: 80%;
      height: 20px;
      width: 100%;
      background: url(../images/shapes/page-title-bg-line.png) no-repeat center/contain; }
.slider-content .sub-title { color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
    font-family: 'Catamaran', sans-serif; }
.slider-video .video-title .cd-words-wrapper span { padding: 0; }
.slick-active .sub-title { -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.client-satisfactions img,
  .client-satisfactions .heading,
  .client-satisfactions .count-text { margin-bottom: 15px; }
.client-satisfactions img { margin-right: 25px; }
.ww-do-btns .video-play-text i { background: var(--color-accent, var(--color-secondary)); }
.ww-do-btns .video-play-text span { color: var(--color-accent, var(--color-secondary)); }
.counter-item > i { font-size: 60px;
    margin-bottom: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.statistics-two-counters .counter-item > i { color: var(--color-primary); }
.feature-item-three > i { font-size: 55px;
    margin-top: 10px;
    margin-right: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.feature-item-three.color-two > i { color: var(--color-primary); }
.feature-item-three.color-three > i { color: var(--color-accent, var(--color-secondary)); }
.feature-item-three.color-four > i { color: var(--color-accent, var(--color-secondary)); }
.feature-with-image .feature-content .read-more i { color: var(--color-accent, var(--color-secondary)); }
.feature-with-image .feature-content .read-more:hover i { color: var(--color-accent, var(--color-secondary)); }
.feature-item-four h4 i { line-height: 0;
      font-size: 55px;
      margin-top: 3px;
      margin-right: 20px;
      color: var(--color-primary); }
.text-white .feature-with-image p { opacity: 0.6; }
.feature-item-five i { line-height: 1;
    font-size: 60px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px;
    color: var(--color-accent, var(--color-secondary));
    display: inline-block; }
.feature-item-five:hover i, .feature-item-five:hover h5, .feature-item-five:hover h5 a { color: white; }
.feature-item-seven .icon i:before { line-height: inherit; }
.feature-item-seven p { margin-bottom: 0; }
.what-we-do-shapes img { z-index: -1;
  max-width: 6%;
  position: absolute; }
.what-we-do-shapes img.one { top: 15%;
    left: 30%;
    -webkit-animation: 50s shapeAnimationOne infinite;
    animation: 50s shapeAnimationOne infinite; }
.what-we-do-shapes img.two { left: 6%;
    bottom: 10%;
    -webkit-animation: 20s leftRightOne infinite;
    animation: 20s leftRightOne infinite; }
.what-we-do-shapes img.three { bottom: 15%;
    left: 48%;
    -webkit-animation: 20s upDownLeft infinite;
    animation: 20s upDownLeft infinite; }
.service-item p { -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px; }
.service-item:hover .icon, .service-item:hover a, .service-item:hover p { color: white; }
.service-item.style-three .icon i { color: var(--color-accent, var(--color-secondary)); }
.service-item-four .image img { position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-width: 75%; }
.project-item .project-iamge img { width: 100%; }
.project-page-area .section-title .sub-title:before { display: none; }
.project-creative-item .content .section-title { margin-bottom: 40px; }
.project-creative-item .content .section-title .sub-title { font-family: var(--font-body); }
.project-creative-item .content p { max-width: 340px; }
.project-tab li button { cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-weight: 500;
    padding: 4px 20px;
    border-radius: 5px;
    margin: 0 5px 10px;
    color: var(--color-accent, var(--color-secondary));
    background: transparent; }
.project-tab li button.active { background: white;
      color: var(--color-accent, var(--color-secondary));
      text-decoration: underline;
      -webkit-box-shadow: 10px 0 60px rgba(195, 195, 195, 0.5);
      box-shadow: 10px 0 60px rgba(195, 195, 195, 0.5); }
.project-details-area .section-title h2 { margin-bottom: 10px; }
.next-prev-project .show-all i { margin: -10px 0; }
.tab-btns-one .nav-link .title i { margin-right: 16px; }
.tab-btns-one .nav-link .right-btn i { -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.project-gallery-item img { width: 100%; }
.project-gallery-item .content .project-details-btn i { -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.team-member img { border-radius: 50%;
    margin-bottom: 25px; }
.team-member .designation { display: block;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--color-primary); }
.team-profile-content .section-title h2 { margin-bottom: 5px; }
.team-profile-content .section-title .designation { font-size: 20px;
  font-weight: 500;
  color: var(--color-primary); }
.team-item-four .image img { border-radius: 50%;
      -webkit-box-shadow: 6px 6px 0 var(--color-accent, var(--color-secondary));
      box-shadow: 6px 6px 0 var(--color-accent, var(--color-secondary)); }
.team-item-four .designation { display: block;
    margin-bottom: 10px; }
.price-and-btn .save span { color: var(--color-primary); }
.text-white .price-and-btn .save span { color: var(--color-accent, var(--color-secondary)); }
.pricing-item-two .pricing-inner .price-and-btn .save span { color: var(--color-accent, var(--color-secondary)); }
.pricing-plan-three.style-two h4,
    .pricing-plan-three.style-two .price,
    .pricing-plan-three.style-two .save span,
    .pricing-plan-three.style-two .price:after,
    .pricing-plan-three.style-two .list-style-two li:before { -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
.pricing-plan-three.style-two:hover h4,
      .pricing-plan-three.style-two:hover .price,
      .pricing-plan-three.style-two:hover .save span,
      .pricing-plan-three.style-two:hover .price:after,
      .pricing-plan-three.style-two:hover .theme-btn.style-three { color: white; }
.pricing-tab li:first-child button:after,
  .pricing-tab li:last-child button:before { content: '';
    width: 20px;
    height: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    background: white;
    border-radius: 50%; }
.pricing-tab li:first-child button:after { margin-left: 10px; }
.pricing-tab li:last-child button:before { margin-right: 10px; }
.pricing-tab li:first-child button:before { position: absolute;
    width: 40px;
    height: 20px;
    content: '';
    top: 50%;
    right: 0;
    z-index: -1;
    background: white;
    border-radius: 10px;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%); }
.pricing-tab li button { padding: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--color-bg);
    font-size: 16px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: transparent; }
.pricing-tab li button:focus, .pricing-tab li button:hover { color: var(--color-bg); }
.pricing-tab li:first-child button.active:after,
  .pricing-tab li:last-child button.active:before { background: var(--color-accent, var(--color-secondary)); }
.feedback-item .author-logo > i { color: white;
      font-size: 20px;
      margin-right: 15px;
      width: 55px;
      height: 55px;
      background: var(--color-accent, var(--color-secondary));
      line-height: 55px;
      border-radius: 50%;
      text-align: center; }
.feedback-item .feedback-author img { max-width: 65px;
      margin-right: 20px;
      border-radius: 50%; }
.slider-arrow-btns button:first-child { margin-right: 5px; }
.testimonial-two-active { margin-left: -110px;
  margin-right: -110px; }
.testimonial-two-active .testimonial-item-two { margin-left: 110px;
    margin-right: 110px; }
.testimonial-item-two { padding-top: 10px; }
.testimonial-item-two .testimonial-author { -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    max-width: 120px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 20px; }
.testimonial-item-two .testimonial-author img { border-radius: 50%; }
.testimonial-item-two .testimonial-author:before { top: -10px;
      right: 0;
      color: white;
      content: "\f10e";
      position: absolute;
      width: 45px;
      height: 45px;
      background: var(--color-accent, var(--color-secondary));
      line-height: 45px;
      border-radius: 50%;
      text-align: center;
      font-family: "Font Awesome 5 Pro"; }
.testimonial-item-two .testimonial-content p { font-size: 20px; }
.testimonial-item-two .author-description { padding-left: 70px;
    position: relative; }
.testimonial-item-two .author-description .h5 { display: block;
      font-size: 20px;
      margin-bottom: 0;
      color: var(--color-accent, var(--color-secondary)); }
.testimonial-item-two .author-description .designation { color: var(--color-accent, var(--color-secondary)); }
.testimonial-item-two .author-description:before { position: absolute;
      content: '';
      left: 0;
      top: 20px;
      height: 3px;
      width: 40px;
      background: var(--color-accent, var(--color-secondary)); }
.for-middle-border { position: relative; }
.for-middle-border:after, .for-middle-border:before { position: absolute;
    content: '';
    z-index: -1;
    background: rgba(var(--color-primary-rgb), 0.1); }
.for-middle-border:before { height: 1px;
    width: 100%;
    left: 0;
    top: 145px; }
.for-middle-border:after { width: 1px;
    height: 100%;
    left: 50%;
    top: 0; }
.testimonial-four-active .feedback-author img { width: 65px;
      height: 65px;
      margin-right: 25px;
      border-radius: 50%;
      -webkit-box-shadow: 6px 6px var(--color-text);
      box-shadow: 6px 6px var(--color-text); }
.work-process-item .icon i { color: white;
      font-size: 65px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      display: inline-block;
      width: 120px;
      height: 120px;
      background: var(--color-primary);
      line-height: 120px;
      border-radius: 50%;
      text-align: center; }
.work-process-item .icon i:before { line-height: inherit; }
.work-process-item p { font-size: 18px; }
.work-process-item:hover .icon i { background: var(--color-accent, var(--color-secondary)); }
.cta-item .icon i:before { line-height: inherit; }
.contact-four-image img { margin-top: -70px; }
.location-address-item .bottom-part li i { font-size: 18px;
      margin-right: 10px;
      color: var(--color-primary); }
.blog-item .content .date i { margin-right: 8px; }
.blog-item .content .author img { width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px; }
.blog-item .content .author span { display: block; }
.blog-grid-item .image img { width: 100%; }
.blog-meta li img { width: 30px;
      height: 30px;
      margin-right: 8px;
      border-radius: 50%; }
.blog-meta li i { margin-right: 6px; }
.blog-list-item .image img { width: 100%; }
.blog-four-item .date i { margin-right: 10px; }
.comment-body .author-thumb img { border-radius: 50%; }
.next-prev-post .post-item .date i { margin-right: 5px; }
.faq-images img:not(:last-child) { margin-bottom: 30px; }
.accordion-item .accordion-body p { margin: 10px 0 0; }
.faq-search-form button { width: 45px;
    height: 45px;
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: white;
    border-radius: 5px;
    background: var(--color-primary); }
.product-item .image img { width: 100%; }
.preview-images img { width: 100%; }
.thumb-images .thumb-item img { width: 100%; }
.product-details-content .section-title h2 { margin-bottom: 15px; }
.product-details-content .category-tags li span { margin-left: 20px;
  margin-right: 20px; }
.shoping-table td img,
.shoping-cart-total td img { max-height: 60px; }
.shoping-table td button,
.shoping-cart-total td button { background: transparent; }
.quantity-input button { width: 45px;
    background: transparent;
    border: 1px solid rgba(var(--color-primary-rgb), 0.1); }
.checkout-faqs .alert form .form-footer button { margin-right: 15px; }
.marquee-item i { font-size: 45px;
    margin-right: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.widget-search form button { -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    background: transparent; }
.footer-top-newsletter form label i { color: var(--color-text-muted); }
.footer-top-newsletter form button { -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none; }
.footer-top-newsletter .footer-newsletter-image img { width: 100%; }
.main-footer.footer-three .widget_newsletter form button { padding: 5px 20px 5px 0;
      background-color: transparent; }
.main-footer.footer-three .widget_newsletter form button i { color: var(--color-accent, var(--color-secondary)); }
.dark-version .heading,
.dark-version .social-style-one a,
.dark-version .nav-search > button,
.dark-version h1, .dark-version h2, .dark-version h3, .dark-version h4, .dark-version h5, .dark-version h6,
.dark-version .text-white .count-text,
.dark-version .h1, .dark-version .h2, .dark-version .h3, .dark-version .h4, .dark-version .h5, .dark-version .h6,
.dark-version .main-menu .navigation > li > a,
.dark-version h1 a, .dark-version h2 a, .dark-version h3 a, .dark-version h4 a, .dark-version h5 a, .dark-version h6 a,
.dark-version .main-menu .navigation > .dropdown > .dropdown-btn { color: white; }
.dark-version.home-two .read-more,
  .dark-version.home-two .count-text,
  .dark-version.home-two .team-member .designation,
  .dark-version.home-two .feedback-item .feedback-author .content h5 { color: var(--color-accent, var(--color-secondary)); }
.dark-version.home-two .social-style-one a:hover,
  .dark-version.home-two .menu-sidebar button .icon-bar,
  .dark-version.home-two .feedback-item .author-logo > i { background: var(--color-accent, var(--color-secondary)); }
.dark-version.home-one .count-text,
  .dark-version.home-one .slick-arrow,
  .dark-version.home-one .form-control,
  .dark-version.home-one .pricing-item-two .save,
  .dark-version.home-one .pricing-item-two .save span,
  .dark-version.home-one .widget_newsletter form input,
  .dark-version.home-one .testimonial-item-two .designation { color: white; }
.dark-version.home-one .for-middle-border:after,
  .dark-version.home-one .for-middle-border:before { background: var(--color-bg); }
@media (min-width:1200px) {
  .h2,h2 { font-size:2rem }
  .container,.container-lg,.container-md,.container-sm,.container-xl { max-width:1140px }
  .col-xl-7 { flex:0 0 auto;width:58.33333333% }
}
@media (min-width:576px) {
  .container,.container-sm { max-width:540px }
}
@media (min-width:768px) {
  .container,.container-md,.container-sm { max-width:720px }
}
@media (min-width:992px) {
  .container,.container-lg,.container-md,.container-sm { max-width:960px }
  .col-lg-4 { flex:0 0 auto;width:33.33333333% }
  .col-lg-8 { flex:0 0 auto;width:66.66666667% }
  .text-lg-end { text-align:right!important }
}
@media (min-width:1400px) {
  .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl { max-width:1320px }
}
@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px) {
  .mfp-img-mobile img.mfp-img { padding:0 }
}
@media (min-width: 992px) {
  .text-lg-end { text-align: left!important; }
}
@media only screen and (min-width: 992px) {
  .feature-right > .row > div:first-child .service-item { margin-right: 0px;
        margin-left: 30px; }
  .feature-left > .row > div:first-child .service-item { margin-left: 0px;
        margin-right: 30px; }
  .feature-right > .row > div:last-child .service-item { margin-left: 0;
        margin-right: 30px; }
  .feature-left > .row > div:last-child .service-item { margin-right: 0px;
        margin-left: 30px; }
  .feature-left > .row > div:first-child .service-item { margin-left: 30px; }
  .feature-left > .row > div:last-child .service-item { margin-right: 30px; }
  .feature-right > .row > div:first-child .service-item { margin-right: 30px; }
  .feature-right > .row > div:last-child .service-item { margin-left: 30px; }
}
@media only screen and (min-width: 1200px) {
  .container { max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px; }
  .main-header .container { max-width: 1555px; }
  .our-location-address-area .container { max-width: 1140px; }
}
@media only screen and (min-width: 1400px) {
  .medium-gap > div { padding-left: 32.5px;
      padding-right: 32.5px; }
  .large-gap > div { padding-left: 50px;
      padding-right: 50px; }
}
@media only screen and (max-width: 767px) {
  .section-title h2 { font-size: 35px; }
}
@media only screen and (max-width: 479px) {
  .section-title h2 { font-size: 30px;
        line-height: 1.3; }
  .footer-top-newsletter form button { width: 100%; }
}
@media only screen and (min-width: 768px) {
  .home-two h2 { font-size: 42px; }
  .hero-content .sub-title { font-size: 18px; }
  .hero-content-three p { font-size: 20px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; }
}
@media only screen and (max-width: 991px) {
  .rpb-35,
  .rpy-35 { padding-bottom: 35px; }
  .main-menu .navbar-collapse li .megamenu .container { max-width: 100%; }
  .main-menu .navbar-collapse li .megamenu .row { margin: 0px; }
  .for-middle-border:after, .for-middle-border:before { display: none; }
}
@media only screen and (max-width: 1199px) {
  .hero-content p { padding-left: 15px; }
  .testimonial-two-active { margin-left: -30px;
      margin-right: -30px; }
  .testimonial-two-active .testimonial-item-two { margin-left: 30px;
        margin-right: 30px; }
  .marquee-item i { font-size: 25px;
        margin-right: 15px; }
}
@media only screen and (max-width: 375px) {
  .hero-content p { line-height: 1.5; }
  .feature-item-three > i { margin: 0 0 15px 0;
        display: inline-block; }
  .feature-item-four h4 i { font-size: 45px;
          margin-right: 15px; }
  .project-tab li button { padding-left: 15px;
        padding-right: 15px; }
  .feedback-item .author-logo > i { width: 45px;
          height: 45px;
          line-height: 45px; }
  .feedback-item .feedback-author img { margin-bottom: 10px; }
  .testimonial-four-active .feedback-author img { width: 50px;
          height: 50px;
          margin-right: 15px; }
  .checkout-faqs .alert form .form-footer button { margin-right: 8px;
            padding-left: 20px;
            padding-right: 20px; }
  .footer-top-newsletter h2 { font-size: 26px; }
}
@media only screen and (min-width: 376px) {
  .about-content-one .list-style-one li p { font-size: 18px; }
  .support-features-content p { font-size: 18px; }
}
@media only screen and (min-width: 480px) {
  .project-creative-item .content .section-title .sub-title { font-size: 30px;
            margin-left: -30px; }
  .testimonial-two-active .testimonial-item-two { display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
  .testimonial-item-two { display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
}
@media only screen and (max-width: 575px) {
  .work-process-item .icon i { width: 80px;
          height: 80px;
          font-size: 35px;
          line-height: 80px; }
  .blog-item .image img { width: 100%; }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .video-content h2 { font-size: 35px; }
}
</style>
<section class="testimonial-area-two rel z-1 mt-130 mb-120">
            <div class="container for-middle-border">
                <div data-animate="stagger" class="row justify-content-between align-items-center pb-90 rpb-35 wow fadeInUp delay-0-2s">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-title">
                            <span class="sub-title mb-15">Clients Testimonials</span>
                            <h2 data-animate="text-split" data-split-type="words">{{CLIENTS_TITLE}}</h2>
                        </div>
                    </div>
                    <div class="col-lg-4">
                       <div data-animate="stagger" class="slider-arrow-btns text-lg-end">
                            <button class="work-prev"><i class="far fa-arrow-left"></i></button>
                            <button class="work-next"><i class="far fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="testimonial-two-active">
                    <div class="testimonial-item-two wow fadeInUp delay-0-2s">
                        <div class="testimonial-author">
                            <img data-animate="scale-in" data-delay="0.3" src="{{CLIENTS_IMAGE_URL}}" alt="{{CLIENTS_IMAGE_ALT}}">
                        </div>
                        <div class="testimonial-content">
                            <p data-animate="blur-slide" data-delay="0.2">{{CLIENTS_TEXT}}</p>
                            <div class="author-description">
                                <span class="h5">Jonathan B. Bohnert</span>
                                <span class="designation">CEO & Founder</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item-two wow fadeInUp delay-0-4s">
                        <div class="testimonial-author">
                            <img data-animate="scale-in" data-delay="0.3" src="{{CLIENTS_IMAGE_URL_2}}" alt="{{CLIENTS_IMAGE_ALT_2}}">
                        </div>
                        <div class="testimonial-content">
                            <p data-animate="blur-slide" data-delay="0.2">{{CLIENTS_TEXT_2}}</p>
                            <div class="author-description">
                                <span class="h5">Richard V. Dillingham</span>
                                <span class="designation">Business Consultant</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item-two wow fadeInUp delay-0-2s">
                        <div class="testimonial-author">
                            <img data-animate="scale-in" data-delay="0.3" src="{{CLIENTS_IMAGE_URL_3}}" alt="{{CLIENTS_IMAGE_ALT_3}}">
                        </div>
                        <div class="testimonial-content">
                            <p data-animate="blur-slide" data-delay="0.2">{{CLIENTS_TEXT_3}}</p>
                            <div class="author-description">
                                <span class="h5">Jonathan B. Bohnert</span>
                                <span class="designation">CEO & Founder</span>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial-item-two wow fadeInUp delay-0-4s">
                        <div class="testimonial-author">
                            <img data-animate="scale-in" data-delay="0.3" src="{{CLIENTS_IMAGE_URL_4}}" alt="{{CLIENTS_IMAGE_ALT_4}}">
                        </div>
                        <div class="testimonial-content">
                            <p data-animate="blur-slide" data-delay="0.2">{{CLIENTS_TEXT_4}}</p>
                            <div class="author-description">
                                <span class="h5">Richard V. Dillingham</span>
                                <span class="designation">Business Consultant</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </div>
</section>
