<!-- Component: process-oxence-01 -->
<!-- Tags: imported -->
<section id="process" class="py-24 px-6" style="background: var(--color-bg)" data-animate="fade-up">
  <div class="max-w-7xl mx-auto">
<style>
.fadeInUp { -webkit-animation-name:fadeInUp;animation-name:fadeInUp }
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 { margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2 }
.h2,h2 { font-size:calc(1.325rem + .9vw) }
.h4,h4 { font-size:calc(1.275rem + .3vw) }
p { margin-top:0;margin-bottom:1rem }
img,svg { vertical-align:middle }
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl { width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto }
.row { --bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5) }
.row>* { flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y) }
.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl { display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between }
.justify-content-center { justify-content:center!important }
.justify-content-between { justify-content:space-between!important }
.text-center { text-align:center!important }
i[class*=" flaticon-"]:before,i[class^=flaticon-]:before { font-family:flaticon!important;font-style:normal;font-weight:400!important;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale }
.flaticon-link:before { content:"\f101" }
.flaticon-data:before { content:"\f116" }
.flaticon-star:before { content:"\f117" }
.flaticon-optimization:before { content:"\f11a" }
.cd-headline.type i { position: absolute;
    visibility: hidden; }
.cd-headline.type i.in { position: relative;
    visibility: visible; }
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em { display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.cd-headline.rotate-2 i { -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0; }
.is-visible .cd-headline.rotate-2 i { opacity: 1; }
.cd-headline.rotate-2 i.in { -webkit-animation: cd-rotate-2-in 0.4s forwards;
    -moz-animation: cd-rotate-2-in 0.4s forwards;
    animation: cd-rotate-2-in 0.4s forwards; }
.cd-headline.rotate-2 i.out { -webkit-animation: cd-rotate-2-out 0.4s forwards;
    -moz-animation: cd-rotate-2-out 0.4s forwards;
    animation: cd-rotate-2-out 0.4s forwards; }
.no-csstransitions .cd-headline.rotate-2 i { -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0; }
.no-csstransitions .cd-headline.rotate-2 i em { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
.no-csstransitions .cd-headline.rotate-2 .is-visible i { opacity: 1; }
.cd-headline.loading-bar span { display: inline-block;
    padding: .2em 0; }
.cd-headline.slide span { display: inline-block;
    padding: .2em 0; }
.cd-headline.clip span { display: inline-block;
    padding: .2em 0; }
.cd-headline.rotate-3 i { display: inline-block;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.is-visible .cd-headline.rotate-3 i { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
.cd-headline.rotate-3 i.in { -webkit-animation: cd-rotate-3-in 0.6s forwards;
    -moz-animation: cd-rotate-3-in 0.6s forwards;
    animation: cd-rotate-3-in 0.6s forwards; }
.cd-headline.rotate-3 i.out { -webkit-animation: cd-rotate-3-out 0.6s forwards;
    -moz-animation: cd-rotate-3-out 0.6s forwards;
    animation: cd-rotate-3-out 0.6s forwards; }
.no-csstransitions .cd-headline.rotate-3 i { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0; }
.no-csstransitions .cd-headline.rotate-3 .is-visible i { opacity: 1; }
.cd-headline.scale i { display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
.is-visible .cd-headline.scale i { opacity: 1; }
.cd-headline.scale i.in { -webkit-animation: scale-up 0.6s forwards;
    -moz-animation: scale-up 0.6s forwards;
    animation: scale-up 0.6s forwards; }
.cd-headline.scale i.out { -webkit-animation: scale-down 0.6s forwards;
    -moz-animation: scale-down 0.6s forwards;
    animation: scale-down 0.6s forwards; }
.no-csstransitions .cd-headline.scale i { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
.no-csstransitions .cd-headline.scale .is-visible i { opacity: 1; }
img.mfp-img { width:auto;max-width:100%;height:auto;display:block;line-height:0;box-sizing:border-box;padding:40px 0 40px;margin:0 auto }
.theme-btn i, a.theme-btn i { margin-left: 0;
    margin-right: 10px; }
.theme-btn:hover i, a.theme-btn:hover i { margin-left: -3px;
    margin-right: 13px; }
.section-title .sub-title::after, .section-title .sub-title::before { float: right; }
.section-title .sub-title:after { margin-left: 0px;
    margin-right: 20px; }
.section-title .sub-title:before { margin-right: 0;
    margin-left: 20px; }
.work-process-shape { left: auto;
    right: -5%; }
.contact-info-item .icon { margin-right: 0;
    margin-left: 20px; }
.blog-item .content .date i { margin-right: 0px;
    margin-left: 8px; }
.blog-item .content .author img { margin-right: 0;
    margin-left: 15px; }
.header-top .top-right > ul > li > i { margin-right: 0px;
    margin-left: 5px; }
.video-play-text i { margin-right: 0;
    margin-left: 15px; }
.hero-content p { border-left: none;
    border-right: 3px solid rgb(1, 201, 245);
    padding-left: 0;
    padding-right: 30px; }
.client-satisfactions img { margin-right: 0;
    margin-left: 25px; }
.feedback-item .feedback-author img { margin-right: 0;
    margin-left: 20px; }
.feature-item-three > i { margin-right: 0;
    margin-left: 25px; }
.read-more i { margin-left: 0;
    margin-right: 7px; }
.read-more:hover i { margin-left: 0px;
    margin-right: 10px; }
.feature-item-four h4 i { margin-right: 0;
    margin-left: 20px; }
.blog-meta li img { margin-right: 0;
    margin-left: 8px; }
.blog-meta li i { margin-right: 0px;
    margin-left: 6px; }
.slick-slide img { display:block }
.slick-slide.slick-loading img { display:none }
.slick-slide.dragging img { pointer-events:none }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: var(--color-accent, var(--color-secondary)); }
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white h1 a,
.text-white h2 a,
.text-white h3 a,
.text-white h4 a,
.text-white h5 a,
.text-white h6 a { color: white; }
img { max-width: 100%;
  display: inline-block; }
header:after, section:after, footer:after { display: block;
  clear: both;
  content: ""; }
.no-gap > div { padding-left: 0;
    padding-right: 0; }
.small-gap > div { padding-left: 5px;
    padding-right: 5px; }
.row { --bs-gutter-x: 30px; }
.section-title { margin-top: -7px; }
.section-title .sub-title { font-size: 18px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: var(--color-accent, var(--color-secondary));
    text-decoration: underline; }
.section-title .sub-title:after, .section-title .sub-title:before { float: left;
      line-height: 0;
      font-size: 40px;
      font-weight: 300;
      content: "\f141";
      font-family: 'Font Awesome 5 Pro'; }
.section-title .sub-title:before { margin-right: 20px; }
.section-title .sub-title:after { margin-left: 20px;
      display: none; }
.section-title .sub-title.style-two { color: var(--color-primary);
      text-decoration: none; }
.section-title .sub-title.style-two:before { content: url(../images/shapes/section-subtitle-line.png);
        margin: -15px 15px 0 -25px; }
.section-title .sub-title.style-two:after { display: none; }
.section-title h2 { margin-bottom: 25px; }
.section-title.text-center .sub-title:after { display: block; }
.section-title.text-center .sub-title.style-two:after, .section-title.text-center .sub-title.style-two:before { display: none; }
.theme-btn i,
  a.theme-btn i { font-size: 13px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 10px; }
.theme-btn:hover i,
  a.theme-btn:hover i { margin-left: 13px;
    margin-right: -3px; }
.read-more i { float: right;
    font-weight: 400;
    margin-left: 7px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.read-more:hover i { margin-left: 10px; }
.list-style-one li .content p { margin-bottom: 0; }
.ratting i { margin: 3px;
    color: var(--color-accent, var(--color-secondary));
    font-size: 14px; }
.text-white *, .text-white a,
.text-white .count-text,
.text-white .footer-newsletter-content .sub-title { color: white; }
.text-white li li .dropdown-btn span { color: var(--color-accent, var(--color-secondary)); }
.text-white .copyright-area p { opacity: 0.5; }
.video-play-text i { color: white;
    font-size: 14px;
    margin-right: 15px;
    width: 55px;
    height: 55px;
    background: var(--color-accent, var(--color-secondary));
    line-height: 55px;
    border-radius: 50%;
    text-align: center; }
.video-play-text span { font-weight: 500;
    text-decoration: underline; }
.rel { position: relative; }
.z-1 { z-index: 1; }
.home-one .count-text,
  .home-one .price-and-btn .price,
  .home-one .blog-item .content h4,
  .home-one h1, .home-one h2, .home-one h3, .home-one h4, .home-one h5, .home-one h6,
  .home-one .blog-item .content .date,
  .home-one .h1, .home-one .h2, .home-one .h3, .home-one .h4, .home-one .h5, .home-one .h6,
  .home-one .blog-item .content .post-by a,
  .home-one .work-process-item .number { font-family: 'Kumbh Sans', sans-serif; }
.home-one a:hover,
  .home-one .details-btn,
  .home-one .slick-arrow,
  .home-one .counter-item > i,
  .home-one .section-title h2 span,
  .home-one .blog-item .content .date,
  .home-one .style-two .counter-title,
  .home-one .section-title .sub-title,
  .home-one .list-style-two li a:hover,
  .home-one .social-style-two a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.home-one .theme-btn,
  .home-one .scroll-top,
  .home-one .details-btn:hover,
  .home-one .slick-arrow:hover,
  .home-one .slick-arrow:focus,
  .home-one .list-style-two li:before,
  .home-one .list-style-one li:before,
  .home-one .social-style-two a:hover,
  .home-one .work-process-item .icon i,
  .home-one .slick-dots li.slick-active,
  .home-one .theme-btn.style-three:after,
  .home-one .list-style-two li:hover:before,
  .home-one .work-process-item:hover .icon i,
  .home-one .hidden-bar .social-style-one a:hover,
  .home-one .widget_nav_menu .list-style-two li:hover:before { background: var(--color-accent, var(--color-secondary)); }
.home-one .slick-dots li,
  .home-one .theme-btn.style-three:hover,
  .home-one .work-process-item .icon:before,
  .home-one .hidden-bar .social-style-one a:hover { border-color: var(--color-accent, var(--color-secondary)); }
.home-one .text-center .sub-title:after, .home-one .text-center .sub-title:before { display: block; }
.home-four .count-text,
.home-four .price-and-btn .price,
.home-four .blog-item .content h4,
.home-four h1, .home-four h2, .home-four h3, .home-four h4, .home-four h5, .home-four h6,
.home-four .blog-item .content .date,
.home-four .h1, .home-four .h2, .home-four .h3, .home-four .h4, .home-four .h5, .home-four .h6,
.home-four .blog-item .content .post-by a,
.home-four .work-process-item .number { color: var(--color-text); }
.home-four a:hover,
.home-four .details-btn,
.home-four .slick-arrow,
.home-four .counter-item > i,
.home-four .section-title h2 span,
.home-four .blog-item .content .date,
.home-four .style-two .counter-title,
.home-four .section-title .sub-title,
.home-four .list-style-two li a:hover,
.home-four .social-style-two a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.home-four .theme-btn,
.home-four .scroll-top,
.home-four .details-btn:hover,
.home-four .slick-arrow:hover,
.home-four .slick-arrow:focus,
.home-four .list-style-two li:before,
.home-four .list-style-one li:before,
.home-four .social-style-two a:hover,
.home-four .work-process-item .icon i,
.home-four .slick-dots li.slick-active,
.home-four .theme-btn.style-three:after,
.home-four .list-style-two li:hover:before,
.home-four .work-process-item:hover .icon i,
.home-four .hidden-bar .social-style-one a:hover,
.home-four .widget_nav_menu .list-style-two li:hover:before { background: var(--color-accent, var(--color-secondary)); }
.home-four .slick-dots li,
.home-four .theme-btn.style-three:hover,
.home-four .work-process-item .icon:before,
.home-four .hidden-bar .social-style-one a:hover { border-color: var(--color-accent, var(--color-secondary)); }
.home-four .section-title .sub-title { text-decoration: none; }
.home-four .section-title .sub-title:after, .home-four .section-title .sub-title:before { display: none; }
.home-four .text-white .sub-title,
.home-four .text-white h1, .home-four .text-white h2, .home-four .text-white h3, .home-four .text-white h4, .home-four .text-white h5, .home-four .text-white h6,
.home-four .text-white .h1, .home-four .text-white .h2, .home-four .text-white .h3, .home-four .text-white .h4, .home-four .text-white .h5, .home-four .text-white .h6 { color: white; }
.home-four .social-style-two a i { -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: var(--color-accent, var(--color-secondary)); }
.home-four .social-style-two a:hover i { color: white; }
.heading,
h1,
.h1,
h2,
.h2,
.count-text,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.tab-btns-one .nav-link .title,
.product-item .content .price-details-btn .price { font-weight: 700;
  color: var(--color-accent, var(--color-secondary));
  font-family: var(--font-heading); }
h2, .h2, .count-text { line-height: 1.22;
  font-size: 45px; }
h4, .h4 { line-height: 1.65;
  font-size: 24px; }
.pb-95,
.py-95 { padding-bottom: 95px; }
.mt-30,
.my-30 { margin-top: 30px; }
.mt-45,
.my-45 { margin-top: 45px; }
.mt-55,
.my-55 { margin-top: 55px; }
.mb-15,
.my-15 { margin-bottom: 15px; }
.mb-55,
.my-55 { margin-bottom: 55px; }
.delay-0-2s { -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.delay-0-4s { -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.delay-0-6s { -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }
.delay-0-8s { -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }
.header-top .top-right > ul > li > i { margin-right: 5px; }
.hidden-bar .inner-box h4 { position: relative;
    color: var(--color-bg);
    margin-bottom: 35px; }
.hero-content .sub-title { font-weight: 500;
    line-height: 1.5;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    background: var(--color-primary);
    border-left: 3px solid white; }
.hero-content p { margin-top: 25px;
    padding-left: 30px;
    border-left: 3px solid var(--color-accent, var(--color-secondary)); }
.hero-content-three h1 span { position: relative;
    color: var(--color-accent, var(--color-secondary)); }
.hero-content-three h1 span:after { position: absolute;
      content: '';
      left: 4%;
      z-index: -1;
      bottom: -13%;
      width: 96%;
      height: 28%;
      background: url(../images/shapes/hero-title-bg-line.png) no-repeat center/cover; }
.hero-content-three .video-play-text i { background: var(--color-accent, var(--color-secondary)); }
.hero-content-three .video-play-text span:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.hero-content-four .hero-btns .video-play-text i { margin-right: 20px;
    background: var(--color-accent, var(--color-secondary));
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 0 0 var(--color-text);
    box-shadow: 5px 5px 0 0 var(--color-text); }
.hero-content-four .hero-btns .video-play-text span { color: var(--color-text); }
.hero-left-images .image img,
    .hero-right-images .image img { margin-bottom: 3px; }
.banner-inner h1 span { z-index: 1;
    position: relative; }
.banner-inner h1 span:after { position: absolute;
      content: '';
      z-index: -1;
      left: 0;
      top: 80%;
      height: 20px;
      width: 100%;
      background: url(../images/shapes/page-title-bg-line.png) no-repeat center/contain; }
.slider-content .sub-title { color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
    font-family: 'Catamaran', sans-serif; }
.slider-video .video-title .cd-words-wrapper span { padding: 0; }
.slick-active .sub-title { -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.about-image .years-fo-experience h4 { color: white; }
.client-satisfactions img,
  .client-satisfactions .heading,
  .client-satisfactions .count-text { margin-bottom: 15px; }
.client-satisfactions img { margin-right: 25px; }
.ww-do-two-content .feature-item-two .icon { width: 30px;
    height: 30px;
    font-size: 12px;
    line-height: 30px; }
.ww-do-btns .video-play-text i { background: var(--color-accent, var(--color-secondary)); }
.ww-do-btns .video-play-text span { color: var(--color-accent, var(--color-secondary)); }
.year-of-experience .number { display: block;
    line-height: 1;
    font-size: 65px;
    margin-bottom: 15px;
    font-family: var(--font-body); }
.counter-item > i { font-size: 60px;
    margin-bottom: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.counter-cta h4,
  .counter-cta .theme-btn { margin: 10px 15px; }
.statistics-two-counters .counter-item > i { color: var(--color-primary); }
.circle-progress-two-item .skill-counter h4 { font-size: 22px; }
.feature-item-two .icon { color: white;
    margin-bottom: 25px;
    width: 40px;
    height: 40px;
    background: var(--color-primary);
    line-height: 40px;
    border-radius: 50%;
    text-align: center; }
.feature-item-two.color-two .icon { background: var(--color-accent, var(--color-secondary)); }
.feature-item-two.color-three .icon { background: var(--color-accent, var(--color-secondary)); }
.feature-item-two.color-four .icon { background: var(--color-accent, var(--color-secondary)); }
.feature-item-three > i { font-size: 55px;
    margin-top: 10px;
    margin-right: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.feature-item-three .content h4 { font-size: 22px; }
.feature-item-three.color-two > i { color: var(--color-primary); }
.feature-item-three.color-three > i { color: var(--color-accent, var(--color-secondary)); }
.feature-item-three.color-four > i { color: var(--color-accent, var(--color-secondary)); }
.feature-with-image .feature-content .read-more i { color: var(--color-accent, var(--color-secondary)); }
.feature-with-image .feature-content .read-more:hover i { color: var(--color-accent, var(--color-secondary)); }
.feature-item-four h4 { display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px; }
.feature-item-four h4 i { line-height: 0;
      font-size: 55px;
      margin-top: 3px;
      margin-right: 20px;
      color: var(--color-primary); }
.text-white .feature-with-image p { opacity: 0.6; }
.feature-item-five i { line-height: 1;
    font-size: 60px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px;
    color: var(--color-accent, var(--color-secondary));
    display: inline-block; }
.feature-item-five:hover i, .feature-item-five:hover h5, .feature-item-five:hover h5 a { color: white; }
.feature-item-seven .icon { width: 70px;
    height: 70px;
    color: white;
    font-size: 40px;
    line-height: 70px;
    border-radius: 7px;
    margin: 0 auto 22px;
    background: var(--color-primary);
    -webkit-box-shadow: 10px 0 60px rgba(var(--color-primary-rgb), 0.55);
    box-shadow: 10px 0 60px rgba(var(--color-primary-rgb), 0.55); }
.feature-item-seven .icon i:before { line-height: inherit; }
.feature-item-seven p { margin-bottom: 0; }
.feature-item-seven.color-two .icon { background: var(--color-accent, var(--color-secondary));
      -webkit-box-shadow: 10px 0 60px rgba(22, 180, 242, 0.55);
      box-shadow: 10px 0 60px rgba(22, 180, 242, 0.55); }
.feature-item-seven.color-three .icon { background: var(--color-accent, var(--color-secondary));
      -webkit-box-shadow: 10px 0 60px rgba(241, 176, 0, 0.55);
      box-shadow: 10px 0 60px rgba(241, 176, 0, 0.55); }
.feature-item-seven.color-four .icon { background: var(--color-accent, var(--color-secondary));
      -webkit-box-shadow: 10px 0 60px rgba(132, 0, 255, 0.55);
      box-shadow: 10px 0 60px rgba(132, 0, 255, 0.55); }
.feature-item-seven.color-five .icon { background: var(--color-accent, var(--color-secondary));
      -webkit-box-shadow: 10px 0 60px rgba(255, 117, 6, 0.55);
      box-shadow: 10px 0 60px rgba(255, 117, 6, 0.55); }
.feature-item-eight a h4 { margin-bottom: 0; }
.feature-item-eight a .icon { color: black;
      font-size: 42px;
      margin-left: auto;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
.feature-item-eight a:hover h4 { text-decoration: underline; }
.what-we-do-shapes img { z-index: -1;
  max-width: 6%;
  position: absolute; }
.what-we-do-shapes img.one { top: 15%;
    left: 30%;
    -webkit-animation: 50s shapeAnimationOne infinite;
    animation: 50s shapeAnimationOne infinite; }
.what-we-do-shapes img.two { left: 6%;
    bottom: 10%;
    -webkit-animation: 20s leftRightOne infinite;
    animation: 20s leftRightOne infinite; }
.what-we-do-shapes img.three { bottom: 15%;
    left: 48%;
    -webkit-animation: 20s upDownLeft infinite;
    animation: 20s upDownLeft infinite; }
.service-item .icon { font-size: 65px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 25px;
    color: var(--color-primary); }
.service-item p { -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px; }
.service-item:hover .icon, .service-item:hover a, .service-item:hover p { color: white; }
.service-item.style-three .icon { font-size: 70px;
      margin-bottom: 22px; }
.service-item.style-three .icon i { color: var(--color-accent, var(--color-secondary)); }
.service-item.style-three h4 { font-size: 22px; }
.service-item-four .image img { position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-width: 75%; }
.service-item-five .icon { margin-bottom: 30px; }
.service-item-five h4 { margin-bottom: 15px; }
.service-item-six h4 { line-height: 1.6;
    margin-bottom: 30px; }
.project-item .project-iamge img { width: 100%; }
.project-item.style-two .project-content h4 { margin-bottom: 0; }
.project-page-area .section-title .sub-title:before { display: none; }
.project-creative-item .content .section-title { margin-bottom: 40px; }
.project-creative-item .content .section-title .sub-title { font-family: var(--font-body); }
.project-creative-item .content p { max-width: 340px; }
.project-details-area .section-title h2 { margin-bottom: 10px; }
.next-prev-project .show-all i { margin: -10px 0; }
.tab-btns-one .nav-link .title i { margin-right: 16px; }
.tab-btns-one .nav-link .right-btn i { -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.project-gallery-item img { width: 100%; }
.project-gallery-item .content .text h4 { font-size: 27px;
      margin-bottom: 0; }
.project-gallery-item .content .text h4 a:not(:hover) { color: var(--color-text); }
.project-gallery-item .content .project-details-btn i { -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.team-member img { border-radius: 50%;
    margin-bottom: 25px; }
.team-profile-content .section-title h2 { margin-bottom: 5px; }
.team-profile-content .section-title .designation { font-size: 20px;
  font-weight: 500;
  color: var(--color-primary); }
.team-item-four .image img { border-radius: 50%;
      -webkit-box-shadow: 6px 6px 0 var(--color-accent, var(--color-secondary));
      box-shadow: 6px 6px 0 var(--color-accent, var(--color-secondary)); }
.team-item-four h4 { font-size: 22px;
    margin-bottom: 0; }
.pricing-plan-item .price-features h4 { margin-bottom: 20px; }
.price-and-btn .save span { color: var(--color-primary); }
.text-white .price-and-btn .save span { color: var(--color-accent, var(--color-secondary)); }
.pricing-item-two .pricing-inner .price-and-btn .save span { color: var(--color-accent, var(--color-secondary)); }
.pricing-plan-three h4 { font-size: 20px;
    margin-bottom: 25px;
    display: inline-block;
    padding: 15px 20px 5px;
    background: url(../images/shapes/pricing-title-bg.png) no-repeat 100%/100%; }
.pricing-plan-three.style-two h4,
    .pricing-plan-three.style-two .price,
    .pricing-plan-three.style-two .save span,
    .pricing-plan-three.style-two .price:after,
    .pricing-plan-three.style-two .list-style-two li:before { -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
.pricing-plan-three.style-two:hover h4 { background-image: url(../images/shapes/pricing-title-bg-white.png); }
.pricing-plan-three.style-two:hover h4,
      .pricing-plan-three.style-two:hover .price,
      .pricing-plan-three.style-two:hover .save span,
      .pricing-plan-three.style-two:hover .price:after,
      .pricing-plan-three.style-two:hover .theme-btn.style-three { color: white; }
.feedback-item .author-logo > i { color: white;
      font-size: 20px;
      margin-right: 15px;
      width: 55px;
      height: 55px;
      background: var(--color-accent, var(--color-secondary));
      line-height: 55px;
      border-radius: 50%;
      text-align: center; }
.feedback-item h4 { font-size: 22px;
    margin-bottom: 16px; }
.feedback-item .feedback-author img { max-width: 65px;
      margin-right: 20px;
      border-radius: 50%; }
.testimonial-item-two .testimonial-author img { border-radius: 50%; }
.testimonial-item-two .testimonial-content p { font-size: 20px; }
.testimonial-four-active .feedback-author img { width: 65px;
      height: 65px;
      margin-right: 25px;
      border-radius: 50%;
      -webkit-box-shadow: 6px 6px var(--color-text);
      box-shadow: 6px 6px var(--color-text); }
.work-process-item { text-align: center;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px; }
.work-process-item .icon { z-index: 1;
    padding: 15px;
    position: relative;
    margin-bottom: 20px;
    display: inline-block; }
.work-process-item .icon .number { z-index: -1;
      opacity: 0.15;
      line-height: 1;
      font-size: 85px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      font-weight: 700;
      position: absolute;
      color: transparent;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: var(--color-accent, var(--color-secondary));
      -webkit-transform: translate(-70%, -60%) rotate(-50deg);
      -ms-transform: translate(-70%, -60%) rotate(-50deg);
      transform: translate(-70%, -60%) rotate(-50deg); }
.work-process-item .icon i { color: white;
      font-size: 65px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      display: inline-block;
      width: 120px;
      height: 120px;
      background: var(--color-primary);
      line-height: 120px;
      border-radius: 50%;
      text-align: center; }
.work-process-item .icon i:before { line-height: inherit; }
.work-process-item .icon:before { position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      content: '';
      left: 0;
      top: 0;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      border-radius: 50%;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      border: 2px dashed var(--color-accent, var(--color-secondary)); }
.work-process-item p { font-size: 18px; }
.work-process-item:hover .icon i { background: var(--color-accent, var(--color-secondary)); }
.work-process-item:hover .icon:before { -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: rotated_circle 5s linear infinite;
    animation: rotated_circle 5s linear infinite;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s; }
.work-process-shape { position: absolute;
  width: 110%;
  top: -10%;
  left: -5%;
  z-index: -1; }
.cta-item .icon { -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: white;
    font-size: 55px;
    width: 100px;
    height: 100px;
    background: var(--color-accent, var(--color-secondary));
    line-height: 100px;
    border-radius: 50%;
    text-align: center; }
.cta-item .icon i:before { line-height: inherit; }
.cta-item h4 { color: white;
    line-height: 1.44;
    margin: 10px 30px; }
.contact-info-item .icon { -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
    color: white;
    font-size: 20px;
    margin-top: 5px;
    margin-right: 20px;
    width: 55px;
    height: 55px;
    background: var(--color-accent, var(--color-secondary));
    line-height: 55px;
    border-radius: 50%;
    text-align: center; }
.contact-info-item.style-two .icon { margin-bottom: 10px;
      background: var(--color-primary); }
.contact-info-item.style-two:nth-child(2) .icon { background: var(--color-accent, var(--color-secondary)); }
.contact-info-item.style-two:nth-child(3) .icon { background: var(--color-accent, var(--color-secondary)); }
.contact-area-form h4 { margin-bottom: 25px; }
.contact-four-image img { margin-top: -70px; }
.follow-us h4 { font-size: 22px;
    margin-bottom: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(var(--color-primary-rgb), 0.1); }
.location-address-item .bottom-part li i { font-size: 18px;
      margin-right: 10px;
      color: var(--color-primary); }
.blog-item .content .date i { margin-right: 8px; }
.blog-item .content h4 { line-height: 1.4;
      margin-bottom: 18px; }
.blog-item .content .author img { width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px; }
.blog-item .content .author span { display: block; }
.blog-grid-item .image img { width: 100%; }
.blog-meta li img { width: 30px;
      height: 30px;
      margin-right: 8px;
      border-radius: 50%; }
.blog-meta li i { margin-right: 6px; }
.blog-list-item .image img { width: 100%; }
.blog-list-item .blog-content h4 { line-height: 1.52;
      margin-bottom: 15px;
      letter-spacing: -1px; }
.blog-four-item .date i { margin-right: 10px; }
.blog-four-item h4 { line-height: 1.55;
  margin-bottom: 16px; }
h4.comment-title { margin-bottom: 0;
  border-bottom: none; }
.comment-body .author-thumb img { border-radius: 50%; }
.next-prev-post .post-item .date i { margin-right: 5px; }
.comment-form h4 { margin-bottom: 0; }
.faq-images img:not(:last-child) { margin-bottom: 30px; }
.faq-images .year-of-experience .number { font-size: 45px; }
.faq-images .year-of-experience .number:after { content: '+'; }
.accordion-item .accordion-body p { margin: 10px 0 0; }
.product-item .image img { width: 100%; }
.preview-images img { width: 100%; }
.thumb-images .thumb-item img { width: 100%; }
.product-details-content .section-title h2 { margin-bottom: 15px; }
.product-details-content .category-tags li span { margin-left: 20px;
  margin-right: 20px; }
.shoping-table td img,
.shoping-cart-total td img { max-height: 60px; }
.marquee-item i { font-size: 45px;
    margin-right: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.widget-cta h4 { color: white;
    margin-bottom: 20px; }
.error-content .follow-us h4 { margin-bottom: 15px;
      padding-bottom: 15px; }
.footer-top-newsletter form label i { color: var(--color-text-muted); }
.footer-top-newsletter .footer-newsletter-image img { width: 100%; }
.main-footer.footer-three .contact-info-item .icon { -webkit-box-shadow: 5px 5px 0 var(--color-accent, var(--color-secondary));
  box-shadow: 5px 5px 0 var(--color-accent, var(--color-secondary)); }
.main-footer.footer-three .widget_newsletter form button i { color: var(--color-accent, var(--color-secondary)); }
.dark-version .heading,
.dark-version .social-style-one a,
.dark-version .nav-search > button,
.dark-version h1, .dark-version h2, .dark-version h3, .dark-version h4, .dark-version h5, .dark-version h6,
.dark-version .text-white .count-text,
.dark-version .h1, .dark-version .h2, .dark-version .h3, .dark-version .h4, .dark-version .h5, .dark-version .h6,
.dark-version .main-menu .navigation > li > a,
.dark-version h1 a, .dark-version h2 a, .dark-version h3 a, .dark-version h4 a, .dark-version h5 a, .dark-version h6 a,
.dark-version .main-menu .navigation > .dropdown > .dropdown-btn { color: white; }
.dark-version.home-two .social-style-one a:hover,
  .dark-version.home-two .menu-sidebar button .icon-bar,
  .dark-version.home-two .feedback-item .author-logo > i { background: var(--color-accent, var(--color-secondary)); }
.dark-version.home-one .count-text,
  .dark-version.home-one .slick-arrow,
  .dark-version.home-one .form-control,
  .dark-version.home-one .pricing-item-two .save,
  .dark-version.home-one .pricing-item-two .save span,
  .dark-version.home-one .widget_newsletter form input,
  .dark-version.home-one .testimonial-item-two .designation { color: white; }
.dark-version.home-one .work-process-item .icon .number { -webkit-text-stroke-color: white; }
@media (min-width:1200px) {
  .h2,h2 { font-size:2rem }
  .h4,h4 { font-size:1.5rem }
  .container,.container-lg,.container-md,.container-sm,.container-xl { max-width:1140px }
  .col-xl-3 { flex:0 0 auto;width:25% }
}
@media (min-width:576px) {
  .container,.container-sm { max-width:540px }
  .col-sm-6 { flex:0 0 auto;width:50% }
}
@media (min-width:768px) {
  .container,.container-md,.container-sm { max-width:720px }
}
@media (min-width:992px) {
  .container,.container-lg,.container-md,.container-sm { max-width:960px }
  .col-lg-5 { flex:0 0 auto;width:41.66666667% }
  .col-lg-10 { flex:0 0 auto;width:83.33333333% }
}
@media (min-width:1400px) {
  .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl { max-width:1320px }
}
@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px) {
  .mfp-img-mobile img.mfp-img { padding:0 }
}
@media only screen and (min-width: 992px) {
  .feature-right > .row > div:first-child .service-item { margin-right: 0px;
        margin-left: 30px; }
  .feature-left > .row > div:first-child .service-item { margin-left: 0px;
        margin-right: 30px; }
  .feature-right > .row > div:last-child .service-item { margin-left: 0;
        margin-right: 30px; }
  .feature-left > .row > div:last-child .service-item { margin-right: 0px;
        margin-left: 30px; }
  .feature-left > .row > div:first-child .service-item { margin-left: 30px; }
  .feature-left > .row > div:last-child .service-item { margin-right: 30px; }
  .feature-right > .row > div:first-child .service-item { margin-right: 30px; }
  .feature-right > .row > div:last-child .service-item { margin-left: 30px; }
}
@media only screen and (min-width: 1200px) {
  .container { max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px; }
  .main-header .container { max-width: 1555px; }
  .our-location-address-area .container { max-width: 1140px; }
}
@media only screen and (min-width: 1400px) {
  .medium-gap > div { padding-left: 32.5px;
      padding-right: 32.5px; }
  .large-gap > div { padding-left: 50px;
      padding-right: 50px; }
  .cta-item h4 { font-size: 28px; }
}
@media only screen and (max-width: 767px) {
  .section-title h2 { font-size: 35px; }
  .cta-item .icon { width: 80px;
        height: 80px;
        font-size: 35px;
        line-height: 80px; }
}
@media only screen and (max-width: 479px) {
  .section-title h2 { font-size: 30px;
        line-height: 1.3; }
  .about-image .years-fo-experience h4 { font-size: 20px; }
  .blog-list-item .blog-content h4 { font-size: 20px;
          line-height: 1.65; }
  blockquote h4 { font-size: 20px; }
}
@media only screen and (min-width: 768px) {
  .home-two h2 { font-size: 42px; }
  .hero-content .sub-title { font-size: 18px; }
  .hero-content-three p { font-size: 20px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; }
  .feature-item-eight a h4 { font-size: 27px; }
}
@media only screen and (max-width: 991px) {
  .main-menu .navbar-collapse li .megamenu .container { max-width: 100%; }
  .main-menu .navbar-collapse li .megamenu .row { margin: 0px; }
  .feature-item-four h4 { font-size: 20px; }
  .work-process-shape { top: 0; }
}
@media only screen and (max-width: 1199px) {
  .hero-content p { padding-left: 15px; }
  .marquee-item i { font-size: 25px;
        margin-right: 15px; }
}
@media only screen and (max-width: 375px) {
  .hero-content p { line-height: 1.5; }
  .about-image .years-fo-experience h4 { font-size: 16px; }
  .year-of-experience .number { font-size: 45px; }
  .feature-item-three > i { margin: 0 0 15px 0;
        display: inline-block; }
  .feature-item-four h4 i { font-size: 45px;
          margin-right: 15px; }
  .feature-item-eight a h4 { font-size: 20px; }
  .service-item-six h4 { font-size: 22px; }
  .project-item.style-two .project-content h4 { font-size: 20px;
        line-height: 1.5; }
  .project-gallery-item .content .text h4 { font-size: 20px; }
  .feedback-item .author-logo > i { width: 45px;
          height: 45px;
          line-height: 45px; }
  .feedback-item h4 { font-size: 20px; }
  .feedback-item .feedback-author img { margin-bottom: 10px; }
  .testimonial-four-active .feedback-author img { width: 50px;
          height: 50px;
          margin-right: 15px; }
  .contact-info-item .icon { width: 45px;
        height: 45px;
        font-size: 16px;
        line-height: 45px;
        margin-right: 15px; }
  .blog-item .content h4 { font-size: 20px; }
  .blog-list-item .blog-content h4 { font-size: 16px; }
  .blog-four-item h4 { font-size: 22px; }
  blockquote h4 { font-size: 18px; }
  .footer-top-newsletter h2 { font-size: 26px; }
}
@media only screen and (min-width: 376px) {
  .about-content-one .list-style-one li p { font-size: 18px; }
  .support-features-content p { font-size: 18px; }
}
@media only screen and (min-width: 576px) {
  .feature-item-eight a h4 { max-width: 290px; }
  .service-item-six h4 { font-size: 26px; }
  .blog-list-item .blog-content h4 { font-size: 27px; }
}
@media only screen and (max-width: 575px) {
  .feature-item-eight a .icon { position: absolute;
          top: 30px;
          right: 0; }
  .work-process-item { margin-top: 0; }
  .work-process-item .icon .number { font-size: 65px; }
  .work-process-item .icon i { width: 80px;
          height: 80px;
          font-size: 35px;
          line-height: 80px; }
  .work-process-shape { display: none; }
  .blog-item .image img { width: 100%; }
}
@media only screen and (min-width: 480px) {
  .project-creative-item .content .section-title .sub-title { font-size: 30px;
            margin-left: -30px; }
  .contact-info-item.style-two .icon { width: 60px;
          height: 60px;
          font-size: 24px;
          line-height: 60px;
          margin-right: 25px; }
  .blog-four-item h4 { font-size: 27px; }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-item .content h4 { font-size: 20px; }
  .video-content h2 { font-size: 35px; }
}
</style>
<section class="work-process-area pb-95 rel z-1">
            <div class="container">
                <div data-animate="stagger" class="row justify-content-center">
                    <div class="col-lg-10">
                        <div class="section-title text-center mb-55 wow fadeInUp delay-0-2s">
                            <span class="sub-title mb-15">Working Process</span>
                            <h2 data-animate="text-split" data-split-type="words">{{PROCESS_TITLE}}</h2>
                        </div>
                    </div>
                </div>
                <div class="work-process-wrap rel z-1">
                    <div data-animate="stagger" class="row justify-content-between">
                        <div class="col-xl-3 col-lg-5 col-sm-6">
                            <div class="work-process-item mt-30 wow fadeInUp delay-0-2s">
                                <div class="icon">
                                    <span class="number">01</span>
                                    <i class="flaticon-optimization"></i>
                                </div>
                                <h4 data-animate="fade-up">Info Gathering</h4>
                                <p data-animate="blur-slide" data-delay="0.2">{{PROCESS_TEXT}}</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-5 col-sm-6">
                            <div class="work-process-item wow fadeInUp delay-0-4s">
                                <div class="icon">
                                    <span class="number">02</span>
                                    <i class="flaticon-link"></i>
                                </div>
                                <h4 data-animate="fade-up">Idea Planning</h4>
                                <p data-animate="blur-slide" data-delay="0.2">{{PROCESS_TEXT_2}}</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-5 col-sm-6">
                            <div class="work-process-item mt-55 wow fadeInUp delay-0-6s">
                                <div class="icon">
                                    <span class="number">03</span>
                                    <i class="flaticon-data"></i>
                                </div>
                                <h4 data-animate="fade-up">Design Analysis</h4>
                                <p data-animate="blur-slide" data-delay="0.2">{{PROCESS_TEXT_3}}</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-5 col-sm-6">
                            <div class="work-process-item mt-45 wow fadeInUp delay-0-8s">
                                <div class="icon">
                                    <span class="number">04</span>
                                    <i class="flaticon-star"></i>
                                </div>
                                <h4 data-animate="fade-up">Testing & Lunch</h4>
                                <p data-animate="blur-slide" data-delay="0.2">{{PROCESS_TEXT_4}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="work-process-shape">
                        <img data-animate="scale-in" data-delay="0.3" src="{{PROCESS_IMAGE_URL}}" alt="{{PROCESS_IMAGE_ALT}}">
                    </div>
                </div>
            </div>
        </section>
  </div>
</section>
