<!-- Component: services-dinex-01 -->
<!-- Tags: restaurant, modern, dark -->
<section id="services" id="services" class="section-all bg-dark" data-animate="fade-up">
            <!-- divider start -->
            <div class="divider-xl"></div>
            <!-- divider end -->
            <!-- container start -->
            <div class="container">
                <div class="extra-margin-container">
                    <!-- row start -->
                    <div data-animate="stagger" class="row">
                        <!-- col start -->
                        <div class="col-lg-12">
                            <!-- section subtitle start -->
                            <div class="section-title section-title-dark">
                                <h2 data-animate="text-split" data-split-type="words" class="section-title-line section-title-line-dark">{{SERVICES_TITLE}}</h2>
                            </div>
                            <!-- section subtitle end -->
                            <!-- divider start -->
                            <div class="divider-m"></div>
                            <!-- divider end -->
                            <!-- section title start -->
                            <h2 data-animate="text-split" data-split-type="words" class="hero-heading hero-heading-dark">{{SERVICES_TITLE_2}}</h2>
                            <!-- section title end -->
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div data-animate="stagger" class="row">
                        <!-- col start -->
                        <div class="col-lg-12">
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                            <!-- line start -->
                            <div class="the-line"></div>
                            <!-- line end -->
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div data-animate="stagger" class="row">
                        <!-- col start -->
                        <div class="col-lg-12">
                            <!-- quote start -->
                            <div class="testimonial">
                                <div class="inner">
                                    <div class="quote">
                                        <blockquote class="quote-inner">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                            standard dummy text ever since the 1500s.
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!-- quote end -->
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                    <!-- divider start -->
                    <div class="divider-l"></div>
                    <!-- divider end -->
                    <!-- row start -->
                    <div data-animate="stagger" class="row">
                        <!-- col start -->
                        <div class="col-md-4 col-all">
                            <!-- section subtitle start -->
                            <h4 data-animate="fade-up">
                                <span class="color-switch">Great</span> menu
                            </h4>
                            <!-- section subtitle end -->
                            <!-- divider start -->
                            <div class="divider-m"></div>
                            <!-- divider end -->
                            <!-- section txt start -->
                            <div class="txt">
                                <p data-animate="blur-slide" data-delay="0.2">{{SERVICES_SUBTITLE}}</p>
                            </div>
                            <!-- section txt end -->
                            <!-- divider start -->
                            <div class="divider-l visible-mobile-devices"></div>
                            <!-- divider end -->
                        </div>
                        <!-- col end -->
                        <!-- col start -->
                        <div class="col-md-4 col-all">
                            <!-- section subtitle start -->
                            <h4 data-animate="fade-up">
                                <span class="color-switch">Free</span> delivery
                            </h4>
                            <!-- section subtitle end -->
                            <!-- divider start -->
                            <div class="divider-m"></div>
                            <!-- divider end -->
                            <!-- section txt start -->
                            <div class="txt">
                                <p data-animate="blur-slide" data-delay="0.2">{{SERVICES_TEXT}}</p>
                            </div>
                            <!-- section txt end -->
                            <!-- divider start -->
                            <div class="divider-l visible-mobile-devices"></div>
                            <!-- divider end -->
                        </div>
                        <!-- col end -->
                        <!-- col start -->
                        <div class="col-md-4 col-all">
                            <!-- section subtitle start -->
                            <h4 data-animate="fade-up">
                                <span class="color-switch">Pro</span> catering
                            </h4>
                            <!-- section subtitle end -->
                            <!-- divider start -->
                            <div class="divider-m"></div>
                            <!-- divider end -->
                            <!-- section txt start -->
                            <div class="txt">
                                <p data-animate="blur-slide" data-delay="0.2">{{SERVICES_TEXT_2}}</p>
                            </div>
                            <!-- section txt end -->
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                </div>
            </div>
            <!-- container end -->
            <!-- divider start -->
            <div class="divider-xl"></div>
            <!-- divider end -->
        </section>
