<!-- Component: about-oxence-02 -->
<!-- Tags: imported -->
<section id="about" class="py-24 px-6" style="background: var(--color-bg)" data-animate="fade-up">
  <div class="max-w-7xl mx-auto">
<style>
.fadeInUp { -webkit-animation-name:fadeInUp;animation-name:fadeInUp }
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 { margin-top:0;margin-bottom:.5rem;font-weight:500;line-height:1.2 }
.h2,h2 { font-size:calc(1.325rem + .9vw) }
.h4,h4 { font-size:calc(1.275rem + .3vw) }
p { margin-top:0;margin-bottom:1rem }
a { color:var(--color-primary);text-decoration:underline }
a:hover { color:var(--color-accent, var(--color-secondary)) }
a:not([href]):not([class]),a:not([href]):not([class]):hover { color:inherit;text-decoration:none }
a>code { color:inherit }
img,svg { vertical-align:middle }
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl { width:100%;padding-right:var(--bs-gutter-x,.75rem);padding-left:var(--bs-gutter-x,.75rem);margin-right:auto;margin-left:auto }
.row { --bs-gutter-x:1.5rem;--bs-gutter-y:0;display:flex;flex-wrap:wrap;margin-top:calc(var(--bs-gutter-y) * -1);margin-right:calc(var(--bs-gutter-x) * -.5);margin-left:calc(var(--bs-gutter-x) * -.5) }
.row>* { flex-shrink:0;width:100%;max-width:100%;padding-right:calc(var(--bs-gutter-x) * .5);padding-left:calc(var(--bs-gutter-x) * .5);margin-top:var(--bs-gutter-y) }
.navbar>.container,.navbar>.container-fluid,.navbar>.container-lg,.navbar>.container-md,.navbar>.container-sm,.navbar>.container-xl,.navbar>.container-xxl { display:flex;flex-wrap:inherit;align-items:center;justify-content:space-between }
.navbar-light .navbar-text a,.navbar-light .navbar-text a:focus,.navbar-light .navbar-text a:hover { color:var(--color-text) }
.navbar-dark .navbar-text a,.navbar-dark .navbar-text a:focus,.navbar-dark .navbar-text a:hover { color:var(--color-bg) }
.align-items-center { align-items:center!important }
i[class*=" flaticon-"]:before,i[class^=flaticon-]:before { font-family:flaticon!important;font-style:normal;font-weight:400!important;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale }
.fa,.fab,.fad,.fal,.far,.fas { -moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1 }
.fa.fa-pull-left,.fab.fa-pull-left,.fal.fa-pull-left,.far.fa-pull-left,.fas.fa-pull-left { margin-right:.3em }
.fa.fa-pull-right,.fab.fa-pull-right,.fal.fa-pull-right,.far.fa-pull-right,.fas.fa-pull-right { margin-left:.3em }
.fa-angle-double-right:before { content:"\f101" }
.fad.fa-angle-double-right:after { content:"\10f101" }
.fa,.fas { font-family:"Font Awesome 5 Pro";font-weight:900 }
.cd-headline.type i { position: absolute;
    visibility: hidden; }
.cd-headline.type i.in { position: relative;
    visibility: visible; }
.cd-headline.rotate-2 i, .cd-headline.rotate-2 em { display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.cd-headline.rotate-2 i { -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
    -moz-transform: translateZ(-20px) rotateX(90deg);
    -ms-transform: translateZ(-20px) rotateX(90deg);
    -o-transform: translateZ(-20px) rotateX(90deg);
    transform: translateZ(-20px) rotateX(90deg);
    opacity: 0; }
.is-visible .cd-headline.rotate-2 i { opacity: 1; }
.cd-headline.rotate-2 i.in { -webkit-animation: cd-rotate-2-in 0.4s forwards;
    -moz-animation: cd-rotate-2-in 0.4s forwards;
    animation: cd-rotate-2-in 0.4s forwards; }
.cd-headline.rotate-2 i.out { -webkit-animation: cd-rotate-2-out 0.4s forwards;
    -moz-animation: cd-rotate-2-out 0.4s forwards;
    animation: cd-rotate-2-out 0.4s forwards; }
.no-csstransitions .cd-headline.rotate-2 i { -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 0; }
.no-csstransitions .cd-headline.rotate-2 i em { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
.no-csstransitions .cd-headline.rotate-2 .is-visible i { opacity: 1; }
.cd-headline.loading-bar span { display: inline-block;
    padding: .2em 0; }
.cd-headline.slide span { display: inline-block;
    padding: .2em 0; }
.cd-headline.clip span { display: inline-block;
    padding: .2em 0; }
.cd-headline.rotate-3 i { display: inline-block;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
.is-visible .cd-headline.rotate-3 i { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
.cd-headline.rotate-3 i.in { -webkit-animation: cd-rotate-3-in 0.6s forwards;
    -moz-animation: cd-rotate-3-in 0.6s forwards;
    animation: cd-rotate-3-in 0.6s forwards; }
.cd-headline.rotate-3 i.out { -webkit-animation: cd-rotate-3-out 0.6s forwards;
    -moz-animation: cd-rotate-3-out 0.6s forwards;
    animation: cd-rotate-3-out 0.6s forwards; }
.no-csstransitions .cd-headline.rotate-3 i { -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 0; }
.no-csstransitions .cd-headline.rotate-3 .is-visible i { opacity: 1; }
.cd-headline.scale i { display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
.is-visible .cd-headline.scale i { opacity: 1; }
.cd-headline.scale i.in { -webkit-animation: scale-up 0.6s forwards;
    -moz-animation: scale-up 0.6s forwards;
    animation: scale-up 0.6s forwards; }
.cd-headline.scale i.out { -webkit-animation: scale-down 0.6s forwards;
    -moz-animation: scale-down 0.6s forwards;
    animation: scale-down 0.6s forwards; }
.no-csstransitions .cd-headline.scale i { -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
.no-csstransitions .cd-headline.scale .is-visible i { opacity: 1; }
.mfp-preloader a { color:var(--color-border) }
.mfp-preloader a:hover { color:var(--color-bg) }
img.mfp-img { width:auto;max-width:100%;height:auto;display:block;line-height:0;box-sizing:border-box;padding:40px 0 40px;margin:0 auto }
.theme-btn i, a.theme-btn i { margin-left: 0;
    margin-right: 10px; }
.theme-btn:hover i, a.theme-btn:hover i { margin-left: -3px;
    margin-right: 13px; }
.section-title .sub-title::after, .section-title .sub-title::before { float: right; }
.section-title .sub-title:after { margin-left: 0px;
    margin-right: 20px; }
.section-title .sub-title:before { margin-right: 0;
    margin-left: 20px; }
.blog-item .content .date i { margin-right: 0px;
    margin-left: 8px; }
.blog-item .content .author img { margin-right: 0;
    margin-left: 15px; }
.header-top .top-right > ul > li > i { margin-right: 0px;
    margin-left: 5px; }
.hero-btns .theme-btn:not(:last-child) { margin-right: 0px;
    margin-left: 15px; }
.video-play-text i { margin-right: 0;
    margin-left: 15px; }
.hero-content p { border-left: none;
    border-right: 3px solid rgb(1, 201, 245);
    padding-left: 0;
    padding-right: 30px; }
.about-image .years-fo-experience { right: auto;
    left: 0; }
.about-image { padding-right: 0;
    padding-left: 11%; }
.client-satisfactions img { margin-right: 0;
    margin-left: 25px; }
.client-satisfactions .count-text { margin-right: 0px;
    margin-left: 20px; }
.feedback-item .feedback-author img { margin-right: 0;
    margin-left: 20px; }
.main-header.header-three .menu-btns .theme-btn { margin-right: 30px;
    margin-left: 0px; }
.feature-item-three > i { margin-right: 0;
    margin-left: 25px; }
.read-more i { margin-left: 0;
    margin-right: 7px; }
.read-more:hover i { margin-left: 0px;
    margin-right: 10px; }
.feature-item-four h4 i { margin-right: 0;
    margin-left: 20px; }
.product-details-content .add-to-cart .theme-btn { margin: 10px 0 0 10px; }
.blog-meta li img { margin-right: 0;
    margin-left: 8px; }
.blog-meta li i { margin-right: 0px;
    margin-left: 6px; }
.widget-category ul li a { margin-left: auto;
    margin-right: 0; }
.ww-do-btns .theme-btn:not(:last-child) { margin-right: 0;
    margin-left: 15px; }
.error-page-area,
.pricing-area-three,
.team-profile-area,
.ww-do-two-area,
.blog-details-area,
.blog-grid-area,
.shopping-cart-area,
.product-details,
.shop-page-area,
.project-details-area,
.project-creative-area,
.faqs-area,
.responsive-design-area,
.what-we-offer-two,
.what-we-offer,
.statistics-area-five,
.why-choose-two-area,
.statistics-area-two,
.feature-area-four,
.feature-with-image-area,
.ww-do-area,
.features-area-two,
.feedback-area,
.pricing-area,
.why-choose-area,
.mission-visson-area,
.about-area,
.main-footer,
.news-blog-area,
.contact-area,
.testimonial-area-two,
.pricing-area-two,
.call-to-action-area,
.statistics-area-three,
.about-area-one,
.main-slider-area,
.main-header { text-align: right; }
.slick-slide img { display:block }
.slick-slide.slick-loading img { display:none }
.slick-slide.dragging img { pointer-events:none }
a { color: var(--color-text-muted);
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none; }
a:hover, a:focus, a:visited { text-decoration: none;
    outline: none; }
a:hover { color: var(--color-primary); }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: var(--color-accent, var(--color-secondary)); }
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white h1 a,
.text-white h2 a,
.text-white h3 a,
.text-white h4 a,
.text-white h5 a,
.text-white h6 a { color: white; }
img { max-width: 100%;
  display: inline-block; }
header:after, section:after, footer:after { display: block;
  clear: both;
  content: ""; }
.no-gap > div { padding-left: 0;
    padding-right: 0; }
.small-gap > div { padding-left: 5px;
    padding-right: 5px; }
.row { --bs-gutter-x: 30px; }
.section-title { margin-top: -7px; }
.section-title .sub-title { font-size: 18px;
    font-weight: 700;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: var(--color-accent, var(--color-secondary));
    text-decoration: underline; }
.section-title .sub-title:after, .section-title .sub-title:before { float: left;
      line-height: 0;
      font-size: 40px;
      font-weight: 300;
      content: "\f141";
      font-family: 'Font Awesome 5 Pro'; }
.section-title .sub-title:before { margin-right: 20px; }
.section-title .sub-title:after { margin-left: 20px;
      display: none; }
.section-title .sub-title.style-two { color: var(--color-primary);
      text-decoration: none; }
.section-title .sub-title.style-two:before { content: url(../images/shapes/section-subtitle-line.png);
        margin: -15px 15px 0 -25px; }
.section-title .sub-title.style-two:after { display: none; }
.section-title h2 { margin-bottom: 25px; }
.section-title.text-center .sub-title:after { display: block; }
.section-title.text-center .sub-title.style-two:after, .section-title.text-center .sub-title.style-two:before { display: none; }
.theme-btn,
a.theme-btn { z-index: 1;
  color: white;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-weight: 700;
  border-radius: 5px;
  text-align: center;
  padding: 12px 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-transform: capitalize;
  background: var(--color-primary); }
.theme-btn i,
  a.theme-btn i { font-size: 13px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-left: 10px; }
.theme-btn:after,
  a.theme-btn:after { content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
    -webkit-transition: 0.75s;
    -o-transition: 0.75s;
    transition: 0.75s;
    position: absolute;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    background: var(--color-accent, var(--color-secondary)); }
.theme-btn:hover:after,
  a.theme-btn:hover:after { -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
.theme-btn:hover i,
  a.theme-btn:hover i { margin-left: 13px;
    margin-right: -3px; }
.theme-btn.style-two,
  a.theme-btn.style-two { background: var(--color-accent, var(--color-secondary)); }
.theme-btn.style-two:after,
    a.theme-btn.style-two:after { background: var(--color-primary); }
.theme-btn.style-three,
  a.theme-btn.style-three { color: var(--color-accent, var(--color-secondary));
    background: transparent;
    border: 1px solid rgba(var(--color-primary-rgb), 0.2); }
.theme-btn.style-three:after,
    a.theme-btn.style-three:after { background: var(--color-primary); }
.theme-btn.style-three:hover,
    a.theme-btn.style-three:hover { color: white;
      border-color: var(--color-primary); }
.theme-btn.style-three.white-btn,
    a.theme-btn.style-three.white-btn { color: white;
      border-color: white; }
.read-more i { float: right;
    font-weight: 400;
    margin-left: 7px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
.read-more:hover i { margin-left: 10px; }
.list-style-one li .content p { margin-bottom: 0; }
.social-style-one a { width: 40px;
    height: 40px;
    background: white;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid rgba(var(--color-primary-rgb), 0.1);
    margin-left: 5px;
    margin-right: 5px; }
.social-style-one a:hover { color: white;
      background: var(--color-primary);
      border-color: var(--color-primary); }
.social-style-two a { margin: 10px 5px 0;
    width: 45px;
    height: 45px;
    background: white;
    line-height: 45px;
    border-radius: 50%;
    text-align: center;
    color: var(--color-primary);
    -webkit-box-shadow: 10px 0 30px rgba(175, 175, 175, 0.3);
    box-shadow: 10px 0 30px rgba(175, 175, 175, 0.3); }
.social-style-two a:hover { color: white;
      background: var(--color-primary); }
.social-style-three a { margin-left: 7.5px;
    margin-right: 7.5px; }
.pagination li a,
    .pagination li .page-link { padding: 0;
      width: 45px;
      height: 45px;
      -webkit-box-shadow: none;
      box-shadow: none;
      font-weight: 600;
      line-height: 43px;
      text-align: center;
      border-radius: 50%;
      color: var(--color-accent, var(--color-secondary));
      border: 2px solid rgba(var(--color-primary-rgb), 0.1); }
.ratting i { margin: 3px;
    color: var(--color-accent, var(--color-secondary));
    font-size: 14px; }
.text-white *, .text-white a,
.text-white .count-text,
.text-white .footer-newsletter-content .sub-title { color: white; }
.text-white li li .dropdown-btn span { color: var(--color-accent, var(--color-secondary)); }
.text-white .copyright-area p { opacity: 0.5; }
.text-white .copyright-area a { opacity: 0.5; }
.text-white .copyright-area a:hover { opacity: 1; }
.video-play-text i { color: white;
    font-size: 14px;
    margin-right: 15px;
    width: 55px;
    height: 55px;
    background: var(--color-accent, var(--color-secondary));
    line-height: 55px;
    border-radius: 50%;
    text-align: center; }
.video-play-text span { font-weight: 500;
    text-decoration: underline; }
.rel { position: relative; }
.z-1 { z-index: 1; }
.bgs-cover { background-size: cover;
  background-position: center; }
.bgc-primary { background-color: var(--color-primary); }
.home-one .count-text,
  .home-one .price-and-btn .price,
  .home-one .blog-item .content h4,
  .home-one h1, .home-one h2, .home-one h3, .home-one h4, .home-one h5, .home-one h6,
  .home-one .blog-item .content .date,
  .home-one .h1, .home-one .h2, .home-one .h3, .home-one .h4, .home-one .h5, .home-one .h6,
  .home-one .blog-item .content .post-by a,
  .home-one .work-process-item .number { font-family: 'Kumbh Sans', sans-serif; }
.home-one a:hover,
  .home-one .details-btn,
  .home-one .slick-arrow,
  .home-one .counter-item > i,
  .home-one .section-title h2 span,
  .home-one .blog-item .content .date,
  .home-one .style-two .counter-title,
  .home-one .section-title .sub-title,
  .home-one .list-style-two li a:hover,
  .home-one .social-style-two a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.home-one .theme-btn,
  .home-one .scroll-top,
  .home-one .details-btn:hover,
  .home-one .slick-arrow:hover,
  .home-one .slick-arrow:focus,
  .home-one .list-style-two li:before,
  .home-one .list-style-one li:before,
  .home-one .social-style-two a:hover,
  .home-one .work-process-item .icon i,
  .home-one .slick-dots li.slick-active,
  .home-one .theme-btn.style-three:after,
  .home-one .list-style-two li:hover:before,
  .home-one .work-process-item:hover .icon i,
  .home-one .hidden-bar .social-style-one a:hover,
  .home-one .widget_nav_menu .list-style-two li:hover:before { background: var(--color-accent, var(--color-secondary)); }
.home-one .slick-dots li,
  .home-one .theme-btn.style-three:hover,
  .home-one .work-process-item .icon:before,
  .home-one .hidden-bar .social-style-one a:hover { border-color: var(--color-accent, var(--color-secondary)); }
.home-one .slick-arrow:focus,
  .home-one .slick-arrow:hover,
  .home-one .details-btn:hover,
  .home-one .theme-btn.style-three,
  .home-one .social-style-two a:hover,
  .home-one .hidden-bar .social-style-one a:hover { color: white; }
.home-one .theme-btn { border-radius: 27px; }
.home-one .theme-btn:after { background: black; }
.home-one .text-center .sub-title:after, .home-one .text-center .sub-title:before { display: block; }
.home-four .count-text,
.home-four .price-and-btn .price,
.home-four .blog-item .content h4,
.home-four h1, .home-four h2, .home-four h3, .home-four h4, .home-four h5, .home-four h6,
.home-four .blog-item .content .date,
.home-four .h1, .home-four .h2, .home-four .h3, .home-four .h4, .home-four .h5, .home-four .h6,
.home-four .blog-item .content .post-by a,
.home-four .work-process-item .number { color: var(--color-text); }
.home-four a:hover,
.home-four .details-btn,
.home-four .slick-arrow,
.home-four .counter-item > i,
.home-four .section-title h2 span,
.home-four .blog-item .content .date,
.home-four .style-two .counter-title,
.home-four .section-title .sub-title,
.home-four .list-style-two li a:hover,
.home-four .social-style-two a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.home-four .theme-btn,
.home-four .scroll-top,
.home-four .details-btn:hover,
.home-four .slick-arrow:hover,
.home-four .slick-arrow:focus,
.home-four .list-style-two li:before,
.home-four .list-style-one li:before,
.home-four .social-style-two a:hover,
.home-four .work-process-item .icon i,
.home-four .slick-dots li.slick-active,
.home-four .theme-btn.style-three:after,
.home-four .list-style-two li:hover:before,
.home-four .work-process-item:hover .icon i,
.home-four .hidden-bar .social-style-one a:hover,
.home-four .widget_nav_menu .list-style-two li:hover:before { background: var(--color-accent, var(--color-secondary)); }
.home-four .slick-dots li,
.home-four .theme-btn.style-three:hover,
.home-four .work-process-item .icon:before,
.home-four .hidden-bar .social-style-one a:hover { border-color: var(--color-accent, var(--color-secondary)); }
.home-four .theme-btn { z-index: auto;
  overflow: inherit;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 30px; }
.home-four .theme-btn:after { top: 5px;
    left: 5px;
    border-radius: 30px;
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    background: var(--color-text); }
.home-four .theme-btn:hover { color: white; }
.home-four .theme-btn.style-two { background: var(--color-accent, var(--color-secondary)); }
.home-four .theme-btn.style-two:after { background: var(--color-accent, var(--color-secondary)); }
.home-four .theme-btn.style-four { background: var(--color-primary); }
.home-four .slick-arrow:focus,
.home-four .slick-arrow:hover,
.home-four .details-btn:hover,
.home-four .theme-btn.style-three,
.home-four .social-style-two a:hover,
.home-four .hidden-bar .social-style-one a:hover { color: white; }
.home-four .section-title .sub-title { text-decoration: none; }
.home-four .section-title .sub-title:after, .home-four .section-title .sub-title:before { display: none; }
.home-four .text-white .sub-title,
.home-four .text-white h1, .home-four .text-white h2, .home-four .text-white h3, .home-four .text-white h4, .home-four .text-white h5, .home-four .text-white h6,
.home-four .text-white .h1, .home-four .text-white .h2, .home-four .text-white .h3, .home-four .text-white .h4, .home-four .text-white .h5, .home-four .text-white .h6 { color: white; }
.home-four .social-style-two a { width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  background: var(--color-accent, var(--color-secondary));
  -webkit-box-shadow: 5px 4px 0 var(--color-accent, var(--color-secondary));
  box-shadow: 5px 4px 0 var(--color-accent, var(--color-secondary)); }
.home-four .social-style-two a i { -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: var(--color-accent, var(--color-secondary)); }
.home-four .social-style-two a:hover { background: var(--color-accent, var(--color-secondary));
    -webkit-box-shadow: 4px 5px 0 var(--color-accent, var(--color-secondary));
    box-shadow: 4px 5px 0 var(--color-accent, var(--color-secondary)); }
.home-four .social-style-two a:hover i { color: white; }
.heading,
h1,
.h1,
h2,
.h2,
.count-text,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.tab-btns-one .nav-link .title,
.product-item .content .price-details-btn .price { font-weight: 700;
  color: var(--color-accent, var(--color-secondary));
  font-family: var(--font-heading); }
h2, .h2, .count-text { line-height: 1.22;
  font-size: 45px; }
h4, .h4 { line-height: 1.65;
  font-size: 24px; }
.pt-10,
.py-10 { padding-top: 10px; }
.pt-130,
.py-130 { padding-top: 130px; }
.pb-10,
.py-10 { padding-bottom: 10px; }
.pb-130,
.py-130 { padding-bottom: 130px; }
.mt-15,
.my-15 { margin-top: 15px; }
.mb-15,
.my-15 { margin-bottom: 15px; }
.mb-30,
.my-30 { margin-bottom: 30px; }
.delay-0-2s { -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }
.delay-0-4s { -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.header-top .top-left > ul li a:hover { text-decoration: underline; }
.header-top .top-right > ul > li > i { margin-right: 5px; }
.header-top .top-right > ul > li a { text-decoration: underline; }
.main-menu .navbar-collapse li a { display: block;
      font-size: 18px;
      opacity: 1;
      font-weight: 500;
      position: relative;
      color: var(--color-accent, var(--color-secondary));
      text-transform: capitalize;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      transition: all 500ms ease; }
.main-menu .navbar-collapse li a:hover { color: var(--color-primary);
        text-decoration: underline; }
.main-menu .navbar-collapse li.current > a, .main-menu .navbar-collapse li.current-menu-item > a { font-weight: 500; }
.main-menu .navbar-collapse li li a { text-transform: capitalize; }
.main-menu .navbar-collapse li li a:before { display: none; }
.menu-btns .theme-btn { margin-left: 25px;
    margin-right: 25px; }
.hidden-bar .social-style-one a { width: 40px;
    height: 40px;
    line-height: 40px; }
.hidden-bar .inner-box h4 { position: relative;
    color: var(--color-bg);
    margin-bottom: 35px; }
.main-header.header-three .menu-btns .theme-btn { margin-right: 0;
  margin-left: 30px; }
.main-header.header-two .main-menu .navigation li li a:hover { color: var(--color-accent, var(--color-secondary)); }
.main-header.header-two .menu-btns .theme-btn.style-three:not(:hover) { border-color: white; }
.main-header.header-four .main-menu .navigation li a,
.main-header.header-four .main-menu .navigation .dropdown .dropdown-btn { color: var(--color-text); }
.main-header.header-four .main-menu .navigation li a:hover,
  .main-header.header-four .main-menu .navigation .dropdown .dropdown-btn:hover { text-decoration: none; }
.main-header.header-four .main-menu .navigation > li > a { position: relative; }
.main-header.header-four .main-menu .navigation > li > a:after { content: '';
    left: -5px;
    bottom: 5px;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    background: var(--color-accent, var(--color-secondary));
    width: calc(100% + 10px);
    height: 0; }
.main-header.header-four .main-menu .navigation > li:hover > a:after, .main-header.header-four .main-menu .navigation > li.current > a:after, .main-header.header-four .main-menu .navigation > li.current-menu-item > a:after { opacity: 1;
  height: 9px; }
.main-header.header-four .main-menu .navigation > li.dropdown > a:after { width: calc(100% + 25px); }
.main-header.header-four .menu-btns .theme-btn { padding-top: 9px;
  padding-bottom: 9px; }
.hero-content .sub-title { font-weight: 500;
    line-height: 1.5;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 0 5px 5px 0;
    background: var(--color-primary);
    border-left: 3px solid white; }
.hero-content p { margin-top: 25px;
    padding-left: 30px;
    border-left: 3px solid var(--color-accent, var(--color-secondary)); }
.hero-btns .theme-btn:not(:last-child) { margin-right: 15px; }
.hero-content-three h1 span { position: relative;
    color: var(--color-accent, var(--color-secondary)); }
.hero-content-three h1 span:after { position: absolute;
      content: '';
      left: 4%;
      z-index: -1;
      bottom: -13%;
      width: 96%;
      height: 28%;
      background: url(../images/shapes/hero-title-bg-line.png) no-repeat center/cover; }
.hero-content-three .video-play-text i { background: var(--color-accent, var(--color-secondary)); }
.hero-content-three .video-play-text span:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.hero-content-four .hero-btns .video-play-text i { margin-right: 20px;
    background: var(--color-accent, var(--color-secondary));
    margin-bottom: 10px;
    -webkit-box-shadow: 5px 5px 0 0 var(--color-text);
    box-shadow: 5px 5px 0 0 var(--color-text); }
.hero-content-four .hero-btns .video-play-text span { color: var(--color-text); }
.hero-left-images .image img,
    .hero-right-images .image img { margin-bottom: 3px; }
.banner-inner h1 span { z-index: 1;
    position: relative; }
.banner-inner h1 span:after { position: absolute;
      content: '';
      z-index: -1;
      left: 0;
      top: 80%;
      height: 20px;
      width: 100%;
      background: url(../images/shapes/page-title-bg-line.png) no-repeat center/contain; }
.breadcrumb .breadcrumb-item a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.slider-content .sub-title { color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    display: inline-block;
    font-family: 'Catamaran', sans-serif; }
.slider-content .slider-btns .theme-btn { margin: 10px 5px 0; }
.slider-video .video-title .cd-words-wrapper span { padding: 0; }
.slick-active .sub-title { -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }
.about-image { max-width: 100%;
  padding-top: 18%;
  padding-right: 11%;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content; }
.about-image .years-fo-experience { position: absolute;
    right: 0;
    top: 0;
    width: 90%;
    max-width: 400px;
    padding: 40px 60px; }
.about-image .years-fo-experience .count-text { color: white;
      margin-bottom: 20px;
      display: inline-block; }
.about-image .years-fo-experience h4 { color: white; }
.client-satisfactions { display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 444px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
.client-satisfactions img,
  .client-satisfactions .heading,
  .client-satisfactions .count-text { margin-bottom: 15px; }
.client-satisfactions img { margin-right: 25px; }
.client-satisfactions .count-text { margin-right: 20px; }
.client-satisfactions .heading { font-size: 22px; }
.ww-do-btns .theme-btn:not(:last-child) { margin-right: 15px; }
.ww-do-btns .video-play-text i { background: var(--color-accent, var(--color-secondary)); }
.ww-do-btns .video-play-text span { color: var(--color-accent, var(--color-secondary)); }
.count-text:after { content: '+'; }
.counter-item > i { font-size: 60px;
    margin-bottom: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.counter-item.style-two .count-text { font-weight: 500;
      font-size: 40px; }
.counter-cta h4,
  .counter-cta .theme-btn { margin: 10px 15px; }
.statistics-two-counters .counter-item > i { color: var(--color-primary); }
.statistics-two-counters .counter-item .count-text { font-size: 40px; }
.circle-progress-two-item .skill-counter h4 { font-size: 22px; }
.feature-item-three > i { font-size: 55px;
    margin-top: 10px;
    margin-right: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.feature-item-three .content h4 { font-size: 22px; }
.feature-item-three.color-two > i { color: var(--color-primary); }
.feature-item-three.color-three > i { color: var(--color-accent, var(--color-secondary)); }
.feature-item-three.color-four > i { color: var(--color-accent, var(--color-secondary)); }
.feature-with-image .feature-content .read-more i { color: var(--color-accent, var(--color-secondary)); }
.feature-with-image .feature-content .read-more:hover i { color: var(--color-accent, var(--color-secondary)); }
.feature-item-four h4 { display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 22px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 15px; }
.feature-item-four h4 i { line-height: 0;
      font-size: 55px;
      margin-top: 3px;
      margin-right: 20px;
      color: var(--color-primary); }
.text-white .feature-with-image p { opacity: 0.6; }
.feature-item-five i { line-height: 1;
    font-size: 60px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px;
    color: var(--color-accent, var(--color-secondary));
    display: inline-block; }
.feature-item-five:hover i, .feature-item-five:hover h5, .feature-item-five:hover h5 a { color: white; }
.feature-item-seven .icon i:before { line-height: inherit; }
.feature-item-seven p { margin-bottom: 0; }
.feature-item-eight a { display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
.feature-item-eight a .image { -webkit-box-flex: 0;
      -ms-flex: none;
      flex: none;
      width: 90px;
      height: 90px;
      background: white;
      line-height: 90px;
      border-radius: 50%;
      text-align: center;
      margin-right: 30px;
      -webkit-box-shadow: -5px 7px 0 0 var(--color-text);
      box-shadow: -5px 7px 0 0 var(--color-text); }
.feature-item-eight a h4 { margin-bottom: 0; }
.feature-item-eight a .icon { color: black;
      font-size: 42px;
      margin-left: auto;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
.feature-item-eight a:hover h4 { text-decoration: underline; }
.what-we-do-shapes img { z-index: -1;
  max-width: 6%;
  position: absolute; }
.what-we-do-shapes img.one { top: 15%;
    left: 30%;
    -webkit-animation: 50s shapeAnimationOne infinite;
    animation: 50s shapeAnimationOne infinite; }
.what-we-do-shapes img.two { left: 6%;
    bottom: 10%;
    -webkit-animation: 20s leftRightOne infinite;
    animation: 20s leftRightOne infinite; }
.what-we-do-shapes img.three { bottom: 15%;
    left: 48%;
    -webkit-animation: 20s upDownLeft infinite;
    animation: 20s upDownLeft infinite; }
.service-item h5 a { text-decoration: underline; }
.service-item p { -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 10px; }
.service-item:hover .icon, .service-item:hover a, .service-item:hover p { color: white; }
.service-item.style-two h5 a { text-decoration: none; }
.service-item.style-three .icon i { color: var(--color-accent, var(--color-secondary)); }
.service-item.style-three h4 { font-size: 22px; }
.service-item-four .image img { position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-width: 75%; }
.service-item-four .theme-btn { width: 100%; }
.service-item-five h4 { margin-bottom: 15px; }
.service-item-five .theme-btn.style-three { border: none;
    margin-top: 5px;
    background: var(--color-bg); }
.service-item-six h4 { line-height: 1.6;
    margin-bottom: 30px; }
.service-item-six .theme-btn { margin-bottom: 60px;
    padding-top: 9px;
    padding-bottom: 9px; }
.service-item-six .theme-btn.style-two:after { background: var(--color-text); }
.project-item .project-iamge img { width: 100%; }
.project-item.style-two .project-content h4 { margin-bottom: 0; }
.project-page-area .section-title .sub-title:before { display: none; }
.project-creative-item .content .section-title { margin-bottom: 40px; }
.project-creative-item .content .section-title .sub-title { font-family: var(--font-body); }
.project-creative-item .content p { max-width: 340px; }
.project-creative-item .content .theme-btn { margin-top: 18px; }
.project-details-area .section-title h2 { margin-bottom: 10px; }
.next-prev-project .show-all i { margin: -10px 0; }
.tab-btns-one .nav-link .title i { margin-right: 16px; }
.tab-btns-one .nav-link .right-btn i { -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.project-gallery-item img { width: 100%; }
.project-gallery-item .content .text h4 { font-size: 27px;
      margin-bottom: 0; }
.project-gallery-item .content .text h4 a:not(:hover) { color: var(--color-text); }
.project-gallery-item .content .project-details-btn i { -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
.team-member img { border-radius: 50%;
    margin-bottom: 25px; }
.team-profile-content .section-title h2 { margin-bottom: 5px; }
.team-profile-content .section-title .designation { font-size: 20px;
  font-weight: 500;
  color: var(--color-primary); }
.team-item-four .image img { border-radius: 50%;
      -webkit-box-shadow: 6px 6px 0 var(--color-accent, var(--color-secondary));
      box-shadow: 6px 6px 0 var(--color-accent, var(--color-secondary)); }
.team-item-four h4 { font-size: 22px;
    margin-bottom: 0; }
.team-item-four .social-style-two a { background: white;
    -webkit-box-shadow: 4px 4px 0 var(--color-text);
    box-shadow: 4px 4px 0 var(--color-text); }
.team-item-four:hover .social-style-two a { background: var(--color-accent, var(--color-secondary)); }
.team-item-four:hover .social-style-two a:hover { background: var(--color-accent, var(--color-secondary));
        -webkit-box-shadow: 4px 4px 0 var(--color-text);
        box-shadow: 4px 4px 0 var(--color-text); }
.pricing-plan-item .price-features h4 { margin-bottom: 20px; }
.price-and-btn .save span { color: var(--color-primary); }
.price-and-btn .theme-btn.style-three { border-color: var(--color-primary); }
.price-and-btn .theme-btn.style-three:after { background: var(--color-primary); }
.pricing-plan-item:hover .theme-btn { color: white; }
.pricing-plan-item:hover .theme-btn:after { -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
.text-white .price-and-btn .theme-btn.style-three { color: white; }
.text-white .price-and-btn .save span { color: var(--color-accent, var(--color-secondary)); }
.pricing-item-two .pricing-inner .price-and-btn .save span { color: var(--color-accent, var(--color-secondary)); }
.pricing-item-two .pricing-inner .price-and-btn .theme-btn.style-three { border-color: var(--color-accent, var(--color-secondary)); }
.pricing-item-two .pricing-inner .price-and-btn .theme-btn.style-three:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.pricing-item-two .pricing-inner .price-and-btn .theme-btn.style-three:after { background: var(--color-accent, var(--color-secondary)); }
.pricing-plan-three h4 { font-size: 20px;
    margin-bottom: 25px;
    display: inline-block;
    padding: 15px 20px 5px;
    background: url(../images/shapes/pricing-title-bg.png) no-repeat 100%/100%; }
.pricing-plan-three.style-two h4,
    .pricing-plan-three.style-two .price,
    .pricing-plan-three.style-two .save span,
    .pricing-plan-three.style-two .price:after,
    .pricing-plan-three.style-two .list-style-two li:before { -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
.pricing-plan-three.style-two .price-and-btn .theme-btn.style-three:after { background: var(--color-accent, var(--color-secondary)); }
.pricing-plan-three.style-two:hover h4 { background-image: url(../images/shapes/pricing-title-bg-white.png); }
.pricing-plan-three.style-two:hover h4,
      .pricing-plan-three.style-two:hover .price,
      .pricing-plan-three.style-two:hover .save span,
      .pricing-plan-three.style-two:hover .price:after,
      .pricing-plan-three.style-two:hover .theme-btn.style-three { color: white; }
.pricing-plan-three.style-two:hover .price-and-btn .theme-btn.style-three { border-color: var(--color-accent, var(--color-secondary)); }
.pricing-plan-three.style-two:hover .price-and-btn .theme-btn.style-three:after { -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66); }
.feedback-item .author-logo > i { color: white;
      font-size: 20px;
      margin-right: 15px;
      width: 55px;
      height: 55px;
      background: var(--color-accent, var(--color-secondary));
      line-height: 55px;
      border-radius: 50%;
      text-align: center; }
.feedback-item h4 { font-size: 22px;
    margin-bottom: 16px; }
.feedback-item .feedback-author img { max-width: 65px;
      margin-right: 20px;
      border-radius: 50%; }
.testimonial-item-two .testimonial-author img { border-radius: 50%; }
.testimonial-item-two .testimonial-content p { font-size: 20px; }
.testimonial-four-active .feedback-author img { width: 65px;
      height: 65px;
      margin-right: 25px;
      border-radius: 50%;
      -webkit-box-shadow: 6px 6px var(--color-text);
      box-shadow: 6px 6px var(--color-text); }
.work-process-item .icon i { color: white;
      font-size: 65px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      display: inline-block;
      width: 120px;
      height: 120px;
      background: var(--color-primary);
      line-height: 120px;
      border-radius: 50%;
      text-align: center; }
.work-process-item .icon i:before { line-height: inherit; }
.work-process-item p { font-size: 18px; }
.work-process-item:hover .icon i { background: var(--color-accent, var(--color-secondary)); }
.cta-item .icon i:before { line-height: inherit; }
.cta-item h4 { color: white;
    line-height: 1.44;
    margin: 10px 30px; }
.contact-info-item.style-two .content .text a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.contact-area-form h4 { margin-bottom: 25px; }
.contact-area-form .theme-btn { min-width: 70%; }
.contact-four-form .theme-btn.style-two:after { background: var(--color-text); }
.contact-four-image img { margin-top: -70px; }
.follow-us h4 { font-size: 22px;
    margin-bottom: 22px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(var(--color-primary-rgb), 0.1); }
.location-address-item .bottom-part li i { font-size: 18px;
      margin-right: 10px;
      color: var(--color-primary); }
.blog-item .content .date i { margin-right: 8px; }
.blog-item .content h4 { line-height: 1.4;
      margin-bottom: 18px; }
.blog-item .content .author img { width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px; }
.blog-item .content .author span { display: block; }
.blog-item .content .author a { font-weight: 500; }
.blog-item .content .author a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.blog-grid-item .image img { width: 100%; }
.blog-meta li img { width: 30px;
      height: 30px;
      margin-right: 8px;
      border-radius: 50%; }
.blog-meta li i { margin-right: 6px; }
.blog-list-item .image img { width: 100%; }
.blog-list-item .blog-content h4 { line-height: 1.52;
      margin-bottom: 15px;
      letter-spacing: -1px; }
.blog-four-item .date i { margin-right: 10px; }
.blog-four-item h4 { line-height: 1.55;
  margin-bottom: 16px; }
.blog-four-item .theme-btn { padding-top: 9px;
  padding-bottom: 9px; }
.blog-four-item .theme-btn:hover { background: var(--color-accent, var(--color-secondary)); }
.tag-share .item .tag-coulds a { padding-top: 0;
      padding-bottom: 0;
      border-radius: 5px;
      text-transform: capitalize; }
h4.comment-title { margin-bottom: 0;
  border-bottom: none; }
.comment-body .author-thumb img { border-radius: 50%; }
.comment-body .content h5 .theme-btn { font-size: 16px;
      padding: 6px 20px;
      font-family: var(--font-body); }
.next-prev-post .post-item h5 a { color: var(--color-accent, var(--color-secondary)); }
.next-prev-post .post-item h5 a:hover { text-decoration: underline; }
.next-prev-post .post-item .date i { margin-right: 5px; }
.comment-form h4 { margin-bottom: 0; }
.faq-images img:not(:last-child) { margin-bottom: 30px; }
.accordion-item .accordion-body p { margin: 10px 0 0; }
.product-item .image img { width: 100%; }
.product-item .content .admin-ratting a { color: var(--color-primary);
        text-decoration: underline; }
.product-item .content .price-details-btn .theme-btn { padding: 2px 15px; }
.preview-images img { width: 100%; }
.thumb-images .thumb-item img { width: 100%; }
.product-details-content .section-title h2 { margin-bottom: 15px; }
.product-details-content .category-tags li span { margin-left: 20px;
  margin-right: 20px; }
.product-details-content .category-tags li a:not(:last-child):after { content: ',';
  margin-right: 3px; }
.product-details-content .add-to-cart .theme-btn { padding-top: 9px;
    padding-bottom: 9px;
    margin: 10px 10px 0 0; }
.product-information-tab li a { font-size: 18px;
  font-weight: 700;
  padding: 11px 65px;
  border-radius: 5px;
  display: inline-block;
  color: var(--color-accent, var(--color-secondary));
  border: 1px solid rgba(var(--color-primary-rgb), 0.1); }
.product-information-tab li a.active { color: white;
    background: var(--color-primary); }
.shoping-table td img,
.shoping-cart-total td img { max-height: 60px; }
.checkout-faqs .alert h6 a { padding: 0;
      color: var(--color-accent, var(--color-secondary));
      background: transparent; }
.marquee-item i { font-size: 45px;
    margin-right: 25px;
    color: var(--color-accent, var(--color-secondary)); }
.widget-category ul li a { margin-right: auto; }
.widget-category ul li a:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.widget-cta h4 { color: white;
    margin-bottom: 20px; }
.widget-cta .theme-btn.style-two { padding-top: 7px;
    padding-bottom: 7px; }
.widget-cta .theme-btn.style-two:after { background: var(--color-accent, var(--color-secondary)); }
.tag-coulds a { font-size: 14px;
    font-weight: 500;
    padding: 2px 16px;
    margin: 10px 5px 0;
    color: var(--color-accent, var(--color-secondary));
    text-transform: uppercase;
    background: var(--color-bg); }
.tag-coulds a:hover { color: white;
      background: var(--color-primary); }
.error-content .follow-us h4 { margin-bottom: 15px;
      padding-bottom: 15px; }
.footer-top-newsletter form label i { color: var(--color-text-muted); }
.footer-top-newsletter .footer-newsletter-image img { width: 100%; }
.widget_nav_menu .list-style-two li a:hover { text-decoration: underline; }
.footer-bottom-menu ul li a { color: var(--color-accent, var(--color-secondary)); }
.footer-bottom-menu ul li a:hover { text-decoration: underline; }
.main-footer.footer-three .widget_newsletter form button i { color: var(--color-accent, var(--color-secondary)); }
.main-footer.footer-three .footer-bottom .footer-bottom-menu ul li a { color: white; }
.dark-version .heading,
.dark-version .social-style-one a,
.dark-version .nav-search > button,
.dark-version h1, .dark-version h2, .dark-version h3, .dark-version h4, .dark-version h5, .dark-version h6,
.dark-version .text-white .count-text,
.dark-version .h1, .dark-version .h2, .dark-version .h3, .dark-version .h4, .dark-version .h5, .dark-version .h6,
.dark-version .main-menu .navigation > li > a,
.dark-version h1 a, .dark-version h2 a, .dark-version h3 a, .dark-version h4 a, .dark-version h5 a, .dark-version h6 a,
.dark-version .main-menu .navigation > .dropdown > .dropdown-btn { color: white; }
.dark-version.home-two .read-more,
  .dark-version.home-two .count-text,
  .dark-version.home-two .team-member .designation,
  .dark-version.home-two .feedback-item .feedback-author .content h5 { color: var(--color-accent, var(--color-secondary)); }
.dark-version.home-two .social-style-one a:hover,
  .dark-version.home-two .menu-sidebar button .icon-bar,
  .dark-version.home-two .feedback-item .author-logo > i { background: var(--color-accent, var(--color-secondary)); }
.dark-version.home-two .social-style-one a { background: transparent; }
.dark-version.home-two .team-member:after,
  .dark-version.home-two .social-style-one a,
  .dark-version.home-two .feedback-shape:after { border-color: var(--color-bg); }
.dark-version.home-one .copyright-text,
  .dark-version.home-one .form-control::-webkit-input-placeholder,
  .dark-version.home-one .list-style-two a:not(:hover),
  .dark-version.home-one .pricing-item-two .price:after,
  .dark-version.home-one .social-style-two a:not(:hover),
  .dark-version.home-one .blog-item .content .author a:not(:hover) { color: #adadb8; }
.dark-version.home-one .copyright-text,
  .dark-version.home-one .form-control:-ms-input-placeholder,
  .dark-version.home-one .list-style-two a:not(:hover),
  .dark-version.home-one .pricing-item-two .price:after,
  .dark-version.home-one .social-style-two a:not(:hover),
  .dark-version.home-one .blog-item .content .author a:not(:hover) { color: #adadb8; }
.dark-version.home-one .copyright-text,
  .dark-version.home-one .form-control::-ms-input-placeholder,
  .dark-version.home-one .list-style-two a:not(:hover),
  .dark-version.home-one .pricing-item-two .price:after,
  .dark-version.home-one .social-style-two a:not(:hover),
  .dark-version.home-one .blog-item .content .author a:not(:hover) { color: #adadb8; }
.dark-version.home-one .copyright-text,
  .dark-version.home-one .form-control::placeholder,
  .dark-version.home-one .list-style-two a:not(:hover),
  .dark-version.home-one .pricing-item-two .price:after,
  .dark-version.home-one .social-style-two a:not(:hover),
  .dark-version.home-one .blog-item .content .author a:not(:hover) { color: #adadb8; }
.dark-version.home-one .slick-arrow:hover,
  .dark-version.home-one .cta-item .details-btn:hover,
  .dark-version.home-one .social-style-one a:not(:hover),
  .dark-version.home-one .project-item .details-btn:not(:hover) { color: var(--color-accent, var(--color-secondary)); }
.dark-version.home-one .footer-bottom,
  .dark-version.home-one .pricing-item-two,
  .dark-version.home-one .slick-arrow:hover,
  .dark-version.home-one .contact-area-form,
  .dark-version.home-one .cta-item .details-btn:hover,
  .dark-version.home-one .widget_newsletter form input,
  .dark-version.home-one .feature-item-five:not(:hover),
  .dark-version.home-one .social-style-two a:not(:hover) { background: var(--color-text); }
.dark-version.home-one .count-text,
  .dark-version.home-one .slick-arrow,
  .dark-version.home-one .form-control,
  .dark-version.home-one .pricing-item-two .save,
  .dark-version.home-one .pricing-item-two .save span,
  .dark-version.home-one .widget_newsletter form input,
  .dark-version.home-one .testimonial-item-two .designation { color: white; }
.dark-version.home-one .slick-arrow:hover,
  .dark-version.home-one .social-style-two a:not(:hover) { -webkit-box-shadow: 10px 0 60px rgba(140, 140, 140, 0.3);
    box-shadow: 10px 0 60px rgba(140, 140, 140, 0.3); }
@media (min-width:1200px) {
  .h2,h2 { font-size:2rem }
  .h4,h4 { font-size:1.5rem }
  .container,.container-lg,.container-md,.container-sm,.container-xl { max-width:1140px }
  .col-xl-5 { flex:0 0 auto;width:41.66666667% }
  .col-xl-7 { flex:0 0 auto;width:58.33333333% }
}
@media (min-width:576px) {
  .container,.container-sm { max-width:540px }
}
@media (min-width:768px) {
  .container,.container-md,.container-sm { max-width:720px }
}
@media (min-width:992px) {
  .container,.container-lg,.container-md,.container-sm { max-width:960px }
  .col-lg-6 { flex:0 0 auto;width:50% }
}
@media (min-width:1400px) {
  .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl { max-width:1320px }
}
@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px) {
  .mfp-img-mobile img.mfp-img { padding:0 }
}
@media only screen and (min-width: 992px) {
  .feature-right > .row > div:first-child .service-item { margin-right: 0px;
        margin-left: 30px; }
  .feature-left > .row > div:first-child .service-item { margin-left: 0px;
        margin-right: 30px; }
  .feature-right > .row > div:last-child .service-item { margin-left: 0;
        margin-right: 30px; }
  .feature-left > .row > div:last-child .service-item { margin-right: 0px;
        margin-left: 30px; }
  .main-header.header-two .main-menu .navigation > li > a,
    .main-header.header-two .main-menu .navigation > .dropdown > .dropdown-btn { color: white; }
  .feature-left > .row > div:first-child .service-item { margin-left: 30px; }
  .feature-left > .row > div:last-child .service-item { margin-right: 30px; }
  .feature-right > .row > div:first-child .service-item { margin-right: 30px; }
  .feature-right > .row > div:last-child .service-item { margin-left: 30px; }
}
@media only screen and (min-width: 1200px) {
  .container { max-width: 1320px;
    padding-left: 15px;
    padding-right: 15px; }
  .main-header .container { max-width: 1555px; }
  .our-location-address-area .container { max-width: 1140px; }
}
@media only screen and (min-width: 1400px) {
  .medium-gap > div { padding-left: 32.5px;
      padding-right: 32.5px; }
  .large-gap > div { padding-left: 50px;
      padding-right: 50px; }
  .cta-item h4 { font-size: 28px; }
}
@media only screen and (max-width: 767px) {
  .section-title h2 { font-size: 35px; }
}
@media only screen and (max-width: 479px) {
  .section-title h2 { font-size: 30px;
        line-height: 1.3; }
  .about-image .years-fo-experience { max-width: 290px;
        padding: 20px 30px; }
  .about-image .years-fo-experience h4 { font-size: 20px; }
  .client-satisfactions { -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .blog-list-item .blog-content h4 { font-size: 20px;
          line-height: 1.65; }
  blockquote h4 { font-size: 20px; }
}
@media only screen and (min-width: 576px) {
  .theme-btn.style-three,
      a.theme-btn.style-three { padding-top: 10px;
        padding-bottom: 10px; }
  .feature-item-eight a h4 { max-width: 290px; }
  .service-item-six h4 { font-size: 26px; }
  .blog-list-item .blog-content h4 { font-size: 27px; }
}
@media only screen and (max-width: 575px) {
  .theme-btn,
    a.theme-btn { padding: 9px 25px; }
  .feature-item-eight a { display: block; }
  .feature-item-eight a .image { display: block;
          margin-bottom: 20px; }
  .feature-item-eight a .icon { position: absolute;
          top: 30px;
          right: 0; }
  .work-process-item .icon i { width: 80px;
          height: 80px;
          font-size: 35px;
          line-height: 80px; }
  .blog-item .image img { width: 100%; }
  .product-information-tab li a { padding: 6px 30px; }
}
@media only screen and (min-width: 768px) {
  .home-two h2 { font-size: 42px; }
  .hero-content .sub-title { font-size: 18px; }
  .hero-content-three p { font-size: 20px;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto; }
  .feature-item-eight a h4 { font-size: 27px; }
  .review-form .theme-btn { padding: 14px 55px; }
}
@media only screen and (max-width: 991px) {
  .rmb-65,
  .rmy-65 { margin-bottom: 65px; }
  .main-menu .navbar-collapse li a { padding: 10px 10px;
          line-height: 22px; }
  .main-menu .navbar-collapse li .megamenu .container { max-width: 100%; }
  .main-menu .navbar-collapse li .megamenu .row { margin: 0px; }
  .feature-item-four h4 { font-size: 20px; }
}
@media only screen and (max-width: 1199px) {
  .menu-btns .theme-btn { display: none; }
  .hero-content p { padding-left: 15px; }
  .marquee-item i { font-size: 25px;
        margin-right: 15px; }
}
@media only screen and (max-width: 375px) {
  .hero-content p { line-height: 1.5; }
  .hero-content-three .hero-btns .theme-btn:not(:last-child) { margin-right: 0; }
  .about-image .years-fo-experience h4 { font-size: 16px; }
  .feature-item-three > i { margin: 0 0 15px 0;
        display: inline-block; }
  .feature-item-four h4 i { font-size: 45px;
          margin-right: 15px; }
  .feature-item-eight a h4 { font-size: 20px; }
  .service-item-six h4 { font-size: 22px; }
  .project-item.style-two .project-content h4 { font-size: 20px;
        line-height: 1.5; }
  .project-gallery-item .content .text h4 { font-size: 20px; }
  .feedback-item .author-logo > i { width: 45px;
          height: 45px;
          line-height: 45px; }
  .feedback-item h4 { font-size: 20px; }
  .feedback-item .feedback-author img { margin-bottom: 10px; }
  .testimonial-four-active .feedback-author img { width: 50px;
          height: 50px;
          margin-right: 15px; }
  .blog-item .content h4 { font-size: 20px; }
  .blog-list-item .blog-content h4 { font-size: 16px; }
  .blog-four-item h4 { font-size: 22px; }
  blockquote h4 { font-size: 18px; }
  .product-information-tab li a { font-size: 16px;
      padding: 5px 20px; }
  .footer-top-newsletter h2 { font-size: 26px; }
}
@media only screen and (min-width: 480px) {
  .about-image .years-fo-experience .count-text { font-size: 65px; }
  .project-creative-item .content .section-title .sub-title { font-size: 30px;
            margin-left: -30px; }
  .blog-four-item h4 { font-size: 27px; }
}
@media only screen and (min-width: 376px) {
  .client-satisfactions .count-text { font-size: 55px; }
  .about-content-one .list-style-one li p { font-size: 18px; }
  .support-features-content p { font-size: 18px; }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-item .content h4 { font-size: 20px; }
  .video-content h2 { font-size: 35px; }
}
</style>
<section class="about-area py-130 rel z-1">
            <div class="container">
                <div data-animate="stagger" class="row align-items-center">
                    <div class="col-xl-7 col-lg-6">
                        <div class="about-image rmb-65 wow fadeInUp delay-0-2s">
                            <img data-animate="scale-in" data-delay="0.3" src="{{ABOUT_IMAGE_URL}}" alt="{{ABOUT_IMAGE_ALT}}">
                            <div class="years-fo-experience bgc-primary bgs-cover counter-text-wrap" style="background-image: url(assets/images/about/years-fo-experience-bg.png);">
                                <span class="count-text" data-speed="3000" data-stop="36">0</span>
                                <h4 data-animate="fade-up">Years of experience in web design solutions</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6">
                        <div class="about-content wow fadeInUp delay-0-4s">
                            <div class="section-title mb-30">
                                <span class="sub-title mb-15">About digital solutions</span>
                                <h2 data-animate="text-split" data-split-type="words">{{ABOUT_TITLE}}</h2>
                            </div>
                            <p data-animate="blur-slide" data-delay="0.2">{{ABOUT_TEXT}}</p>
                            <div class="client-satisfactions counter-text-wrap pt-10 pb-10">
                                <img data-animate="scale-in" data-delay="0.3" src="{{ABOUT_IMAGE_URL_2}}" alt="{{ABOUT_IMAGE_ALT_2}}">
                                <span class="count-text" data-speed="3000" data-stop="3658">0</span>
                                <span class="heading">Clients Satisfactions</span>
                            </div>
                            <a data-animate="magnetic" href="about.html" class="theme-btn mt-15">Learn More About Us <i class="fas fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </div>
</section>
