<!-- Component: about-dinex-01 -->
<!-- Tags: restaurant, modern -->
<section id="about" id="about" class="section-all bg-light" data-animate="fade-up">
            <!-- divider start -->
            <div class="divider-xl"></div>
            <!-- divider end -->
            <!-- container start -->
            <div class="container">
                <div class="extra-margin-container">
                    <!-- row start -->
                    <div data-animate="stagger" class="row">
                        <!-- col start -->
                        <div class="col-lg-12">
                            <!-- section subtitle start -->
                            <div class="section-title section-title-dark">
                                <h2 data-animate="text-split" data-split-type="words" class="section-title-line section-title-line-dark">{{ABOUT_TITLE}}</h2>
                            </div>
                            <!-- section subtitle end -->
                            <!-- divider start -->
                            <div class="divider-m"></div>
                            <!-- divider end -->
                            <!-- section title start -->
                            <h2 data-animate="text-split" data-split-type="words" class="hero-heading hero-heading-dark">{{ABOUT_TITLE_2}}</h2>
                            <!-- section title end -->
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div data-animate="stagger" class="row">
                        <!-- col start -->
                        <div class="col-lg-12">
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                            <!-- line start -->
                            <div class="the-line"></div>
                            <!-- line end -->
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                    <!-- row start -->
                    <div data-animate="stagger" class="row">
                        <!-- col start -->
                        <div class="col-lg-12">
                            <!-- quote start -->
                            <div class="testimonial">
                                <div class="inner">
                                    <div class="quote">
                                        <blockquote class="quote-inner">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                            standard dummy text ever since the 1500s.
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!-- quote end -->
                            <!-- divider start -->
                            <div class="divider-l"></div>
                            <!-- divider end -->
                            <!-- section txt start -->
                            <div class="txt">
                                <p data-animate="blur-slide" data-delay="0.2">{{ABOUT_TEXT}}</p>
                            </div>
                            <!-- section txt end -->
                        </div>
                        <!-- col end -->
                    </div>
                    <!-- row end -->
                </div>
            </div>
            <!-- container end -->
            <!-- divider start -->
            <div class="divider-xl"></div>
            <!-- divider end -->
            <!-- halve about start -->
            <div class="halves-about">
                <!-- halve about IMG start -->
                <div class="half-about-1 about-bg-1">
                    <a class="popup-photo" href="img/about/1.jpg" title="IMG Description">
                    <span class="caption-right">Image Description</span>
                    </a>
                </div>
                <!-- halve about IMG end -->
                <!-- halve about IMG start -->
                <div class="half-about-2 about-bg-2">
                    <a class="popup-photo" href="img/about/2.jpg" title="IMG Description">
                    <span class="caption-right">Image Description</span>
                    </a>
                </div>
                <!-- halve about IMG end -->
            </div>
            <!-- halve about end -->
            <!-- row start -->
            <div data-animate="stagger" class="row">
                <!-- col start -->
                <div class="col-lg-12">
                    <!-- intro start -->
                    <div class="intro-years">
                        <!-- divider start -->
                        <div class="divider-xl divider-xl-2"></div>
                        <!-- divider end -->
                        <!-- line start -->
                        <div class="the-line"></div>
                        <!-- line end -->
                        <!-- divider start -->
                        <div class="divider-m"></div>
                        <!-- divider end -->
                        <!-- page subtitle start -->
                        <h2 data-animate="text-split" data-split-type="words">{{ABOUT_TITLE_3}}</h2>
                        <!-- page subtitle end -->
                        <!-- divider start -->
                        <div class="divider-m"></div>
                        <!-- divider end -->
                        <!-- page title start -->
                        <h3 data-animate="fade-up" class="facts-counter-number">{{ABOUT_SUBTITLE}}</h3>
                        <!-- page title end -->
                        <!-- divider start -->
                        <div class="divider-m"></div>
                        <!-- divider end -->
                        <!-- page subtitle start -->
                        <h4 data-animate="fade-up">
                            Years
                        </h4>
                        <!-- page subtitle end -->
                    </div>
                    <!-- intro end -->
                    <!-- divider start -->
                    <div class="divider-m"></div>
                    <!-- divider end -->
                    <!-- line start -->
                    <div class="the-line"></div>
                    <!-- line end -->
                </div>
                <!-- col end -->
            </div>
            <!-- row end -->
        </section>
