<!-- Component: nav-dinex-01 -->
<!-- Tags: restaurant, modern -->
<section id="nav" id="header" class="fadeIn-element" data-animate="fade-up">
            <!-- navigation start -->
            <nav class="navbar navbar-fixed-top navbar-bg-switch">
                <div class="container-fluid">
                    <div class="main-navigation">
                        <div class="navbar-header">
                            <!-- navigation button start -->
                            <button aria-expanded="false" class="navbar-toggle collapsed" data-target="#navbar-collapse" data-toggle="collapse" type="button"><span class="sr-only">Toggle
                            navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                            <!-- navigation button end -->
                            <!-- logo mobile start -->
                            <a class="navbar-brand hidden-sm hidden-md hidden-lg logo active" href="#">
                                <!-- logo light start -->
                                <img data-animate="scale-in" data-delay="0.3" alt="{{NAV_IMAGE_ALT}}" class="logo-light" src="{{NAV_IMAGE_URL}}">
                                <!-- logo light end -->
                                <!-- logo dark start -->
                                <img data-animate="scale-in" data-delay="0.3" alt="{{NAV_IMAGE_ALT_2}}" class="logo-dark" src="{{NAV_IMAGE_URL_2}}">
                                <!-- logo dark end -->
                            </a>
                            <!-- logo mobile end -->
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <!-- menu start -->
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#about">About</a>
                                </li>
                                <li>
                                    <a href="#works">Menu</a>
                                </li>
                                <li class="hidden-xs">
                                    <!-- logo desktop start -->
                                    <a class="logo" href="#">
                                        <!-- logo light start -->
                                        <img data-animate="scale-in" data-delay="0.3" alt="{{NAV_IMAGE_ALT_3}}" class="logo-light" src="{{NAV_IMAGE_URL_3}}">
                                        <!-- logo light end -->
                                        <!-- logo dark start -->
                                        <img data-animate="scale-in" data-delay="0.3" alt="{{NAV_IMAGE_ALT_4}}" class="logo-dark" src="{{NAV_IMAGE_URL_4}}">
                                        <!-- logo dark end -->
                                    </a>
                                    <!-- logo desktop end -->
                                </li>
                                <li>
                                    <a href="#services">Services</a>
                                </li>
                                <li>
                                    <a href="#blog">News</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact</a>
                                </li>
                            </ul>
                            <!-- menu end -->
                        </div>
                    </div>
                </div>
            </nav>
            <!-- navigation end -->
        </section>
