<!-- Component: footer-dinex-01 -->
<!-- Tags: restaurant, modern -->
<section id="footer" id="footer" class="section-all bg-light" data-animate="fade-up">
            <!-- divider start -->
            <div class="divider-xl"></div>
            <!-- divider end -->
            <!-- container start -->
            <div class="container-fluid">
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- section subtitle start -->
                        <div class="section-title section-title-dark">
                            <h2 data-animate="text-split" data-split-type="words" class="section-title-line section-title-line-dark">{{FOOTER_TITLE}}</h2>
                        </div>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="divider-m"></div>
                        <!-- divider end -->
                        <!-- section title start -->
                        <h2 data-animate="text-split" data-split-type="words" class="hero-heading hero-heading-dark">{{FOOTER_TITLE_2}}</h2>
                        <!-- section title end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                        <!-- line start -->
                        <div class="the-line"></div>
                        <!-- line end -->
                        <!-- divider start -->
                        <div class="divider-l-2"></div>
                        <!-- divider end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- google maps wrapper start -->
                    <div id="google-maps-wrapper">
                        <!-- google maps start -->
                        <div class="google-maps">
                            <iframe src=
                                "https://maps.google.com/maps/ms?msa=0&amp;msid=211966962386664154949.0004e6fcf6a48ede4754f&amp;hl=en&amp;ie=UTF8&amp;t=m&amp;iwloc=0004e6fcfe81051738dcb&amp;ll=48.857981,2.293514&amp;spn=0,0&amp;z=10&amp;output=embed">
                            </iframe>
                        </div>
                        <!-- google maps end -->
                    </div>
                    <!-- google maps wrapper end -->
                </div>
                <!-- row end -->
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                        <!-- line start -->
                        <div class="the-line"></div>
                        <!-- line end -->
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <!-- row start -->
                <div data-animate="stagger" class="row footer-credits">
                    <!-- footer logo start -->
                    <div class="footer-credits-logo">
                        <a href="#"><img data-animate="scale-in" data-delay="0.3" alt="{{FOOTER_IMAGE_ALT}}" src="{{FOOTER_IMAGE_URL}}"></a>
                    </div>
                    <!-- footer logo end -->
                    <!-- divider start -->
                    <div class="divider-l"></div>
                    <!-- divider end -->
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- social icons start -->
                        <div class="social-icons">
                            <ul>
                                <li>
                                    <a class="ion-social-twitter" href="#"><span>Twitter</span></a>
                                </li>
                                <li>
                                    <a class="ion-social-facebook" href="#"><span>Facebook</span></a>
                                </li>
                                <li>
                                    <a class="ion-social-instagram" href="#"><span>Instagram</span></a>
                                </li>
                            </ul>
                        </div>
                        <!-- social icons end -->
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                    </div>
                    <!-- col end -->
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- copyright start -->
                        <div class="copyright">
                            &copy; All Rights Reserved.<br>
                            <a href="https://www.freepik.com/vectors/indian-menu">Indian menu vector created by pikisuperstar - www.freepik.com</a>
                        </div>
                        <!-- copyright end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                        <!-- line start -->
                        <div class="the-line"></div>
                        <!-- line end -->
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </section>
