<!-- Component: blog-dinex-01 -->
<!-- Tags: restaurant, modern, dark, slider -->
<section id="blog" id="blog" class="section-all bg-dark" data-animate="fade-up">
            <!-- divider start -->
            <div class="divider-xl"></div>
            <!-- divider end -->
            <!-- container start -->
            <div class="container">
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- section subtitle start -->
                        <div class="section-title section-title-dark">
                            <h2 data-animate="text-split" data-split-type="words" class="section-title-line section-title-line-dark">{{BLOG_TITLE}}</h2>
                        </div>
                        <!-- section subtitle end -->
                        <!-- divider start -->
                        <div class="divider-m"></div>
                        <!-- divider end -->
                        <!-- section title start -->
                        <h2 data-animate="text-split" data-split-type="words" class="hero-heading hero-heading-dark">{{BLOG_TITLE_2}}</h2>
                        <!-- section title end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                        <!-- line start -->
                        <div class="the-line"></div>
                        <!-- line end -->
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
            <!-- container start -->
            <div class="container-fluid nopadding">
                <!-- carousel start -->
                <div class="owl-carousel owl-carousel-news">
                    <!-- halve start -->
                    <div class="halves">
                        <!-- halve IMG start -->
                        <div class="half news-bg-all news-bg-1"></div>
                        <!-- halve IMG end -->
                        <!-- halve TXT start -->
                        <div class="half half-color">
                            <!-- row start -->
                            <div data-animate="stagger" class="row news-txt">
                                <!-- col start -->
                                <div class="col-md-12">
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- section subtitle start -->
                                    <div class="blog-tag">May 1, 2022</div>
                                    <!-- section subtitle end -->
                                    <!-- divider start -->
                                    <div class="divider-m"></div>
                                    <!-- divider end -->
                                    <!-- section title start -->
                                    <h2 data-animate="text-split" data-split-type="words">{{BLOG_TITLE_3}}</h2>
                                    <!-- section title end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- section txt start -->
                                    <p data-animate="blur-slide" data-delay="0.2">{{BLOG_SUBTITLE}}</p>
                                    <!-- section txt end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- button start -->
                                    <div class="more-wraper-center" data-toggle="modal" data-target="#newsModal-1">
                                        <div class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle"></div>
                                        <div class="more-button-txt-center more-button-txt-center-close">
                                            <span>Read More</span>
                                        </div>
                                    </div>
                                    <!-- button end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                </div>
                                <!-- col end -->
                            </div>
                            <!-- row end -->
                        </div>
                        <!-- halve TXT end -->
                    </div>
                    <!-- halve end -->
                    <!-- halve start -->
                    <div class="halves">
                        <!-- halve TXT start -->
                        <div class="half half-color">
                            <!-- row start -->
                            <div data-animate="stagger" class="row news-txt">
                                <!-- col start -->
                                <div class="col-md-12">
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- section subtitle start -->
                                    <div class="blog-tag">May 2, 2022</div>
                                    <!-- section subtitle end -->
                                    <!-- divider start -->
                                    <div class="divider-m"></div>
                                    <!-- divider end -->
                                    <!-- section title start -->
                                    <h2 data-animate="text-split" data-split-type="words">{{BLOG_TITLE_4}}</h2>
                                    <!-- section title end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- section txt start -->
                                    <p data-animate="blur-slide" data-delay="0.2">{{BLOG_TEXT}}</p>
                                    <!-- section txt end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- button start -->
                                    <div class="more-wraper-center" data-toggle="modal" data-target="#newsModal-2">
                                        <div class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle"></div>
                                        <div class="more-button-txt-center more-button-txt-center-close">
                                            <span>Read More</span>
                                        </div>
                                    </div>
                                    <!-- button end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                </div>
                                <!-- col end -->
                            </div>
                            <!-- row end -->
                        </div>
                        <!-- halve TXT end -->
                        <!-- halve IMG start -->
                        <div class="half news-bg-all news-bg-2"></div>
                        <!-- halve IMG end -->
                    </div>
                    <!-- halve end -->
                    <!-- halve start -->
                    <div class="halves">
                        <!-- halve IMG start -->
                        <div class="half news-bg-all news-bg-3"></div>
                        <!-- halve IMG end -->
                        <!-- halve TXT start -->
                        <div class="half half-color">
                            <!-- row start -->
                            <div data-animate="stagger" class="row news-txt">
                                <!-- col start -->
                                <div class="col-md-12">
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- section subtitle start -->
                                    <div class="blog-tag">May 3, 2022</div>
                                    <!-- section subtitle end -->
                                    <!-- divider start -->
                                    <div class="divider-m"></div>
                                    <!-- divider end -->
                                    <!-- section title start -->
                                    <h2 data-animate="text-split" data-split-type="words">{{BLOG_TITLE_5}}</h2>
                                    <!-- section title end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- section txt start -->
                                    <p data-animate="blur-slide" data-delay="0.2">{{BLOG_TEXT_2}}</p>
                                    <!-- section txt end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- button start -->
                                    <div class="more-wraper-center" data-toggle="modal" data-target="#newsModal-3">
                                        <div class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle"></div>
                                        <div class="more-button-txt-center more-button-txt-center-close">
                                            <span>Read More</span>
                                        </div>
                                    </div>
                                    <!-- button end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                </div>
                                <!-- col end -->
                            </div>
                            <!-- row end -->
                        </div>
                        <!-- halve TXT end -->
                    </div>
                    <!-- halve end -->
                    <!-- halve start -->
                    <div class="halves">
                        <!-- halve TXT start -->
                        <div class="half half-color">
                            <!-- row start -->
                            <div data-animate="stagger" class="row news-txt">
                                <!-- col start -->
                                <div class="col-md-12">
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- section subtitle start -->
                                    <div class="blog-tag">May 4, 2022</div>
                                    <!-- section subtitle end -->
                                    <!-- divider start -->
                                    <div class="divider-m"></div>
                                    <!-- divider end -->
                                    <!-- section title start -->
                                    <h2 data-animate="text-split" data-split-type="words">{{BLOG_TITLE_6}}</h2>
                                    <!-- section title end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- section txt start -->
                                    <p data-animate="blur-slide" data-delay="0.2">{{BLOG_TEXT_3}}</p>
                                    <!-- section txt end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                    <!-- button start -->
                                    <div class="more-wraper-center" data-toggle="modal" data-target="#newsModal-4">
                                        <div class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle"></div>
                                        <div class="more-button-txt-center more-button-txt-center-close">
                                            <span>Read More</span>
                                        </div>
                                    </div>
                                    <!-- button end -->
                                    <!-- divider start -->
                                    <div class="divider-l"></div>
                                    <!-- divider end -->
                                </div>
                                <!-- col end -->
                            </div>
                            <!-- row end -->
                        </div>
                        <!-- halve TXT end -->
                        <!-- halve IMG start -->
                        <div class="half news-bg-all news-bg-4"></div>
                        <!-- halve IMG end -->
                    </div>
                    <!-- halve end -->
                </div>
                <!-- carousel end -->
                <!-- divider start -->
                <div class="divider-l"></div>
                <!-- divider end -->
                <!-- owl nav start -->
                <div class="owl-nav owl-nav-custom-news"></div>
                <!-- owl nav end -->
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- divider start -->
                        <div class="divider-xl"></div>
                        <!-- divider end -->
                        <!-- line start -->
                        <div class="the-line"></div>
                        <!-- line end -->
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
                <!-- button start -->
                <div class="more-wraper-center">
                    <a href="blog.html">
                        <div class="more-button-bg-center more-button-bg-center-dark more-button-bg-center-dark-close more-button-circle">
                        </div>
                        <div class="more-button-txt-center more-button-txt-center-close">
                            <span>All entries</span>
                        </div>
                    </a>
                </div>
                <!-- button end -->
                <!-- row start -->
                <div data-animate="stagger" class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- divider start -->
                        <div class="divider-l"></div>
                        <!-- divider end -->
                        <!-- line start -->
                        <div class="the-line"></div>
                        <!-- line end -->
                        <!-- divider start -->
                        <div class="divider-xl"></div>
                        <!-- divider end -->
                    </div>
                    <!-- col end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </section>
