<!-- Component: gallery-spamagic-01 -->
<!-- Tags: cards -->
<section id="i-pages" class="inner-pages division" data-animate="fade-up">
				<div class="container">

					<!-- SECTION TITLE -->
					<div data-animate="stagger" class="row">
						<div class="col-lg-10 mr-auto ml-auto">
							<div class="section-title">
								<h2 data-animate="text-split" data-split-type="words" class="tra-header">{{GALLERY_TITLE}}</h2>
								<h3 data-animate="fade-up">{{GALLERY_SUBTITLE}}</h3>
								<p data-animate="blur-slide" data-delay="0.2">{{GALLERY_SUBTITLE_2}}</p>
							</div>
						</div>
					</div>

					<div data-animate="stagger" class="row">

						<!-- ABOUT -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/about.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL}}" alt="{{GALLERY_IMAGE_ALT}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">About Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- SERVICES -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/services.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_2}}" alt="{{GALLERY_IMAGE_ALT_2}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Services Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- SERVICE DETAILS -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/service-details.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_3}}" alt="{{GALLERY_IMAGE_ALT_3}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Service Details</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- PRICING -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/pricing.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_4}}" alt="{{GALLERY_IMAGE_ALT_4}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Pricing Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- GALLERY -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/gallery.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_5}}" alt="{{GALLERY_IMAGE_ALT_5}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Gallery Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- GIFT CARDS -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/gift-cards.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_6}}" alt="{{GALLERY_IMAGE_ALT_6}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Gift Cards Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- TEAM -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/team.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_7}}" alt="{{GALLERY_IMAGE_ALT_7}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Team Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- FAQs -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/faqs.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_8}}" alt="{{GALLERY_IMAGE_ALT_8}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">FAQs Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- BOOKING -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/booking.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_9}}" alt="{{GALLERY_IMAGE_ALT_9}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Booking Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- BLOG CLASSIC -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/blog-classic.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_10}}" alt="{{GALLERY_IMAGE_ALT_10}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Blog Classic</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>

						</div>

						<!-- BLOG MASONRY -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/blog-masonry.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_11}}" alt="{{GALLERY_IMAGE_ALT_11}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Blog Masonry</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- BLOG SIDEBAR -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/blog-sidebar.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_12}}" alt="{{GALLERY_IMAGE_ALT_12}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Blog Sidebar</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- SINGLE POST -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/single-post.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_13}}" alt="{{GALLERY_IMAGE_ALT_13}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Single Post Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>

						</div>

						<!-- CONTACTS -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/contacts.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_14}}" alt="{{GALLERY_IMAGE_ALT_14}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Contacts Page</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

						<!-- TERMS -->
						<div class="col-md-6 col-lg-4 select_link wow fadeInUp">
							<div class="select-item">
								<div class="hover-overlay">
									<a href="files/terms.html" title="" target="_blank">
										<img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{GALLERY_IMAGE_URL_15}}" alt="{{GALLERY_IMAGE_ALT_15}}" />
										<div class="item-overlay"></div>
										<div class="image-description white-color">
											<div class="image-data">
												<h5 class="h5-sm">Terms & Privacy</h5>
												<h6>Launch Demo</h6>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>

					</div>	   <!-- End row -->
				</div>	    <!-- End container -->
			</section>
