<!-- Component: gallery-dinex-01 -->
<!-- Tags: restaurant, modern, slider -->
<section id="gallery" class="owl-carousel owl-carousel-inside popup-photo-gallery" data-animate="fade-up">
                            <!-- section item start -->
                            <div class="post-box hover-effect-img">
                                <div class="hover-icons">
                                    <a class="ion-plus popup-photo-gallery-open" href="img/inside/1.jpg" title="IMG Description"></a>
                                </div>
                                <!-- circle wrapper start -->
                                <div class="circle-wrapper-full">
                                    <div class="carousel-item-all carousel-item-inside-01"></div>
                                </div>
                                <!-- circle wrapper end -->
                                <div class="hover-effect the-team"></div>
                            </div>
                            <!-- section item end -->
                            <!-- section item start -->
                            <div class="post-box hover-effect-img">
                                <div class="hover-icons">
                                    <a class="ion-plus popup-photo-gallery-open" href="img/inside/2.jpg" title="IMG Description"></a>
                                </div>
                                <!-- circle wrapper start -->
                                <div class="circle-wrapper-full">
                                    <div class="carousel-item-all carousel-item-inside-02"></div>
                                </div>
                                <!-- circle wrapper end -->
                                <div class="hover-effect the-team"></div>
                            </div>
                            <!-- section item end -->
                            <!-- section item start -->
                            <div class="post-box hover-effect-img">
                                <div class="hover-icons">
                                    <a class="ion-plus popup-photo-gallery-open" href="img/inside/3.jpg" title="IMG Description"></a>
                                </div>
                                <!-- circle wrapper start -->
                                <div class="circle-wrapper-full">
                                    <div class="carousel-item-all carousel-item-inside-03"></div>
                                </div>
                                <!-- circle wrapper end -->
                                <div class="hover-effect the-team"></div>
                            </div>
                            <!-- section item end -->
                            <!-- section item start -->
                            <div class="post-box hover-effect-img">
                                <div class="hover-icons">
                                    <a class="ion-plus popup-photo-gallery-open" href="img/inside/4.jpg" title="IMG Description"></a>
                                </div>
                                <!-- circle wrapper start -->
                                <div class="circle-wrapper-full">
                                    <div class="carousel-item-all carousel-item-inside-04"></div>
                                </div>
                                <!-- circle wrapper end -->
                                <div class="hover-effect the-team"></div>
                            </div>
                            <!-- section item end -->
                            <!-- section item start -->
                            <div class="post-box hover-effect-img">
                                <div class="hover-icons">
                                    <a class="ion-plus popup-photo-gallery-open" href="img/inside/5.jpg" title="IMG Description"></a>
                                </div>
                                <!-- circle wrapper start -->
                                <div class="circle-wrapper-full">
                                    <div class="carousel-item-all carousel-item-inside-05"></div>
                                </div>
                                <!-- circle wrapper end -->
                                <div class="hover-effect the-team"></div>
                            </div>
                            <!-- section item end -->
                        </section>
