<!-- Component: features-tomato-01 -->
<!-- Tags: restaurant -->
<section id="features" class="py-24 px-6" style="background: var(--color-bg)" data-animate="fade-up">
  <div class="max-w-7xl mx-auto">
<style>
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary { display:block }
h1 { margin:.67em 0;font-size:2em }
small { font-size:80% }
img { border:0 }
img { vertical-align:middle }
.img-responsive,.thumbnail>img,.thumbnail a>img,.carousel-inner>.item>img,.carousel-inner>.item>a>img { display:block;max-width:100%;height:auto }
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-family:inherit;font-weight:500;line-height:1.1;color:inherit }
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small,h1 .small,h2 .small,h3 .small,h4 .small,h5 .small,h6 .small,.h1 .small,.h2 .small,.h3 .small,.h4 .small,.h5 .small,.h6 .small { font-weight:400;line-height:1;color:var(--color-text-muted) }
h1,.h1,h2,.h2,h3,.h3 { margin-top:20px;margin-bottom:10px }
h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h1 .small,.h1 .small,h2 .small,.h2 .small,h3 .small,.h3 .small { font-size:65% }
h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,h4 .small,.h4 .small,h5 .small,.h5 .small,h6 .small,.h6 .small { font-size:75% }
h1,.h1 { font-size:36px }
p { margin:0 0 10px }
small,.small { font-size:85% }
.page-header { padding-bottom:9px;margin:40px 0 20px;border-bottom:1px solid var(--color-bg-alt) }
blockquote p:last-child,blockquote ul:last-child,blockquote ol:last-child { margin-bottom:0 }
blockquote footer,blockquote small,blockquote .small { display:block;font-size:80%;line-height:1.42857143;color:var(--color-text-muted) }
blockquote footer:before,blockquote small:before,blockquote .small:before { content:'\2014 \00A0' }
.blockquote-reverse footer:before,blockquote.pull-right footer:before,.blockquote-reverse small:before,blockquote.pull-right small:before,.blockquote-reverse .small:before,blockquote.pull-right .small:before { content:'' }
.blockquote-reverse footer:after,blockquote.pull-right footer:after,.blockquote-reverse small:after,blockquote.pull-right small:after,.blockquote-reverse .small:after,blockquote.pull-right .small:after { content:'\00A0 \2014' }
.container { padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto }
.row { margin-right:-15px;margin-left:-15px }
.col-xs-1,.col-sm-1,.col-md-1,.col-lg-1,.col-xs-2,.col-sm-2,.col-md-2,.col-lg-2,.col-xs-3,.col-sm-3,.col-md-3,.col-lg-3,.col-xs-4,.col-sm-4,.col-md-4,.col-lg-4,.col-xs-5,.col-sm-5,.col-md-5,.col-lg-5,.col-xs-6,.col-sm-6,.col-md-6,.col-lg-6,.col-xs-7,.col-sm-7,.col-md-7,.col-lg-7,.col-xs-8,.col-sm-8,.col-md-8,.col-lg-8,.col-xs-9,.col-sm-9,.col-md-9,.col-lg-9,.col-xs-10,.col-sm-10,.col-md-10,.col-lg-10,.col-xs-11,.col-sm-11,.col-md-11,.col-lg-11,.col-xs-12,.col-sm-12,.col-md-12,.col-lg-12 { position:relative;min-height:1px;padding-right:15px;padding-left:15px }
.nav>li>a>img { max-width:none }
.container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse { margin-right:-15px;margin-left:-15px }
.navbar-brand>img { display:block }
.jumbotron h1,.jumbotron .h1 { color:inherit }
.jumbotron p { margin-bottom:15px;font-size:21px;font-weight:200 }
.container .jumbotron,.container-fluid .jumbotron { border-radius:6px }
.jumbotron .container { max-width:100% }
.thumbnail>img,.thumbnail a>img { margin-right:auto;margin-left:auto }
.alert>p,.alert>ul { margin-bottom:0 }
.alert>p+p { margin-top:5px }
.list-group-item.active .list-group-item-heading,.list-group-item.active:hover .list-group-item-heading,.list-group-item.active:focus .list-group-item-heading,.list-group-item.active .list-group-item-heading>small,.list-group-item.active:hover .list-group-item-heading>small,.list-group-item.active:focus .list-group-item-heading>small,.list-group-item.active .list-group-item-heading>.small,.list-group-item.active:hover .list-group-item-heading>.small,.list-group-item.active:focus .list-group-item-heading>.small { color:inherit }
.carousel-inner>.item>img,.carousel-inner>.item>a>img { line-height:1 }
.clearfix:before,.clearfix:after,.dl-horizontal dd:before,.dl-horizontal dd:after,.container:before,.container:after,.container-fluid:before,.container-fluid:after,.row:before,.row:after,.form-horizontal .form-group:before,.form-horizontal .form-group:after,.btn-toolbar:before,.btn-toolbar:after,.btn-group-vertical>.btn-group:before,.btn-group-vertical>.btn-group:after,.nav:before,.nav:after,.navbar:before,.navbar:after,.navbar-header:before,.navbar-header:after,.navbar-collapse:before,.navbar-collapse:after,.pager:before,.pager:after,.panel-body:before,.panel-body:after,.modal-footer:before,.modal-footer:after { display:table;content:" " }
.clearfix:after,.dl-horizontal dd:after,.container:after,.container-fluid:after,.row:after,.form-horizontal .form-group:after,.btn-toolbar:after,.btn-group-vertical>.btn-group:after,.nav:after,.navbar:after,.navbar-header:after,.navbar-collapse:after,.pager:after,.panel-body:after,.modal-footer:after { clear:both }
.visible-xs,.visible-sm,.visible-md,.visible-lg { display:none!important }
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 { font-family: var(--font-heading);
    text-transform: uppercase;
    color: var(--color-text-muted);
    text-align: center;
    font-weight: 800; }
.small,
small { font-family: var(--font-heading);
    font-weight: 700;
    display: block !important;
    text-transform: none;
    text-align: center;
    margin: 10px 0px 15px 0px; }
.white { color: var(--color-bg); }
.white .small,
.white small { color: var(--color-bg-alt); }
.page-header { border: none;
    margin: 80px 0 40px; }
.page-header:after { content: "";
    display: block;
    position: relative;
    height: 3px;
    width: 113px;
    background-color: var(--color-primary);
    margin: 0px auto; }
p { font-family: var(--font-body);
    color: var(--color-text-muted);
    font-size: 22px; }
.footer .container { padding-bottom: 44px; }
.footer-copyrights .container { padding-bottom: 0px; }
.footer h1 { color: var(--color-primary);
    font-size: 18px;
    text-align: left;
    margin: 60px 0px 26px; }
.footer p { color: var(--color-bg);
    font-size: 18px; }
.footer-address p { color: var(--color-border);
    font-size: 17px; }
.contact-info p { color: var(--color-text-muted);
    font-size: 18px; }
.footer .footer-blog img { float: left;
    margin-right: 15px; }
.footer .footer-copyrights p { margin: 30px 0px;
    color: var(--color-border);
    font-size: 16px; }
.preloder img { width: 100%;
    height: 100%; }
.home .tittle-block h1 { color: var(--color-bg);
    font-size: 72px; }
.special img { width: 100%;
    height: auto; }
.special-slider .slider-content .page-header { margin: 20px 0px 10px; }
.special-slider .slider-content .page-header h1 { font-size: 30px;
    text-align: left;
    text-transform: none;
    font-weight: 700; }
.special-slider .slider-content .page-header h1 small { font-size: 22px;
    text-align: left;
    line-height: 1.2em;
    color: #aaa; }
.special-slider .slider-content p { font-size: 21px;
    margin-bottom: 0px; }
.special-slider .page-header:after { content: "";
    display: block;
    position: relative;
    height: 3px;
    width: 113px;
    background-color: var(--color-primary);
    margin: 0px; }
.reservation-footer p { margin-bottom: 20px; }
.features { background: url(../img/bg4.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 50px; }
.features img { width: 100%;
    height: auto; }
.features .features-tile { background-color: var(--color-bg);
    margin-bottom: 30px; }
.features .features-tile .features-content { padding: 5px 25px 10px; }
.features .features-tile .features-content .page-header { margin: 20px 0 10px; }
.features .features-tile .features-content .page-header h1 { font-size: 25px;
    text-align: left; }
.features .features-tile .features-content .page-header h1 small { font-size: 18px;
    text-align: left; }
.features .features-tile .features-content .page-header:after { content: "";
    display: block;
    position: relative;
    height: 3px;
    width: 113px;
    background-color: var(--color-primary);
    margin: 0px; }
.menu .food-menu .menu-item p,
.menu .food-menu .menu-item3 p { font-size: 18px; }
.trusted .page-header { margin: 30px 0px 20px; }
.trusted-quote img { padding-bottom: 20px;
    margin: 0px auto; }
.subscribe h1 { font-weight: 300;
    text-align: left;
    margin: 0px;
    float: left;
    line-height: 45px;
    font-size: 45px; }
.subscribe p { float: left;
    margin: 5px 0px 0px 40px;
    line-height: 35px; }
#instafeed .owl-carousel .owl-item img { width: 150px;
    height: 150px; }
.page_header p { margin: 15px 0;
    font-size: 24px;
    font-family: var(--font-body);
    color: var(--color-bg);
    opacity: 0.7; }
.about2 p { font-size: 20px;
    line-height: 32px;
    padding-right: 44px;
    margin: 0 0 25px; }
.service-content p { color: var(--color-text-muted);
    font-size: 18px;
    line-height: 32px;
    padding: 0 65px;
    margin: 0; }
.team-staff p { color: var(--color-text);
    font-size: 18px;
    margin: 0px; }
.menu2-overlay p { color: var(--color-bg);
    font-size: 19px;
    line-height: 24px; }
.menu-item3 img { width: 83px;
    float: left; }
.menu-items3 p { float: left; }
.menu4-overlay p { color: var(--color-text-muted);
    font-size: 18px;
    line-height: 24px; }
.recipie-content img { float: left;
    width: 254px; }
.rc-info p { font-size: 17px;
    line-height: 32px;
    color: var(--color-text-muted);
    padding-right: 29px; }
.recipie-content .col-md-4 img,
.recipie-content .col-md-3 img { width: 100%;
    float: none;
    margin-bottom: 20px; }
.recipie-content .col-md-4 .rc-info,
.recipie-content .col-md-3 .rc-info { margin-left: 0px; }
.recipie-item img { width: 100%;
    float: none;
    margin-bottom: 20px; }
.recipie-item .rc-info p { font-size: 16px;
    line-height: 25px; }
.single-recipe-carousel-nav div { margin: 6px 9px 5px; }
.single-recipe-carousel-nav img { cursor: pointer; }
.single-recipe h1,
.single-recipe h2,
.single-recipe h3,
.single-recipe h4,
.single-recipe h5,
.single-recipe h6,
.single-recipe .h1,
.single-recipe .h2,
.single-recipe .h3,
.single-recipe .h4,
.single-recipe .h5,
.single-recipe .h6 { text-transform: uppercase;
    text-align: left; }
.single-recipe p { margin-bottom: 30px;
    font-size: 17px;
    line-height: 27px; }
article p { color: var(--color-text);
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 29px; }
.recent-post li img { width: 85px;
    float: left; }
.comments-area .comment .comment-image img { border-radius: 50%;
    width: 80px;
    height: 80px; }
.comments-area .commentlist ul .comment p { margin-bottom: 0; }
.comments-area .comment p { color: var(--color-text);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0; }
.recent-products li img { width: 76px;
    float: left; }
.payment-method .col-md-4 span { display: inline-block;
    margin-left: 9px;
    position: relative;
    top: -1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px; }
.payment-method p { font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px; }
.ma-address p { font-size: 17px; }
.gallery-item img { width: 100%; }
.single-shop-carousel img { width: 100%; }
.shop-single-info p { font-size: 18px;
    color: var(--color-text);
    line-height: 32px;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 35px;
    margin-bottom: 45px; }
.tab-pane p { font-size: 18px;
    line-height: 32px;
    margin-bottom: 30px;
    color: var(--color-text); }
.comment-list li p { margin-left: 70px;
    line-height: 21px; }
.menu-item4 img { transform: scale(1);
    transition: .4s;
    opacity: 1; }
.menu-item4:hover img { transform: scale(1.1);
    transition: .4s;
    opacity: 0.9; }
.menu-item2 img { transform: scale(1);
    transition: .4s;
    opacity: 1; }
.menu-item2:hover img { transform: scale(1.1);
    transition: .4s;
    opacity: 0.9; }
.statusMessage p { margin: 0;
    padding: 20px;
    color: var(--color-text-muted);
    font-size: 14px; }
.successmessage p { margin: 0;
    padding: 20px;
    color: var(--color-text-muted);
    font-size: 14px; }
.errormessage p { margin: 0;
    padding: 20px;
    color: var(--color-text-muted);
    font-size: 14px; }
.slider-img img { transform: scale(1);
    transition: .4s;
    opacity: 1; }
.flexslider.special-slider .slides > li:hover .slider-img img { transform: scale(1.1);
    transition: .4s;
    opacity: 0.9; }
.features-img { overflow: hidden; }
.features-img img { transform: scale(1);
    transition: .4s;
    opacity: 1; }
.features-tile:hover .features-img img { transform: scale(1.1);
    transition: .4s;
    opacity: 0.9; }
article.blog-mason-item p { color: var(--color-text-muted);
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 29px; }
.element-tab .tab-content > .tab-pane p { margin: 0px;
    font-size: 18px;
    line-height: 32px;
    padding: 25px; }
.pricing p { font-size: 18px;
    color: var(--color-text);
    line-height: 36px;
    margin: 47px 0 48px; }
.panel-body p { color: var(--color-text);
    margin: 0px;
    font-size: 18px;
    line-height: 32px;
    padding: 25px; }
.flexslider .slides img { width: 100%;
    display: block; }
.flexslider .slides img { height: auto; }
.flex-control-thumbs img { width: 100%;
    height: auto;
    display: block;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
.flex-control-thumbs img:hover { opacity: 1; }
.owl-carousel .owl-item img { display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
.owl-carousel .owl-item img { transform-style: preserve-3d; }
.datepicker>div { display: none }
img.mfp-img { width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto; }
.mfp-figure small { color: var(--color-border);
    display: block;
    font-size: 12px;
    line-height: 14px; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.fadeInDown { -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown }
.fadeInUp { -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp }
.bg-list div,
.color-list div { display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 4px 10px;
    padding: 1px;
    border-radius: 3px;
    border: 1px solid var(--color-border);
    background-clip: content-box;
    cursor: pointer;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out; }
.bg-list div.active,
.color-list div.active { opacity: 1;
    border: 1px solid var(--color-accent, var(--color-secondary));
    box-shadow: inset 0 0 0 2px var(--color-accent, var(--color-secondary)); }
.color-list div { box-shadow: inset 0 0 0 1px var(--color-bg); }
.color-list div.active { box-shadow: inset 0 0 0 2px var(--color-accent, var(--color-secondary)), inset 0 0 0 3px var(--color-bg); }
@media print {
  tr,img { page-break-inside:avoid }
  img { max-width:100%!important }
  p,h2,h3 { orphans:3;widows:3 }
}
@media (min-width:768px) {
  .container { width:750px }
  .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 { float:left }
  .col-sm-6 { width:50% }
  .container>.navbar-header,.container-fluid>.navbar-header,.container>.navbar-collapse,.container-fluid>.navbar-collapse { margin-right:0;margin-left:0 }
  .navbar>.container .navbar-brand,.navbar>.container-fluid .navbar-brand { margin-left:-15px }
}
@media (min-width:992px) {
  .container { width:970px }
  .col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12 { float:left }
  .col-md-12 { width:100% }
  .col-md-4 { width:33.33333333% }
}
@media (min-width:1200px) {
  .container { width:1170px }
}
@media screen and (min-width:768px) {
  .container .jumbotron,.container-fluid .jumbotron { padding-right:60px;padding-left:60px }
  .jumbotron h1,.jumbotron .h1 { font-size:63px }
}
@media (min-width:768px) and (max-width:991px) {
  .visible-sm { display:block!important }
  table.visible-sm { display:table }
  tr.visible-sm { display:table-row!important }
  th.visible-sm,td.visible-sm { display:table-cell!important }
}
@media (max-width: 768px) {
  .home .tittle-block img { height: 200px; }
  .home .tittle-block h1 { font-size: 42px; }
}
@media (max-width: 1200px) {
  .special-slider .slider-content .page-header h1 { font-size: 24px; }
  .special-slider .slider-content .page-header h1 .small { font-size: 18px; }
  .special-slider .slider-content p { font-size: 18px; }
  .subscribe h1,
    .subscribe p,
    .subscribe form { float: none;
        text-align: center; }
  .subscribe p { margin-left: 0px;
        margin-top: 10px; }
}
@media (max-width: 992px) {
  .recipie-content img { float: none;
        width: 100%;
        margin-bottom: 25px; }
}
@media (max-width: 767px) {
  .fp-content img { width: 100%; }
  .menu-item2 img,
    .menu-item4 img { min-width: 100%; }
  h1,
    .h1 { font-size: 32px; }
}
@media (max-width: 480px) {
  .cart-table img { max-width: 50px;
        height: auto; }
  .contact-info p { font-size: 15px; }
}
@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
  .mfp-img-mobile img.mfp-img { padding: 0; }
  .mfp-img-mobile .mfp-figure small { display: inline;
        margin-left: 5px; }
}
</style>
<section class="features">
                <div class="container">
                    <div data-animate="stagger" class="row">
                        <div class="col-md-12">
                            <div class="page-header wow fadeInDown">
                                <h1 data-animate="text-split" data-split-type="words" class="white">{{FEATURES_TITLE}}</h1>
                            </div>
                        </div>
                    </div>
                    <div data-animate="stagger" class="row wow fadeInUp">
                        <div class="col-md-4 col-sm-6">
                            <div class="features-tile">
                                <div class="features-img">
                                    <img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL}}" alt="{{FEATURES_IMAGE_ALT}}" />
                                </div>
                                <div class="features-content">
                                    <div class="page-header">
                                        <h1 data-animate="text-split" data-split-type="words">{{FEATURES_TITLE_2}}</h1>
                                    </div>
                                    <p data-animate="blur-slide" data-delay="0.2">{{FEATURES_SUBTITLE}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="features-tile">
                                <div class="features-img">
                                    <img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_2}}" alt="{{FEATURES_IMAGE_ALT_2}}" />
                                </div>
                                <div class="features-content">
                                    <div class="page-header">
                                        <h1 data-animate="text-split" data-split-type="words">{{FEATURES_TITLE_3}}</h1>
                                    </div>
                                    <p data-animate="blur-slide" data-delay="0.2">{{FEATURES_TEXT}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="features-tile">
                                <div class="features-img">
                                    <img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_3}}" alt="{{FEATURES_IMAGE_ALT_3}}" />
                                </div>
                                <div class="features-content">
                                    <div class="page-header">
                                        <h1 data-animate="text-split" data-split-type="words">{{FEATURES_TITLE_4}}</h1>
                                    </div>
                                    <p data-animate="blur-slide" data-delay="0.2">{{FEATURES_TEXT_2}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 visible-sm">
                            <div class="features-tile">
                                <div class="features-img">
                                    <img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_4}}" alt="{{FEATURES_IMAGE_ALT_4}}" />
                                </div>
                                <div class="features-content">
                                    <div class="page-header">
                                        <h1 data-animate="text-split" data-split-type="words">{{FEATURES_TITLE_5}}</h1>
                                    </div>
                                    <p data-animate="blur-slide" data-delay="0.2">{{FEATURES_TEXT_3}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
  </div>
</section>
