<!-- Component: features-spamagic-01 -->
<!-- Tags: imported -->
<section id="features" class="bg-fixed features-section division" data-animate="fade-up">
				<div class="container">

					<!-- SECTION TITLE -->
					<div data-animate="stagger" class="row">
						<div class="col-lg-10 mr-auto ml-auto">
							<div class="section-title">
								<h2 data-animate="text-split" data-split-type="words" class="tra-header">{{FEATURES_TITLE}}</h2>
								<h3 data-animate="fade-up">{{FEATURES_SUBTITLE}}</h3>
								<p data-animate="blur-slide" data-delay="0.2">{{FEATURES_SUBTITLE_2}}</p>
							</div>
						</div>
					</div>

		 			<div data-animate="stagger" class="row">

						<!-- FEATURE #1 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox text-center wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL}}" alt="{{FEATURES_IMAGE_ALT}}" /></div>
								<h5 class="h5-sm">Creative Design</h5>
							</div>
						</div>

						<!-- FEATURE #2 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_2}}" alt="{{FEATURES_IMAGE_ALT_2}}" /></div>
								<h5 class="h5-sm">Responsive & Retina Ready</h5>
							</div>
						</div>

						<!-- FEATURE #3 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_3}}" alt="{{FEATURES_IMAGE_ALT_3}}" /></div>
								<h5 class="h5-sm">Based on Bootstrap 4.5.x</h5>
							</div>
						</div>

		 				<!-- FEATURE #4 -->
		 				<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_4}}" alt="{{FEATURES_IMAGE_ALT_4}}" /></div>
								<h5 class="h5-sm">Cross Browser</h5>
							</div>
						</div>

						<!-- FEATURE #5-->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_5}}" alt="{{FEATURES_IMAGE_ALT_5}}" /></div>
								<h5 class="h5-sm">Optimized For Speed</h5>
							</div>
						</div>

						<!-- FEATURE #6 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_6}}" alt="{{FEATURES_IMAGE_ALT_6}}" /></div>
								<h5 class="h5-sm">SEO Optimized</h5>
							</div>
						</div>

						<!-- FEATURE #7 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_7}}" alt="{{FEATURES_IMAGE_ALT_7}}" /></div>
								<h5 class="h5-sm">Highly Customizable</h5>
							</div>
						</div>

						<!-- FEATURE #8 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_8}}" alt="{{FEATURES_IMAGE_ALT_8}}" /></div>
								<h5 class="h5-sm">Clean Code</h5>
							</div>
						</div>

						<!-- FEATURE #9 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_9}}" alt="{{FEATURES_IMAGE_ALT_9}}" /></div>
								<h5 class="h5-sm">Mega Menu Plugin</h5>
							</div>
						</div>

						<!-- FEATURE #10 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_10}}" alt="{{FEATURES_IMAGE_ALT_10}}" /></div>
								<h5 class="h5-sm">SPA Vector Icons</h5>
							</div>
						</div>

						<!-- FEATURE #11 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_11}}" alt="{{FEATURES_IMAGE_ALT_11}}" /></div>
								<h5 class="h5-sm">Online Booking Form</h5>
							</div>
						</div>

						<!-- FEATURE #12 -->
						<div class="col-md-4 col-xl-3">
							<div class="fbox wow fadeInUp">
								<div class="fbox-img"><img data-animate="scale-in" data-delay="0.3" src="{{FEATURES_IMAGE_URL_12}}" alt="{{FEATURES_IMAGE_ALT_12}}" /></div>
								<h5 class="h5-sm">Dedicated Support</h5>
							</div>
						</div>

					</div>	<!-- End row -->

			 	</div>	   <!-- End container -->

			 	<!-- Content Image -->
				<div class="content-img">
					<div class="ab-img-01"><img data-animate="scale-in" data-delay="0.3" class="img-fluid" src="{{FEATURES_IMAGE_URL_13}}" alt="{{FEATURES_IMAGE_ALT_13}}"></div>
				</div>

			</section>
